<div id="content_wrapper" class="fullWidth3-wrapper">
	<div class="content">
		<header class="header-wrapper overlay header-md">
			<h1>{{title}}</h1>
		</header>
		<div class="content-body">
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-block">
							<div class="row">
								<div class="col-sm-6">
									<div class="card alt-card">
										<header class="card-header">
											<h2 class="card-title">Headings</h2>
											</header>
											<div class="card-block">
												<p>All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, are available. <code>.h1</code> through <code>.h6</code> classes are also available, for when you want to match the font
													styling of a heading but still want your text to be displayed inline.</p>
												<h1>h1. Bootstrap heading</h1>
												<h2>h2. Bootstrap heading</h2>
												<h3>h3. Bootstrap heading</h3>
												<h4>h4. Bootstrap heading</h4>
												<h5>h5. Bootstrap heading</h5>
												<h6>h6. Bootstrap heading</h6>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="card alt-card">
											<header class="card-header">
												<h2 class="card-title">Secondary Headings</h2>
												</header>
												<div class="card-block">
													<p>Create lighter, secondary text in any heading with a generic
														<code>&lt;small&gt;</code> tag or the <code>.small</code> class.</p>
													<h1>h1. Bootstrap heading <small>Secondary text</small></h1>
													<h2>h2. Bootstrap heading <small>Secondary text</small></h2>
													<h3>h3. Bootstrap heading <small>Secondary text</small></h3>
													<h4>h4. Bootstrap heading <small>Secondary text</small></h4>
													<h5>h5. Bootstrap heading <small>Secondary text</small></h5>
													<h6>h6. Bootstrap heading <small>Secondary text</small></h6>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-4">
											<div class="card alt-card">
												<header class="card-header">
													<h2 class="card-title">Body copy</h2>
													</header>
													<div class="card-block">
														<p>Bootstrap"s global default <code>font-size</code> is <strong>14px</strong>, with a <code>line-height</code> of <strong>1.428</strong>. This is applied to the <code>&lt;body&gt;</code> and all paragraphs.
															In addition, <code>&lt;p&gt;</code> (paragraphs) receive a bottom margin of half their computed line-height (10px by default).</p>
														<p>Mixtape cred typewriter, air plant la croix church-key mustache vexillologist fashion axe flexitarian lyft bespoke. Quinoa asymmetrical YOLO celiac, raclette keffiyeh crucifix tbh mumblecore tofu
															yuccie 3 wolf moon hot chicken messenger bag. Raclette pop-up lo-fi raw denim.
														</p>
													</div>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="card alt-card">
													<header class="card-header">
														<h2 class="card-title">Lead body copy</h2>
														
													</header>
													<div class="card-block">
														<p>Make a paragraph stand out by adding <code>.lead</code>.</p>
														<p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
													</div>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="card alt-card">
													<header class="card-header">
														<h2 class="card-title">Marked text</h2>
									
													</header>
													<div class="card-block">
																			<p>For highlighting a run of text due to its relevance in another context, use the <code>&lt;mark&gt;</code> tag.</p>
														<p>You can use the mark tag to <mark>highlight</mark> text.</p>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="card alt-card">
													<header class="card-header">
														<h2 class="card-title">Addresses</h2>
													</header>
													<div class="card-block">
														<p>Present contact information for the nearest ancestor or the entire body of work. Preserve formatting by ending all lines with <code>&lt;br&gt;</code>.</p>
														<address> <strong>Twitter, Inc.</strong><br> 1355 Market Street, Suite 900<br> San Francisco, CA 94103<br> <abbr title="Phone">P:</abbr> (123) 456-7890 </address>
													</div>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="card alt-card">
													<header class="card-header">
														<h2 class="card-title">Blockquotes</h2>
													</header>
													<div class="card-block">
														<p>Wrap <code>&lt;blockquote&gt;</code> around any <abbr title="HyperText Markup Language">HTML</abbr> as the quote. For straight quotes, we recommend a <code>&lt;p&gt;</code>.</p>
														<blockquote>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
														</blockquote>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="card">
									<header class="card-header">
										<h2 class="card-title">List Items</h2>
									</header>
									<div class="card-block">
										<div class="row">
											<div class="col-sm-4">
												<h4>Unordered -Bullets</h4>
												<ul>
													<li>Distillery semiotics venmo</li>
													<li>Asymmetrical fap sustainable
														<ul>
															<li>Vape trust fund</li>
															<li>Readymade kinfolk</li>
															<li>Artisan pickled</li>
														</ul>
													</li>
													<li>Prism gluten-free</li>
													<li>Shabby chic heirloom</li>
													<li>Air plant la croix</li>
												</ul>
											</div>
											<div class="col-sm-4">
												<h4>Unordered - No Bullets</h4>
												<ul class="style-none">
													<li>Distillery semiotics venmo</li>
													<li>Asymmetrical fap sustainable
														<ul>
															<li>Vape trust fund</li>
															<li>Readymade kinfolk</li>
															<li>Artisan pickled</li>
														</ul>
													</li>
													<li>Prism gluten-free</li>
													<li>Shabby chic heirloom</li>
													<li>Air plant la croix</li>
												</ul>
											</div>
											<div class="col-sm-4">
												<h4>Ordered</h4>
												<ol>
													<li>Distillery semiotics venmo</li>
													<li>Asymmetrical fap sustainable
														<ol>
															<li>Vape trust fund</li>
															<li>Readymade kinfolk</li>
															<li>Artisan pickled</li>
														</ol>
													</li>
													<li>Prism gluten-free</li>
													<li>Shabby chic heirloom</li>
													<li>Air plant la croix</li>
												</ol>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
		</div>
	</div>

</div>
	<footer id="footer_wrapper" class="footer_wrapper"></footer>
