<div id="content_wrapper" class="fullWidth1-wrapper">
	<div class="content">
		<header class="header-wrapper header-sm">
			<h1>{{title}}</h1>
		</header>
		<div class="content-body">
			<div class="row">
				<div class="col">
					<div class="card">
						<header class="card-header ">
							<h2 class="card-title">Information</h2>
						</header>
						<div class="card-block">
							<p>List groups are a flexible and powerful component for displaying not only simple lists of elements, but complex ones with custom content.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">List Group with Icons</h2>
						</header>
						<div class="card-block">
							<div class="list-group">
								<div class="list-group-item">
									<div class="row-action-primary">
										<i class="zmdi zmdi-folder circle mw-salmon"></i>
									</div>
									<div class="row-content">
										<h4 class="list-group-item-heading">List item with icon</h4>
										<p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
									</div>
								</div>
								<div class="list-group-item">
									<div class="row-action-primary">
										<i class="zmdi zmdi-folder circle mw-salmon"></i>
									</div>
									<div class="row-content">
										<h4 class="list-group-item-heading">List item with icon</h4>
										<p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
									</div>
								</div>
								<div class="list-group-item">
									<div class="row-action-primary">
										<i class="zmdi zmdi-folder circle mw-salmon"></i>
									</div>
									<div class="row-content">
										<h4 class="list-group-item-heading">List item with icon</h4>
										<p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
									</div>
								</div>
								<div class="list-group-item">
									<div class="row-action-primary">
										<i class="zmdi zmdi-folder circle mw-salmon"></i>
									</div>
									<div class="row-content">
										<h4 class="list-group-item-heading">List item with icon</h4>
										<p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<header class="card-header ">
							<h2 class="card-title">List Group with Avatars</h2>
						</header>
						<div class="card-block">
							<div class="list-group">
								<div class="list-group-item">
									<div class="row-action-primary">
										<img src="assets/img/profiles/11.jpg" alt="contact person" class="img-circle circle">
									</div>
									<div class="row-content">
										<div class="least-content"><a href="javascript:void" data-toggle="tooltip" data-placement="left" title="" data-original-title="More Info"><i class="zmdi zmdi-info"></i></a></div>
										<h4 class="list-group-item-heading">List item with icon</h4>
										<p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
									</div>
								</div>
								<div class="list-group-item">
									<div class="row-action-primary">
										<img src="assets/img/profiles/08.jpg" alt="contact person" class="img-circle circle">
									</div>
									<div class="row-content">
										<div class="least-content"><a href="javascript:void" data-toggle="tooltip" data-placement="left" title="" data-original-title="More Info"><i class="zmdi zmdi-info"></i></a></div>
										<h4 class="list-group-item-heading">List item with icon</h4>
										<p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
									</div>
								</div>
								<div class="list-group-item">
									<div class="row-action-primary">
										<img src="assets/img/profiles/07.jpg" alt="contact person" class="img-circle circle">
									</div>
									<div class="row-content">
										<div class="least-content"><a href="javascript:void" data-toggle="tooltip" data-placement="left" title="" data-original-title="More Info"><i class="zmdi zmdi-info"></i></a></div>
										<h4 class="list-group-item-heading">List item with icon</h4>
										<p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
									</div>
								</div>
								<div class="list-group-item">
									<div class="row-action-primary">
										<img src="assets/img/profiles/13.jpg" alt="contact person" class="img-circle circle">
									</div>
									<div class="row-content">
										<div class="least-content"><a href="javascript:void" data-toggle="tooltip" data-placement="left" title="" data-original-title="More Info"><i class="zmdi zmdi-info"></i></a></div>
										<h4 class="list-group-item-heading">List item with icon</h4>
										<p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="card">
						<header class="card-header ">
							<h2 class="card-title">List Group with Controls</h2>
						</header>
						<div class="card-block">
							<div class="list-group">
								<div class="list-group-item">
									<div class="row-action-primary">
										<i class="zmdi zmdi-folder circle mw-blue"></i>
									</div>
									<div class="row-content">
										<div class="least-content">
											<mat-checkbox class="l-m-10 r-m-10"></mat-checkbox>
										</div>
										<h4 class="list-group-item-heading">List item with icon</h4>
										<p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
									</div>
								</div>
								<div class="list-group-item">
									<div class="row-action-primary">
										<i class="zmdi zmdi-folder circle mw-blue"></i>
									</div>
									<div class="row-content">
										<div class="least-content">
											<mat-checkbox class="l-m-10 r-m-10"></mat-checkbox>
										</div>
										<h4 class="list-group-item-heading">List item with icon</h4>
										<p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
									</div>
								</div>
								<div class="list-group-item">
									<div class="row-action-primary">
										<i class="zmdi zmdi-folder circle mw-blue"></i>
									</div>
									<div class="row-content">
										<div class="least-content">
											<mat-checkbox class="l-m-10 r-m-10"></mat-checkbox>
										</div>
										<h4 class="list-group-item-heading">List item with icon</h4>
										<p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
									</div>
								</div>
								<div class="list-group-item">
									<div class="row-action-primary">
										<i class="zmdi zmdi-folder circle mw-blue"></i>
									</div>
									<div class="row-content">
										<div class="least-content">
											<mat-checkbox class="l-m-10 r-m-10"></mat-checkbox>
										</div>
										<h4 class="list-group-item-heading">List item with icon</h4>
										<p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Dismissable Content</h2>
						</header>
						<div class="card-block">
							<div class="list-group" id="dismissable-group">
								<div class="list-group-item">
									<div class="row-action-primary">
										<i class="zmdi zmdi-folder circle mw-turquoise"></i>
									</div>
									<div class="row-content">
										<div class="least-content"><a href="javascript:void(0)" class="dismissable"><i class="zmdi zmdi-mail-send"></i></a></div>
										<h4 class="list-group-item-heading">List item with icon</h4>
										<p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
									</div>
								</div>
								<div class="list-group-item">
									<div class="row-action-primary">
										<i class="zmdi zmdi-folder circle mw-turquoise"></i>
									</div>
									<div class="row-content">
										<div class="least-content"><a href="javascript:void(0)" class="dismissable"><i class="zmdi zmdi-mail-send"></i></a></div>
										<h4 class="list-group-item-heading">List item with icon</h4>
										<p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
									</div>
								</div>
								<div class="list-group-item">
									<div class="row-action-primary">
										<i class="zmdi zmdi-folder circle mw-turquoise"></i>
									</div>
									<div class="row-content">
										<div class="least-content"><a href="javascript:void(0)" class="dismissable"><i class="zmdi zmdi-mail-send"></i></a></div>
										<h4 class="list-group-item-heading">List item with icon</h4>
										<p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
									</div>
								</div>
								<div class="list-group-item">
									<div class="row-action-primary">
										<i class="zmdi zmdi-folder circle mw-turquoise"></i>
									</div>
									<div class="row-content">
										<div class="least-content"><a href="javascript:void(0)" class="dismissable"><i class="zmdi zmdi-mail-send"></i></a></div>
										<h4 class="list-group-item-heading">List item with icon</h4>
										<p class="list-group-item-text">Fashion axe kitsch marfa, art party gluten-free beard meditation lumbersexual pinterest sapiente. Paleo flexitarian bushwick letterpress, ea migas yr adipisicing. Man bun tacos tumblr kombucha, yuccie banjo.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer id="footer_wrapper" class="footer_wrapper"></footer>
