<nav id="app_main-menu-wrapper">
	<ul class="nav-logo nav-mobile">
		<li class="nav-item logo-wrapper">
			<a href="javascript:void(0)" [routerLink]="['/dashboards']">
				<div class="logo">
					<img src="assets/img/logo/logo-icon.png" alt="Logo">
				</div>
				<h1 class="brand-text">Material Lab</h1>
			</a>
		</li>
	</ul>
	<div class="sidebar-inner sidebar-push" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
		<profile></profile>
		<ul class="nav nav-pills flex-column">
			<li class="sidebar-header">NAVIGATION</li>
			<li routerLinkActive="active"><a md-ripple href="javascript:void(0)" [routerLink]="['/dashboards']" class=""><i class="zmdi zmdi-view-dashboard"></i>Dashboards</a></li>
			<li routerLinkActive="active"><a md-ripple href="javascript:void(0)" class="" [routerLink]="['/chat']"><i class="zmdi zmdi-comments"></i>Chat</a></li>
		</ul>
	</div>
</nav>
