.ana-pagination {
    width: 100%;
    display: flex;
    flex-direction: row;
}

    .ana-pagination .info {
        flex-grow: 1;
        line-height: 40px;
    }

:host {
    width: 100%;
}

.app-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.list-item {
    background-color: white;
}

.list-item-text {
    width: 100%;
}

.list-item-buttons {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
}

.app-content-header {
    display: flex;
    flex-direction: row;
    margin: 11px 0;
}

.app-content-header-text {
    flex-grow: 1;
    margin-top: 14px;
}

.list-item-hint {
    font-size: 13px;
    opacity: 0.5;
    font-style: italic
}

mat-list-item {
    margin-bottom: 10px;
}

.search-text {
    margin-right: 10px;
}
