
<!-- news section-->
<section class="team-bg" id="news">
   <div class="animation-circle-inverse">
      <i></i>
      <i></i>
      <i></i>
   </div>
   <div class="container">
      <div class="row">
         <div class="col-md-8 offset-md-2 text-center">
            <div class="section-title">
               <h2>Our Recent Blog</h2>
            </div>
         </div>
         <div class="col-md-12">
            <!-- If images array is dynamically changing pass this array to [items] input -->
           <owl-carousel [options]="blogCarousel" [items]="blog" [carouselClasses]="['news-slider owl-carousel owl-theme']">
               <div class="item news-slid" *ngFor="let bg of blog">
                  <div class="news-box">
                     <a href="blog-details.html">
                        <img [src]="bg.image" alt="news-1" class="img-fluid">
                     </a>
                     <div class="blog-hover">
                        <h4>{{bg.title}}</h4>
                        <ul class="list-inline blog-details-list">
                           <li><a [routerLink]="'/blog/details'">John Doe</a></li>
                           <li><a [routerLink]="'/blog/details'">1 Oct</a></li>
                           <li><a [routerLink]="'/blog/details'">25 comments</a></li>
                           <li><a [routerLink]="'/blog/details'">3 View</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="news-text">
                     <p>{{bg.details}}</p>
                     <a [routerLink]="'/blog/details'" class="btn-theme">View more</a>
                  </div>
               </div>
            </owl-carousel>
         </div>
      </div>
   </div>
</section>
<!-- end news section-->