<div>
    <h2 id="page-heading">
        <span>Chat Projects</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-chat-project" [routerLink]="['/chat-project/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Chat Project
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="chatProjects?.length === 0">
        <span>No chatProjects found</span>
    </div>
    <div class="table-responsive" *ngIf="chatProjects?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Name</span></th>
            <th scope="col" ><span>Status</span></th>
            <th scope="col" ><span>User Id</span></th>
            <th scope="col" ><span>Flow</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chatProject of chatProjects ;trackBy: trackId">
                <td><a [routerLink]="['/chat-project', chatProject.id, 'view' ]">{{chatProject.id}}</a></td>
                <td>{{chatProject.name}}</td>
                <td>{{chatProject.status}}</td>
                <td>{{chatProject.userId}}</td>
                <td>
                    <div *ngIf="chatProject.flow">
                        <a [routerLink]="['/chat-flow', chatProject.flow?.id, 'view' ]" >{{chatProject.flow?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/chat-project', chatProject.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/chat-project', chatProject.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(chatProject)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
