<h2 matDialogTitle>Publish chatbot</h2>
<mat-dialog-content>
    <mat-card *ngIf="!savedConns || savedConns.length <= 0" class="text-center">
        <h4>
            Looks like you don't have any saved Chatbot.sh chat server connections.
            <br />
            <br />
            <button mat-raised-button color="primary" (click)="managePublishServers()">Add Chatbot.sh chat server connection</button>
        </h4>
    </mat-card>

    <mat-form-field *ngIf="savedConns && savedConns.length>0">
        <mat-select placeholder="Server" [(ngModel)]="selectedServer" name="PublishServer">
            <mat-option *ngFor="let conn of savedConns" [value]="conn">
                {{ conn.Name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="selectedServer">
        <mat-select placeholder="Chat Project" [(ngModel)]="selectedProject" name="Project">
            <mat-option *ngFor="let proj of selectedServer.ChatProjects" [value]="proj">
                {{ proj.Name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="left" *ngIf="savedConns && savedConns.length>0">
        <button mat-raised-button (click)="managePublishServers()">Add/edit Chatbot.sh chat servers</button>
    </div>
    <div class="spacing"></div>
    <div class="right">
        <button mat-raised-button [disabled]="!selectedServer || !selectedProject" color="primary" (click)="publish()">Publish</button>
        <button mat-raised-button (click)="dismiss()">Dismiss</button>
    </div>
</mat-dialog-actions>