<!-- package section -->
<section class="theme-bg" id="package">
   <div class="container">
      <div class="row">
         <div class="col-md-12 text-center">
            <div class="section-title">
               <h2 class="text-white">Our Pricing Plans</h2>
               <img src="assets/images/white-line.png" alt="title-line" class="img-fluid">
            </div>
         </div>
         <div class="col-md-12 text-center">
             <!-- If images array is dynamically changing pass this array to [items] input -->
            <owl-carousel [options]="pricingCarousel" [items]="price" [carouselClasses]="['plan-slider owl-carousel owl-theme']">
               <div class="item" *ngFor="let prices of price">
                  <div class="package-box">
                     <h3>{{prices.type}}</h3>
                     <div class="price-box">
                        <span>$</span><h2>{{prices.price}}</h2>
                        <h5 class="plan-clr">
                           <span class="d-block">{{prices.duration}}</span>
                        </h5>
                     </div>
                     <div class="price-plan text-center">
                        <ul [innerHTML]="prices.feature"></ul>
                        <div class="price-plan-btn">Select Plan</div>
                     </div>
                  </div>
               </div>
            </owl-carousel>
         </div>
      </div>
   </div>
</section>
<!-- end package section -->