<div id="content_wrapper" class="fullWidth1-wrapper">
	<div class="content">
		<header class="header-wrapper header-sm">
			<h1>Helper Classes</h1>
		</header>
		<div class="content-body">
			<div class="card">
				<div class="card-block">
					<div class="row">
			              <div class="col-xs-12 col-sm-6">
			                <div class="card card-transparent">
			                  <header class="card-header">
			                    <h2 class="card-title">Padding</h2>
			                    
			                  </header>
			                  <div class="card-block">
			                    <pre style="white-space: pre-line">
			                      .p-0 &#123;
			                          padding: 0 !important;
			                      &#125;
			                      .p-5 &#123;
			                          padding: 5px !important;
			                      &#125;
			                      .p-10 &#123;
			                          padding: 10px !important;
			                      &#125;
			                      .p-15 &#123;
			                          padding: 15px !important;
			                      &#125;
			                      .p-20 &#123;
			                          padding: 20px !important;
			                      &#125;
			                      .p-25 &#123;
			                          padding: 25px !important;
			                      &#125;
			                      .p-30 &#123;
			                          padding: 30px !important;
			                      &#125;
			                      .p-40 &#123;
			                          padding: 40px !important;
			                      &#125;
			                      .p-50 &#123;
			                          padding: 50px !important;
			                      &#125;
			                      .p-75 &#123;
			                          padding: 75px !important;
			                      &#125;
			                      .p-100 &#123;
			                          padding: 100px !important;
			                      &#125;
			                      .p-l-0 &#123;
			                          padding-left: 0 !important;
			                      &#125;
			                      .p-l-5 &#123;
			                          padding-left: 5px !important;
			                      &#125;
			                      .p-l-10 &#123;
			                          padding-left: 10px !important;
			                      &#125;
			                      .p-l-15 &#123;
			                          padding-left: 15px !important;
			                      &#125;
			                      .p-l-20 &#123;
			                          padding-left: 20px !important;
			                      &#125;
			                      .p-l-25 &#123;
			                          padding-left: 25px !important;
			                      &#125;
			                      .p-l-30 &#123;
			                          padding-left: 30px !important;
			                      &#125;
			                      .p-l-40 &#123;
			                          padding-left: 40px !important;
			                      &#125;
			                      .p-l-50 &#123;
			                          padding-left: 50px !important;
			                      &#125;
			                      .p-l-75 &#123;
			                          padding-left: 75px !important;
			                      &#125;
			                      .p-l-100 &#123;
			                          padding-left: 100px !important;
			                      &#125;
			                      .p-b-0 &#123;
			                          padding-bottom: 0 !important;
			                      &#125;
			                      .p-b-5 &#123;
			                          padding-bottom: 5px !important;
			                      &#125;
			                      .p-b-10 &#123;
			                          padding-bottom: 10px !important;
			                      &#125;
			                      .p-b-15 &#123;
			                          padding-bottom: 15px !important;
			                      &#125;
			                      .p-b-20 &#123;
			                          padding-bottom: 20px !important;
			                      &#125;
			                      .p-b-25 &#123;
			                          padding-bottom: 25px !important;
			                      &#125;
			                      .p-b-30 &#123;
			                          padding-bottom: 30px !important;
			                      &#125;
			                      .p-b-40 &#123;
			                          padding-bottom: 40px !important;
			                      &#125;
			                      .p-b-50 &#123;
			                          padding-bottom: 50px !important;
			                      &#125;
			                      .p-b-60 &#123;
			                          padding-bottom: 60px !important;
			                      &#125;
			                      .p-b-70 &#123;
			                          padding-bottom: 70px !important;
			                      &#125;
			                      .p-b-80 &#123;
			                          padding-bottom: 80px !important;
			                      &#125;
			                      .p-b-90 &#123;
			                          padding-bottom: 90px !important;
			                      &#125;
			                      .p-b-100 &#123;
			                          padding-bottom: 100px !important;
			                      &#125;
			                      .p-t-0 &#123;
			                          padding-top: 0 !important;
			                      &#125;
			                      .p-t-5 &#123;
			                          padding-top: 5px !important;
			                      &#125;
			                      .p-t-10 &#123;
			                          padding-top: 10px !important;
			                      &#125;
			                      .p-t-15 &#123;
			                          padding-top: 15px !important;
			                      &#125;
			                      .p-t-20 &#123;
			                          padding-top: 20px !important;
			                      &#125;
			                      .p-t-25 &#123;
			                          padding-top: 25px !important;
			                      &#125;
			                      .p-t-30 &#123;
			                          padding-top: 30px !important;
			                      &#125;
			                      .p-t-40 &#123;
			                          padding-top: 40px !important;
			                      &#125;
			                      .p-t-50 &#123;
			                          padding-top: 50px !important;
			                      &#125;
			                      .p-t-75 &#123;
			                          padding-top: 75px !important;
			                      &#125;
			                      .p-t-100 &#123;
			                          padding-top: 100px !important;
			                      &#125;
			                      .p-t-120 &#123;
			                          padding-top: 120px !important;
			                      &#125;
			                      .p-t-130 &#123;
			                          padding-top: 130px !important;
			                      &#125;
			                      .p-t-140 &#123;
			                          padding-top: 140px !important;
			                      &#125;
			                      .p-t-150 &#123;
			                          padding-top: 150px !important;
			                      &#125;
			                    </pre>
			                  </div>
			                </div>
			                
			                
			                <div class="card card-transparent">
			                  <header class="card-header">
			                    <h2 class="card-title">Image Sizes</h2>
			                    
			                  </header>
			                  <div class="card-block">
			                    <pre style="white-space: pre-line">
			                      .img-xs &#123;
			                          width: 30px;
			                          height: 30px;
			                      &#125;
			                      .img-sm &#123;
			                          width: 35px;
			                          height: 35px;
			                      &#125;
			                      .img-md &#123;
			                          width: 55px;
			                          height: 55px;
			                      &#125;
			                      .img-lg &#123;
			                          width: 100px;
			                          height: 100px;
			                      &#125;
			                    </pre>
			                  </div>
			                </div>
			                
			                <div class="card card-transparent">
			                  <header class="card-header">
			                    <h2 class="card-title">Min/Max Width Height</h2>
			                  </header>
			                  <div class="card-block">
			                    <pre style="white-space: pre-line">
			                      .max-w-20&#123;
			                        max-width: 20px!important;
			                      &#125;
			                      .max-w-30&#123;
			                        max-width: 30px!important;
			                      &#125;
			                      .max-w-32&#123;
			                        max-width: 35px!important;
			                      &#125;
			                      .max-w-35&#123;
			                        max-width: 35px!important;
			                      &#125;
			                      .max-w-40&#123;
			                        max-width: 40px!important;
			                      &#125;
			                      .max-w-50&#123;
			                        max-width: 50px!important;
			                      &#125;
			                      .max-w-75&#123;
			                        max-width: 75px!important;
			                      &#125;
			                      .max-w-100&#123;
			                        max-width: 100px!important;
			                      &#125;
			                      .max-w-150&#123;
			                        max-width: 150px!important;
			                      &#125;
			                      .max-w-200&#123;
			                        max-width: 200px!important;
			                      &#125;
			                      //== Min/Max width/height

			                      .max-h-100 &#123;
			                          max-height: 100px!important;
			                      &#125;
			                      .max-h-200 &#123;
			                          max-height: 200px!important;
			                      &#125;
			                      .max-h-250 &#123;
			                          max-height: 250px!important;
			                      &#125;
			                      .max-h-300 &#123;
			                          max-height: 300px!important;
			                      &#125;
			                      .max-h-350 &#123;
			                          max-height: 300px!important;
			                      &#125;
			                      .max-h-375 &#123;
			                          max-height: 300px!important;
			                      &#125;
			                      .max-h-400 &#123;
			                          max-height: 400px!important;
			                      &#125;
			                      .max-h-450 &#123;
			                          max-height: 450px!important;
			                      &#125;
			                      .max-h-500 &#123;
			                          max-height: 500px!important;
			                      &#125;
			                      .max-h-600 &#123;
			                          max-height: 600px!important;
			                      &#125;
			                      .max-h-650 &#123;
			                          max-height: 650px!important;
			                      &#125;
			                      .max-h-700 &#123;
			                          max-height: 700px!important;
			                      &#125;
			                      .max-h-800 &#123;
			                          max-height: 800px!important;
			                      &#125;
			                      .max-h-900 &#123;
			                          max-height: 900px!important;
			                      &#125;
			                      .max-h-1000 &#123;
			                          max-height: 1000px!important;
			                      &#125;
			                      .min-h-0&#123;
			                        min-height:0!important;
			                      &#125;
			                      .min-h-100 &#123;
			                          min-height: 100px!important;
			                      &#125;
			                      .min-h-200 &#123;
			                          min-height: 200px!important;
			                      &#125;
			                      .min-h-250 &#123;
			                          min-height: 250px!important;
			                      &#125;
			                      .min-h-300 &#123;
			                          min-height: 300px!important;
			                      &#125;
			                      .min-h-350 &#123;
			                          min-height: 300px!important;
			                      &#125;
			                      .min-h-375 &#123;
			                          min-height: 300px!important;
			                      &#125;
			                      .min-h-400 &#123;
			                          min-height: 400px!important;
			                      &#125;
			                      .min-h-450 &#123;
			                          min-height: 450px!important;
			                      &#125;
			                      .min-h-500 &#123;
			                          min-height: 500px!important;
			                      &#125;
			                      .min-h-600 &#123;
			                          min-height: 600px!important;
			                      &#125;
			                      .min-h-650 &#123;
			                          min-height: 650px!important;
			                      &#125;
			                      .min-h-700 &#123;
			                          min-height: 700px!important;
			                      &#125;
			                      .min-h-800 &#123;
			                          min-height: 800px!important;
			                      &#125;
			                      .min-h-900 &#123;
			                          min-height: 900px!important;
			                      &#125;
			                      .min-h-1000 &#123;
			                          min-height: 1000px!important;
			                      &#125;
			                      //== width/height
			                      .h-5 &#123;
			                          height: 5px!important;
			                      &#125;
			                      .h-10 &#123;
			                          height: 10px!important;
			                      &#125;
			                      .h-50&#123;
			                          height: 50px!important;
			                      &#125;
			                      .h-75 &#123;
			                          height: 75px!important;
			                      &#125;
			                      .h-100 &#123;
			                          height: 100px!important;
			                      &#125;
			                      .h-125 &#123;
			                          height: 125px!important;
			                      &#125;
			                      .h-150 &#123;
			                          height: 150px!important;
			                      &#125;
			                      .h-200 &#123;
			                          height: 200px!important;
			                      &#125;
			                      .h-300 &#123;
			                          height: 300px!important;
			                      &#125;
			                      .h-400 &#123;
			                          height: 400px!important;
			                      &#125;
			                      .h-450 &#123;
			                          height: 450px!important;
			                      &#125;
			                      .h-500 &#123;
			                          height: 500px!important;
			                      &#125;
			                      .h-600 &#123;
			                          height: 600px!important;
			                      &#125;
			                      .h-650 &#123;
			                          height: 650px!important;
			                      &#125;
			                      .h-700 &#123;
			                          height: 700px!important;
			                      &#125;
			                      .h-800 &#123;
			                          height: 800px!important;
			                      &#125;
			                      .h-900 &#123;
			                          height: 900px!important;
			                      &#125;
			                      .h-1000 &#123;
			                          height: 1000px!important;
			                      &#125;
			                      .w-5 &#123;
			                          width: 5px!important;
			                      &#125;
			                      .w-10 &#123;
			                          width: 10px!important;
			                      &#125;
			                      .w-15 &#123;
			                          width: 15px!important;
			                      &#125;
			                      .w-20 &#123;
			                          width: 20px!important;
			                      &#125;
			                      .w-100p &#123;
			                          width: 100%;
			                      &#125;
			                      .h-100p &#123;
			                          width: 100%;
			                      &#125;
			                    </pre>
			                  </div>
			                </div>
			              </div>
			              <div class="col-xs-12 col-sm-6">
			                <div class="card card-transparent">
			                  <header class="card-header">
			                    <h2 class="card-title">Margins</h2>
			                    
			                  </header>
			                  <div class="card-body">
			                    <pre style="white-space: pre-line">
													
			                      .m-0 &#123;
			                        margin: 0 !important;
			                      &#125;
			                      .m-5 &#123;
			                        margin: 5px !important;
			                      &#125;
			                      .m-10 &#123;
			                        margin: 10px !important;
			                      &#125;
			                      .m-15 &#123;
			                        margin: 15px !important;
			                      &#125;
			                      .m-20 &#123;
			                        margin: 20px !important;
			                      &#125;
			                      .m-30 &#123;
			                        margin: 30px !important;
			                      &#125;
			                      .m-50 &#123;
			                        margin: 50px !important;
			                      &#125;
			                      .m-l-0 &#123;
			                        margin-left: 0 !important;
			                      &#125;
			                      .m-l-5 &#123;
			                        margin-left: 5px !important;
			                      &#125;
			                      .m-l-10 &#123;
			                        margin-left: 10px !important;
			                      &#125;
			                      .m-l-15 &#123;
			                        margin-left: 15px !important;
			                      &#125;
			                      .m-l-20 &#123;
			                        margin-left: 20px !important;
			                      &#125;
			                      .m-l-30 &#123;
			                        margin-left: 30px !important;
			                      &#125;
			                      .m-l-40 &#123;
			                        margin-left: 40px !important;
			                      &#125;
			                      .m-l-50 &#123;
			                        margin-left: 50px !important;
			                      &#125;
			                      .m-l-n-1 &#123;
			                        margin-left: -1px !important;
			                      &#125;
			                      .m-l-n-5 &#123;
			                        margin-left: -5px !important;
			                      &#125;
			                      .m-l-n-10 &#123;
			                        margin-left: -10px !important;
			                      &#125;
			                      .m-l-n-15 &#123;
			                        margin-left: -15px !important;
			                      &#125;
			                      .m-l-n-20 &#123;
			                        margin-left: -20px !important;
			                      &#125;
			                      .m-l-n-30 &#123;
			                        margin-left: -30px !important;
			                      &#125;
			                      .m-l-n-40 &#123;
			                        margin-left: -40px !important;
			                      &#125;
			                      .m-l-n-50 &#123;
			                        margin-left: -50px !important;
			                      &#125;
			                      .m-t-0 &#123;
			                        margin-top: 0 !important;
			                      &#125;
			                      .m-t-1 &#123;
			                        margin-top: 1px !important;
			                      &#125;
			                      .m-t-5 &#123;
			                        margin-top: 5px !important;
			                      &#125;
			                      .m-t-10 &#123;
			                        margin-top: 10px !important;
			                      &#125;
			                      .m-t-15 &#123;
			                        margin-top: 15px !important;
			                      &#125;
			                      .m-t-20 &#123;
			                        margin-top: 20px !important;
			                      &#125;
			                      .m-t-30 &#123;
			                        margin-top: 30px !important;
			                      &#125;
			                      .m-t-40 &#123;
			                        margin-top: 40px !important;
			                      &#125;
			                      .m-t-50 &#123;
			                        margin-top: 50px !important;
			                      &#125;
			                      .m-t-75 &#123;
			                        margin-top: 75px !important;
			                      &#125;
			                      .m-t-100 &#123;
			                        margin-top: 100px !important;
			                      &#125;
			                      .m-t-120 &#123;
			                        margin-top: 120px !important;
			                      &#125;
			                      .m-t-140 &#123;
			                        margin-top: 140px !important;
			                      &#125;
			                      .m-t-n-1 &#123;
			                        margin-top: -1px !important;
			                      &#125;
			                      .m-t-n-5 &#123;
			                        margin-top: -5px !important;
			                      &#125;
			                      .m-t-n-10 &#123;
			                        margin-top: -10px !important;
			                      &#125;
			                      .m-t-n-15 &#123;
			                        margin-top: -15px !important;
			                      &#125;
			                      .m-t-n-20 &#123;
			                        margin-top: -20px !important;
			                      &#125;
			                      .m-t-n-30 &#123;
			                        margin-top: -30px !important;
			                      &#125;
			                      .m-t-n-40 &#123;
			                        margin-top: -40px !important;
			                      &#125;
			                      .m-t-n-50 &#123;
			                        margin-top: -50px !important;
			                      &#125;
			                      .m-r-0 &#123;
			                        margin-right: 0 !important;
			                      &#125;
			                      .m-r-1 &#123;
			                        margin-right: 1px !important;
			                      &#125;
			                      .m-r-5 &#123;
			                        margin-right: 5px !important;
			                      &#125;
			                      .m-r-10 &#123;
			                        margin-right: 10px !important;
			                      &#125;
			                      .m-r-15 &#123;
			                        margin-right: 15px !important;
			                      &#125;
			                      .m-r-20 &#123;
			                        margin-right: 20px !important;
			                      &#125;
			                      .m-r-30 &#123;
			                        margin-right: 30px !important;
			                      &#125;
			                      .m-r-40 &#123;
			                        margin-right: 40px !important;
			                      &#125;
			                      .m-r-50 &#123;
			                        margin-right: 50px !important;
			                      &#125;
			                      .m-r-n-1 &#123;
			                        margin-right: -1px !important;
			                      &#125;
			                      .m-r-n-5 &#123;
			                        margin-right: -5px !important;
			                      &#125;
			                      .m-r-n-10 &#123;
			                        margin-right: -10px !important;
			                      &#125;
			                      .m-r-n-15 &#123;
			                        margin-right: -15px !important;
			                      &#125;
			                      .m-r-n-20 &#123;
			                        margin-right: -20px !important;
			                      &#125;
			                      .m-r-n-30 &#123;
			                        margin-right: -30px !important;
			                      &#125;
			                      .m-r-n-40 &#123;
			                        margin-right: -40px !important;
			                      &#125;
			                      .m-r-n-50 &#123;
			                        margin-right: -50px !important;
			                      &#125;
			                      .m-b-0 &#123;
			                        margin-bottom: 0 !important;
			                      &#125;
			                      .m-b-1 &#123;
			                        margin-bottom: 1px !important;
			                      &#125;
			                      .m-b-5 &#123;
			                        margin-bottom: 5px !important;
			                      &#125;
			                      .m-b-10 &#123;
			                        margin-bottom: 10px !important;
			                      &#125;
			                      .m-b-15 &#123;
			                        margin-bottom: 15px !important;
			                      &#125;
			                      .m-b-20 &#123;
			                        margin-bottom: 20px !important;
			                      &#125;
			                      .m-b-30 &#123;
			                        margin-bottom: 30px !important;
			                      &#125;
			                      .m-b-40 &#123;
			                        margin-bottom: 40px !important;
			                      &#125;
			                      .m-b-50 &#123;
			                        margin-bottom: 50px !important;
			                      &#125;
			                      .m-b-n-1 &#123;
			                        margin-bottom: -1px !important;
			                      &#125;
			                      .m-b-n-5 &#123;
			                        margin-bottom: -5px !important;
			                      &#125;
			                      .m-b-n-10 &#123;
			                        margin-bottom: -10px !important;
			                      &#125;
			                      .m-b-n-15 &#123;
			                        margin-bottom: -15px !important;
			                      &#125;
			                      .m-b-n-20 &#123;
			                        margin-bottom: -20px !important;
			                      &#125;
			                      .m-b-n-30 &#123;
			                        margin-bottom: -30px !important;
			                      &#125;
			                      .m-b-n-40 &#123;
			                        margin-bottom: -40px !important;
			                      &#125;
			                      .m-b-n-50 &#123;
			                        margin-bottom: -50px !important;
			                      &#125;
												
			                    </pre>
			                  </div>
			                </div>
			                
			                <div class="card card-transparent">
			                  <header class="card-header">
			                    <h2 class="card-title">Shadows</h2>
			                    
			                  </header>
			                  <div class="card-block">
			                    <pre style="white-space: pre-line">
												
			                      .shadow-z-1&#123;
			                        @include shadow-z-1();
			                      &#125;
			                      .shadow-z-1:hover&#123;
			                        @include shadow-z-1-hover();
			                      &#125;

			                      .shadow-z-2&#123;
			                        @include shadow-z-2();
			                      &#125;
			                      .shadow-z-3&#123;
			                        @include shadow-z-3();
			                      &#125;
			                      .shadow-z-4&#123;
			                        @include shadow-z-4();
			                      &#125;
			                      .shadow-z-5&#123;
			                        @include shadow-z-5();
			                      &#125;
			                      .big-shadow&#123;
			                        @include big-shadow();
			                      &#125;
			                      .shadow-2dp&#123;
			                        @include shadow-2dp();
			                      &#125;

			                      .shadow-3dp&#123;
			                        @include shadow-3dp();
			                      &#125;

			                      .shadow-4dp&#123;
			                        @include shadow-4dp();
			                      &#125;
			                      .shadow-6dp&#123;
			                        @include shadow-6dp();
			                      &#125;

			                      .shadow-8dp&#123;
			                        @include shadow-8dp();
			                      &#125;

			                      .shadow-16dp&#123;
			                        @include shadow-16dp();
			                      &#125;

			                      .shadow-24dp&#123;
			                        @include shadow-24dp();
			                      &#125;
												
			                    </pre>
			                  </div>
			                </div>
			                <div class="card card-transparent">
			                  <header class="card-header">
			                    <h2 class="card-title">Font Weight/Size</h2>
			                    
			                  </header>
			                  <div class="card-block">
			                    <pre style="white-space: pre-line">
													
			                      font-weight-100 &#123;
			                          font-weight: 100!important
			                      &#125;

			                      .font-weight-200 &#123;
			                          font-weight: 200!important
			                      &#125;

			                      .font-weight-300 &#123;
			                          font-weight: 300!important
			                      &#125;

			                      .font-weight-400 &#123;
			                          font-weight: 400!important
			                      &#125;

			                      .font-weight-500 &#123;
			                          font-weight: 500!important
			                      &#125;

			                      .font-weight-600 &#123;
			                          font-weight: 600!important
			                      &#125;

			                      .font-weight-700 &#123;
			                          font-weight: 700!important
			                      &#125;

			                      .font-weight-800 &#123;
			                          font-weight: 800!important
			                      &#125;

			                      .font-weight-900 &#123;
			                          font-weight: 900!important
			                      &#125;

			                      .font-weight-light &#123;
			                          font-weight: 100!important
			                      &#125;

			                      .font-weight-normal &#123;
			                          font-weight: 300!important
			                      &#125;

			                      .font-weight-medium &#123;
			                          font-weight: 400!important
			                      &#125;

			                      .font-weight-bold &#123;
			                          font-weight: 500!important
			                      &#125;

			                      .font-size-0 &#123;
			                          font-size: 0!important
			                      &#125;

			                      .font-size-10 &#123;
			                          font-size: 10px!important
			                      &#125;

			                      .font-size-12 &#123;
			                          font-size: 12px!important
			                      &#125;

			                      .font-size-14 &#123;
			                          font-size: 14px!important
			                      &#125;

			                      .font-size-16 &#123;
			                          font-size: 16px!important
			                      &#125;

			                      .font-size-18 &#123;
			                          font-size: 18px!important
			                      &#125;

			                      .font-size-20 &#123;
			                          font-size: 20px!important
			                      &#125;

			                      .font-size-24 &#123;
			                          font-size: 24px!important
			                      &#125;

			                      .font-size-26 &#123;
			                          font-size: 26px!important
			                      &#125;

			                      .font-size-30 &#123;
			                          font-size: 30px!important
			                      &#125;

			                      .font-size-40 &#123;
			                          font-size: 40px!important
			                      &#125;

			                      .font-size-50 &#123;
			                          font-size: 50px!important
			                      &#125;

			                      .font-size-60 &#123;
			                          font-size: 60px!important
			                      &#125;

			                      .font-size-70 &#123;
			                          font-size: 70px!important
			                      &#125;

			                      .font-size-80 &#123;
			                          font-size: 80px!important
			                      &#125;
												
			                    </pre>
			                  </div>
			                </div>
			              </div>
			            </div>
				</div>
			</div>
		</div>
	</div>

</div>
	<footer id="footer_wrapper" class="footer_wrapper"></footer>
