body {

}

.header-div {
    height: 50px;
}

.logo-sm {
    width: 100px;
    margin-left: 16px;
    margin-top: 8px;
}

.logo-text {
    color: #0D47A1;
    font-weight: 500;
    font-size: 32px;
}
.left-pane {
    height: 100vh;
}

.quarter-width {
    width: 25%;
}
.half-width {
    width: 50%;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 80vh;
}

.links-list li:hover {
    cursor: pointer !important;
    background: #f5f5f5 !important;
}

.no-border {
    border: none !important;
}

.collection .collection-item.avatar .square {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

.collection .collection-item:last-child {
    border-bottom: 1px solid #e0e0e0;
}

.pages-ul {
    width: 480px;
}

.fixed-at-top {
    z-index: 100;
    position: fixed;
    margin-top: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    min-height: 20px;
    background-color: #fffaeb;
    padding: 5px 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: x-small;
}

.error {
    z-index: 100;
    position: fixed;
    margin-top: 20px !important;
    right: 20px;
    /*left: 50%;*/
    /*margin-right: -50%;*/
    /*transform: translate(-50%, 0%);*/
    max-width: 40%;
    min-width: 20%;
    color: #1c1c1c;
    border-radius: 4px;
    box-shadow: 0 0 3px black;
    padding: 1px;
    background-color: #d4212f;
}

.error .error-title {
    background-color: #d4212f;
    color: #f0f0f0;
    min-height: 40%;
    padding: 3px 10px;
}

.error .error-title .delete {
    top: 4px;
    right: 4px  ;
    position: absolute;
}

.error .error-title strong {
    color: #f0f0f0 !important;
}

.error .error-message {
    padding: 5px 10px;
    background-color: #ffcecf;
    color: #af383c !important;
    min-height: 2em;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    overflow: visible;
}

.error .error-message strong {
    color: #af383c !important;
}