.mat-sidenav-content,
.mat-drawer-content {
	background-color: #eef5f9 !important;
	overflow: initial !important;
}
.mat-input-underline,
.mat-select-underline {
	background-color: rgba(0, 0, 0, 0.12) !important;
}
.mat-form-field {
	width: auto !important;
	display: block !important;
}
.material-icons {
	color: #688696 !important;
}
