@import "../../shared/styles/main/util/index";

/*
margin-bottom: -3px

display: flow-root //
float: left/right //

border-radius: 6px; //

//Hide diamond
//Global colors to #ana-green
time: font-size: 8px //

i.zmdi.zmdi-mail-send {
    margin-left: 4px;
}
*/

.chat-wrapper {
	.content {
		height: 99vh;

		.content-body:after {
			// background: url('assets/img/patterns/hypnotize.png'); //background: url('assets/img/patterns/seigaiha.png');
			opacity: 0.5;
			content: "";
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			position: absolute;
			z-index: -1;
		}

		.content-body {
			padding: 0;
		}

		#messages {
			overflow-y: scroll !important;
			height: 79vh;
		}

		.activeProfile {
			margin: 0;
			padding: 0;
			list-style: none;
			position: absolute;
			left: 70px;
			top: 20px;

			.display-name {
				font-size: 14px;
				padding: 0 10px;
				font-weight: 600;
			}
		}

		.chat-empty {
			width: 100%;
			height: 100%;
			padding-top: 20%;
			text-align: center;
			min-height: calc(100vh - 200px) !important;

			.chat-icon {
				width: 200px;
				height: 200px;
				border-radius: 100%;
				background-color: rgba(#688696, .3);
				text-align: center;
				margin: 0 auto 20px;
				position: relative;

				&:after {
					content: '\f266';
					font-family: $materialDesignIconic;
					color: #688696;
					font-size: rem(120px); // line-height: 1.7;
				}
			}

			h3 {
				font-size: rem(22px);
			}
		}

		.bs-example {
			flex: 1;
			padding: 15px;
			border-style: none;
			overflow-y: auto;
		}

		.author {
			font-size: 8px;
			opacity: 0.7;
			font-style: italic;
		}

		p {
			font-size: 16px;
			margin-bottom: 0px;
			line-height: 30px;
		}

		.bubble {
			border-radius: 6px;
			display: inline-block;
			padding: 7px 11px;
			position: relative;
			vertical-align: top;
			box-shadow: 0 1px 0.5px rgba(0, 0, 0, .13);
		}
		// .bubble::before {
		//     content: "\00a0";
		//     display: block;
		//     height: 14px;
		//     position: absolute;
		//     top: 11px;
		//     transform: rotate( 29deg) skew( -35deg);
		//     -moz-transform: rotate( 29deg) skew( -35deg);
		//     -ms-transform: rotate( 29deg) skew( -35deg);
		//     -o-transform: rotate( 29deg) skew( -35deg);
		//     -webkit-transform: rotate( 29deg) skew( -35deg);
		//     width: 20px;
		// }
		.chat-bubble-you {
			display: inherit;
			margin: 10px 15vw 5px 4vw;
			float: left;
		}

		.chat-bubble-you::before {
			left: -9px;
		}

		.chat-bubble-me {
			background-color: #fffcea;
			display: inherit;
			margin: 10px 4vw 5px 15vw;
			float: right;
		}

		.chat-bubble-me::before {
			background-color: #fffcea;
			right: -9px;
		}

		.bubble-wrapper {
			position: relative;
			display: flow-root;

			.avatar {
				display: none;
				width: 40px;
				min-width: 40px;
				height: 40px;
				line-height: 40px;
				margin: 0 8px 0 0;
				border-radius: 50%;
				font-size: 17px;
				font-weight: 500;
				text-align: center;
				color: #fff;
				box-shadow: 0 1px 0.5px rgba(0, 0, 0, .13);
				position: absolute;
				top: 30px;

				&.you {
					left: 20px;
				}

				&.me {
					right: 10px;
				}
			}
		}

		.main-bottom {
			margin: 0.7rem 0 1.5rem;
		}
	}
}

aside {
	.header {
		position: relative;
		padding: 15px !important;
		// height: 65px;
		.subtitle {
			font-size: 13px;
			opacity: 0.8;
		}

		.title {
			font-size: 20px;
		}
	}

	#filter_contact_wrapper {
		.header-search-icon {
			position: absolute;
			left: 12px;
			top: 9px;
			color: rgba(104, 134, 150, .7);
		}

		.filter-contacts {
			background: #ffffff;
			border-radius: 30px;
			height: 40px;
			padding: 5px 25px;
			box-shadow: 0 2px 2px 0 rgba(227, 236, 247, .14), 0 3px 1px -2px rgba(227, 236, 247, .2), 0 1px 5px 0 rgba(227, 236, 247, .12);
			border-color: #e1e8ec;
			font-size: 12px;
			text-indent: 6px;
		}
	}
}

#chat_input_wrapper {
	bottom: 0;
	width: 100%;
	height: 11vh;
	padding: 10px 30px 0;
	background: #fff;
	position: absolute;
}

.list-item-selected {
	background: #bee1f7;
}

.chats-range {
	display: flex;
	flex-direction: row;
	margin: -14px;

	& .pages {
		display: flex;
		align-items: center;
		flex-grow: 1;

		& span {
			margin-left: auto;
			margin-right: auto;
		}
	}
}