<html class=" no-touchevents devicemotion deviceorientation" style="">

<head>
    <meta charset="utf-8">
    <title>Techstar</title>
    <meta name="description" content="Techstar is bot platform for creating an AI chatbot on Facebook.">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="application-name" content="Techstar">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/images/favicons/manifest.json">
    <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#ff3d00">
    <meta name="theme-color" content="#ffffff">
    <meta itemprop="name" content="Techstar">
    <meta itemprop="description" content="Easily create text or voice based bots that humans can chat with on their preferred messaging platform.">
    <meta itemprop="image" content="https://techstar.cloud/assets/images/shares/1200x630.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Techstar">
    <meta name="twitter:description" content="Techstar is bot platform for creating an AI chatbot on Facebook.">
    <meta name="twitter:image" content="https://techstar.cloud/assets/images/shares/500x250.jpg">
    <meta property="og:title" content="Techstar">
    <meta property="og:url" content="https://techstar.cloud/">
    <meta property="og:site_name" content="Techstar">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Techstar is bot platform for creating an AI chatbot on Facebook.">
    <meta property="og:image" content="https://techstar.cloud/assets/images/shares/1200x630.jpg">
    <link href="https://fonts.googleapis.com/css?family=Teko:400" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
</head>

<body class="">
    <main class="techstar-main is-theme-dark">

        <div class="techstar-main__pages u-absolute u-pos-tl u-fit js-main-pages is-visible">
            <div class="techstar-pages u-absolute u-fit u-pos-tl" style="transform: translateX(-17.1px) translateY(2.1px) translateZ(0px);">
                <!---->
                <div class="techstar-page techstar-home u-absolute u-fit u-pos-tl is-page-active" id="particles-js">
                    <div class="techstar-page__inner">
                        <div class="techstar-title techstar-home__title u-uppercase u-align-center is-visible is-optimized">Techstar bot platform.</div>
                        <div class="techstar-paragraph techstar-home__description u-align-center is-visible has-translate-y">
                            <div class="techstar-paragraph__line has-index-0 has-inverse-index-1">
                                <span class="techstar-paragraph__char">Techstar is bot platform for creating an</span>
                            </div>
                            <div class="techstar-paragraph__line has-index-1 has-inverse-index-0">
                                <span class="techstar-paragraph__char">AI chatbot on Facebook.</span>
                            </div>
                        </div>
                        <div class="techstar-home__buttons">
                            <a href="http://www.techstar.cloud/login" target="_blank" class="techstar-home-button is-ios o-glitch-hover o-glitch-hover--default u-inline-block u-relative">
                                <span class="o-glitch-hover__letter is-letter">L</span>
                                <span class="o-glitch-hover__letter is-letter">O</span>
                                <span class="o-glitch-hover__letter is-letter">G</span>
                                <span class="o-glitch-hover__letter is-letter">I</span>
                                <span class="o-glitch-hover__letter is-letter">N</span>
                                <span class="techstar-home-button__border u-absolute u-pos-tl u-fit"></span>
                                <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMy42IDUuOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMy42IDUuODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiNDQUJBQzA7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fQo8L3N0eWxlPgo8cG9seWxpbmUgY2xhc3M9InN0MCIgcG9pbnRzPSIwLjQsMC40IDIuOSwyLjkgMC40LDUuNCAiLz4KPC9zdmc+Cg=="
                                    width="4" height="6" class="techstar-home-button__arrow u-inline-block u-absolute">
                            </a>
                            <br class="techstar-home__buttons-line-break">
                            <a href="https://github.com/techstar-inc" target="_blank" class="techstar-home-button is-android o-glitch-hover o-glitch-hover--default u-inline-block u-relative">
                                <span class="o-glitch-hover__letter is-letter">G</span>
                                <span class="o-glitch-hover__letter is-letter">I</span>
                                <span class="o-glitch-hover__letter is-letter">T</span>
                                <span class="o-glitch-hover__letter is-letter">H</span>
                                <span class="o-glitch-hover__letter is-letter">U</span>
                                <span class="o-glitch-hover__letter is-letter">B</span>
                                <span class="techstar-home-button__border u-absolute u-pos-tl u-fit"></span>
                                <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMy42IDUuOCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMy42IDUuODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiNDQUJBQzA7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fQo8L3N0eWxlPgo8cG9seWxpbmUgY2xhc3M9InN0MCIgcG9pbnRzPSIwLjQsMC40IDIuOSwyLjkgMC40LDUuNCAiLz4KPC9zdmc+Cg=="
                                    width="4" height="6" class="techstar-home-button__arrow u-inline-block u-absolute">
                            </a>
                        </div>
                    </div>
                    <a href="/console" class="techstar-home-discover u-inline-block u-absolute o-glitch-hover o-glitch-hover--default">
                        <span class="techstar-home-discover__label u-inline-block">
                       
                            <span class="o-glitch-hover__letter is-letter"> © </span>
                            <span class="o-glitch-hover__letter is-letter">2</span>
                            <span class="o-glitch-hover__letter is-letter">0</span>
                            <span class="o-glitch-hover__letter is-letter">1</span>
                            <span class="o-glitch-hover__letter is-letter">7</span>
                            <span class="o-glitch-hover__letter is-letter"> </span>
                            <span class="o-glitch-hover__letter is-letter"> </span>
                            <span class="o-glitch-hover__letter is-letter">T</span>
                            <span class="o-glitch-hover__letter is-letter">E</span>
                            <span class="o-glitch-hover__letter is-letter">C</span>
                            <span class="o-glitch-hover__letter is-letter">H</span>
                            <span class="o-glitch-hover__letter is-letter">S</span>
                            <span class="o-glitch-hover__letter is-letter">T</span>
                            <span class="o-glitch-hover__letter is-letter">A</span>
                            <span class="o-glitch-hover__letter is-letter">R</span>
                            <span class="o-glitch-hover__letter is-letter">, </span>
                            <span class="o-glitch-hover__letter is-letter">I</span>
                            <span class="o-glitch-hover__letter is-letter">N</span>
                            <span class="o-glitch-hover__letter is-letter">C</span>
                            <span class="o-glitch-hover__letter is-letter">. </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="techstar-main__ui">
            <a href="/" class="techstar-main-logo u-fixed router-link-active">

                <svg viewBox="0 0 16 21" class="techstar-main-logo__icon u-absolute u-inline-block">
                    <path d="M14.5,7.1V6.1c0-6.2-13-6.2-13,0c0,6,0,5.7,0,8.5c0,6.4,13,6.4,13,0v-4.2H5" fill="none" stroke="#E61E1E" stroke-width="3" class="techstar-main-logo__icon-path techstar-main-logo__icon-path--fill js-main-logo-icon-path-fill" style="stroke-dashoffset: 59;"></path>
                    <g>
                        <path d="M9.5,13.6h-3v2.8c0.5,0.1,1,0.2,1.5,0.2s1-0.1,1.5-0.2V13.6z" fill="#E61E1E" class="techstar-main-logo__icon-dot techstar-main-logo__icon-dot--fill"></path>
                    </g>
                </svg>
            </a>
            
            <div class="techstar-main__no-nav-ui" style="">
                <a href="/menu" class="techstar-menu-trigger u-fixed">
                    <span class="techstar-menu-trigger__inner techstar-menu-trigger__inner--light u-block u-absolute u-fit">
                        <span class="techstar-menu-trigger__dots u-block u-absolute">
                            <span class="techstar-menu-trigger__dots-inner u-block u-absolute">
                                <span class="techstar-menu-trigger__dot has-index-0 u-block u-absolute"></span>
                                <span class="techstar-menu-trigger__dot has-index-1 u-block u-absolute"></span>
                                <span class="techstar-menu-trigger__dot has-index-2 u-block u-absolute"></span>
                            </span>
                        </span>
                        <span class="techstar-menu-trigger__cross u-block u-absolute">
                            <span class="techstar-menu-trigger__cross-bar has-index-0 u-block u-absolute"></span>
                            <span class="techstar-menu-trigger__cross-bar has-index-1 u-block u-absolute"></span>
                        </span>
                        <span class="techstar-menu-trigger__circles u-block u-absolute">
                            <span class="techstar-menu-trigger__circles-scaler u-block u-absolute">
                                <span class="techstar-menu-trigger__circles-inner u-block u-absolute">
                                    <span class="techstar-menu-trigger__circle has-index-0 u-block u-absolute">
                                        <span class="techstar-menu-trigger__circle-inner u-block u-absolute u-overflow-h">
                                            <span class="techstar-menu-trigger__circle-border u-block u-absolute"></span>
                                        </span>
                                    </span>
                                    <span class="techstar-menu-trigger__circle has-index-1 u-block u-absolute">
                                        <span class="techstar-menu-trigger__circle-inner u-block u-absolute u-overflow-h">
                                            <span class="techstar-menu-trigger__circle-border u-block u-absolute"></span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </span>
                </a>
                <span class="techstar-more u-block u-absolute">
                    <div class="techstar-more__inner techstar-more__inner--light u-absolute u-fit">
                        <span class="techstar-more__elements u-relative u-inline-block">
                            
                            <span class="u-hide@xxs">
                                <span class="techstar-more__pipe u-inline-block"></span>
                                <span class="techstar-more__website">
                                    <span class="u-hide@md">Powered</span> by </span>
                                <a href="http://techstar.cloud/" target="_blank" class="o-glitch-hover o-glitch-hover--default">
                                    <span class="o-glitch-hover__letter is-letter"> </span>
                                    <span class="o-glitch-hover__letter is-letter">T</span>
                                    <span class="o-glitch-hover__letter is-letter">e</span>
                                    <span class="o-glitch-hover__letter is-letter">c</span>
                                    <span class="o-glitch-hover__letter is-letter">h</span>
                                    <span class="o-glitch-hover__letter is-letter">s</span>
                                    <span class="o-glitch-hover__letter is-letter">t</span>
                                    <span class="o-glitch-hover__letter is-letter">a</span>
                                    <span class="o-glitch-hover__letter is-letter">r</span>
                                    <span class="o-glitch-hover__letter is-letter"> </span>
                                    <span class="o-glitch-hover__letter is-letter">P</span>
                                    <span class="o-glitch-hover__letter is-letter">L</span>
                                    <span class="o-glitch-hover__letter is-letter">A</span>
                                    <span class="o-glitch-hover__letter is-letter">T</span>
                                    <span class="o-glitch-hover__letter is-letter">F</span>
                                    <span class="o-glitch-hover__letter is-letter">O</span>
                                    <span class="o-glitch-hover__letter is-letter">R</span>
                                    <span class="o-glitch-hover__letter is-letter">M</span>
                                </a>
                            </span>
                        </span>
                        <span class="techstar-more__icon u-inline-block u-absolute">
                            <span class="techstar-more__icon-bar has-index-0 u-absolute u-block"></span>
                            <span class="techstar-more__icon-bar has-index-1 u-absolute u-block"></span>
                        </span>
                    </div>
                    <div class="techstar-more__inner techstar-more__inner--dark u-absolute u-fit">
                    </div>
                </span>
            </div>
            <a href="#" class="techstar-audio u-absolute u-inline-block is-active is-visible has-theme-light">
                <span class="techstar-audio__inner u-absolute u-block u-fit u-pos-tl">
                    <span class="techstar-audio__bar has-index-0 u-block u-absolute"></span>
                    <span class="techstar-audio__bar has-index-1 u-block u-absolute"></span>
                    <span class="techstar-audio__bar has-index-2 u-block u-absolute"></span>
                    <span class="techstar-audio__bar has-index-3 u-block u-absolute"></span>
                    <span class="techstar-audio__bar has-index-4 u-block u-absolute"></span>
                </span>
            </a>
        </div>

    </main>

</body>
<script src="js/particles.js"></script>
<script>
    /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
    particlesJS.load('particles-js', 'js/particles.json', function() {
        console.log('callback - particles.js config loaded');
    });
</script>

</html>