
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Pro - Easy learning</title>
  <meta name="description" content="">

  <!-- open graph -->
  <meta property="og:type"
        content="website">
  <meta property="og:site_name"
        content="Pro">
  <meta property="og:url"
        content="https://proenglish.herokuapp.com">
  <meta property="og:title"
        content="Better Than Your Learning App">
  <meta property="og:description"
        content="Pro is a smart chatbot that helps with learning language by answering questions.">
  <meta property="og:image"
        content="https://https://proenglish.herokuapp.com/image.jpg">
  <meta property="fb:app_id" content="1629644537359736" />

  <!-- Twitter -->
  <meta name="twitter:card"
        content="summary">
  <meta name="twitter:site"
        content="@proenglish">
  <meta name="twitter:title"
        content="Better Than Your Learning App">
  <meta name="twitter:description"
        content="Pro is a smart chatbot that helps with learning language by answering questions.">
  <meta name="twitter:image"
        content="https://proenglish.herokuapp.com/images/pro-logo-symbol.png">


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=7knW5OLYnl">
  <link rel="icon" type="image/png" href="/favicon-32x32.png?v=7knW5OLYnl" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png?v=7knW5OLYnl" sizes="16x16">
  <link rel="manifest" href="/manifest.json?v=7knW5OLYnl">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=7knW5OLYnl" color="#5bbad5">
  <link rel="shortcut icon" href="/favicon.ico?v=7knW5OLYnl">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="css/app.css">

  
  <!-- start Mixpanel --><script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
  0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
  for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);

  var productionHost = 'https://probot-tortuvshin.c9users.io/';
  var devToken  = '304e39e945e01d8d2d5616d113b8c700';
  var prodToken = 'ccf94d541ff96f4e8f0ed8136e748159';
  if (window.location.href.toLowerCase().search(productionHost) < 0) {
    mixpanel.init(devToken);
  } else {
    mixpanel.init(prodToken);
  }
  </script>
  <!-- end Mixpanel -->

  <!-- start Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-86271130-1', 'auto');
    ga('send', 'pageview');

  </script>
  <!-- end Google Analytics -->

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1786718738262879');
    fbq('track', 'PageView');
    
  </script>
  <noscript>
    <img height="1" width="1"
         src="https://www.facebook.com/tr?id=1786718738262879&ev=PageView
&noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->

</head>
<body>

<span class="nojs"><p>Please turn on Javascript first.</p></span>
<script>
  var nojs = document.getElementsByClassName("nojs");
  nojs[0].parentNode.removeChild(nojs[0])
</script>
<div class="wrapper">
  

<header class="header ">
	<div class="header__wrap">
		<div class="container">
      <span id='mainBrand' class="brand-logo"><a href="/"></a></span>
			<nav class="row between-xs">
				<div class="col-xs">
					<div class="toggle to-sm hamburger hamburger--elastic">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</div>
					<ul>
            <li><a href="/">Нүүр</a></li>
						<li><a href="/team" class="" >Бид хэн бэ?</a></li>
            <li><a href="/#features-section">Боломжууд</a></li>
					</ul>
				</div>
				<div class="col-xs col-md-2 col-sm-1 right-buttons">
					<a href="#" class="button button--tertiary from-md">Тусламж</a>
					<a href="#" class="button button--help to-md">?</a>
				</div>
			</nav>
		</div>
	</div>
</header>


  

<main id="main" class='home'>
	<div class="screen-section">
		<div class="screen-section__wrap">
			<div id='phoneScreen' class="phone-screen">
        <video preload="auto" loop class="video video--desktop" controls muted>
          <source src="/img/chat.mp4" type="video/mp4" /><!-- Safari / iOS video    -->
          <source src="/images/chat.ogg" type="video/ogg" /><!-- Firefox / Opera / Chrome10 -->
          <source src="/images/chat.webm" type="video/webm" />
        </video>
      </div>
			<span id='cloudYellowRight' class="cloud cloud--yellow cloud--right"></span>
			<span id='cloudVioletRight' class="cloud cloud--violet cloud--right"></span>
			<span id='cloudAquaRight' class="cloud cloud--aqua cloud--right"></span>
			<span id='cloudYellowLeft' class="cloud cloud--yellow cloud--left"></span>
			<span id='cloudVioletLeft' class="cloud cloud--violet cloud--left"></span>
			<span id='cloudAquaLeft' class="cloud cloud--aqua cloud--left"></span>
		</div>
	</div>
	<div class="scroll-container">
    
<section id='Section1' class="section scroll default first screenEnter logo-trigger" data-anchor='meetpro'>
	<div class="section__wrap">
		<div class="row middle-xs">
			<div class="col-xs-12">
				<div id='mainTitle' class="text-wrapper">
					<h1>Про <br />гэж юу вэ?</h1>
					<a id='mainCta' class="button button--primary meet-button">Боттой чатлах</a>
				</div>
			</div>
		</div>
	</div>
</section>


    
<section id='Section2' class="section scroll default mid"  data-anchor='meetpro2'>
  <span id='cloudMobileVioletRightSection2' class="cloud cloud--violet cloud--right cloud--right--mobile to-sm"></span>
  <span id='cloudMobileAquaRightSection2' class="cloud cloud--aqua cloud--right cloud--right--mobile to-sm"></span>
  <span id='cloudMobileYellowLeftSection2' class="cloud cloud--yellow cloud--left--mobile to-sm"></span>
	<div class="section__wrap">
  <div class="screen-section screen-section--mobile">
    <div class="screen-section__wrap">
      <div id='phoneScreenMobile' class="phone-screen phone-screen--mobile" >
        <video preload="auto" loop class="video video--desktop" controls muted>
          <source src="/img/chat.mp4" type="video/mp4" /><!-- Safari / iOS video    -->
          <source src="/images/chat.ogg" type="video/ogg" /><!-- Firefox / Opera / Chrome10 -->
          <source src="/images/chat.webm" type="video/webm" />
        </video>
      </div>
    </div>
  </div>
	</div>
</section>

<section id='Section3' class="section scroll default screenLeave mid" data-anchor="featureSection">

	<div class="section__wrap">
		<div class="row middle-xs">
			<div class="col-xs-12">
				<span class="fake-screen">
					<span class="fake-screen__wrap">
						<div id='textBubble1' class="text-bubble text-bubble--absolute text-bubble--right_corner">
							<div class="text-bubble__wrap">
								<p>💵 Бид танд англи хэлний анхан шатны мэдлэгээс академик түвшин хүртэлх мэдлэгийг үнэ төлбөргүйгээр хүргэж байна.?"</p>
							</div>
						</div>
						<div id='textBubble2' class="text-bubble text-bubble--absolute text-bubble--left_corner">
							<div class="text-bubble__wrap">
								<p>🎯 Та хэзээ ч хаана ч хүссэн цагтаа интернэтэд холбогдон суралцах боломжтой.</p>
							</div>
						</div>
						<div id='textBubble3' class="text-bubble text-bubble--absolute text-bubble--right_corner">
							<div class="text-bubble__wrap">
								<p>📊 Бидний зохиосон алгоритм нь таныг шинэ үгийг хялбар, зугаатай байдлаар цээжлэхэд туслана.</p>
							</div>
						</div>
						<div id='textBubble4' class="text-bubble text-bubble--absolute text-bubble--left_corner">
							<div class="text-bubble__wrap">
								<p>❤️ "Pro" бол англи хэлийг анхан шатнаас академик
түвшинд хүртэл бие дааж суралцахад тань туслах таны шинэ найз юм.</p>
							</div>
						</div>
					</span>
				</span>
			</div>
		</div>
	</div>
</section>
    
<section id='Section4' class="section scroll default short" data-anchor='trustpro' data-midnight="midnight-dark">
  <span id='cloudMobileYellowRightSection4' class="cloud cloud--yellow cloud--right cloud--right--mobile to-sm"></span>
  <span id='cloudMobileVioletRightSection4' class="cloud cloud--violet cloud--right cloud--right--mobil to-sm"></span>
  <span id='cloudMobileAquaLeftSection4' class="cloud cloud--aqua cloud--left cloud--left--mobile to-sm"></span>
	<div class="section__wrap">
		<span class="dark-background" id="darkBackground"></span>
		<div class="row middle-xs">
			<div class="col-xs-12">
				<div id='textOnDark' class="text-wrapper">
					<h1 id='textOnDarkTitle'>Яагаад Про-г хэрэглэх ёстой гэж?</h1>
					<p id='textOnDarkParagraph' class='big'>Про бол messenger-т суурьласан 📑 ухаалаг бот юм. Өдөр бүр таны хэл сурахад тулгарч буй бүх асуудлыг шийдэх болно 💳. Таньд маш сонирхолтой байдлаар хэл сурах боломжыг бид олгож байна</p>
          <div id="textOnDarkCta">
            <a href="/help.html" class="button button--secondary">Дэлгэрэнгүй</a>
          </div>
				</div>
			</div>
		</div>
	</div>
</section>
    
<section id='Section5' class="section scroll default" data-anchor='aboutpro'>
  <div class="section__wrap ">
    <div id='FeedbackTitle' class="text-wrapper">
      <h1>Хэрэглэгчдийн сэтгэгдэл</h1>
    </div>

    <div id='FeedbackContainer' class="feedback">
      <div  class="feedback__wrap carousel">
        <div class="carousel-cell">
          <a target='_blank' href='https://proenglish.herokuapp.com/' class="single-feedback">
            <div class="single-feedback__wrap">
              <div class="text-bubble text-bubble--big text-bubble--left_corner">
                <div class="text-bubble__wrap">
                  
                  
                    
                    <span class='sprite sprite--tnw '>
                <img srcset="../img/lkhamaa.png 1x, ../img/lkhamaa.png 2x" src="../img/lkhamaa.png" alt="user-photo">
                    </span>

                  <p>“Сайн байна уу, Танай хичээлүүдийг өчигдрөөс үзээд, өөрөө бие
дааж сурч байгаа. Үнэхээр сонирхолтой бөгөөд товч маш гоё зааж байна.”</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="carousel-cell">
          <a target='_blank' href='https://proenglish.herokuapp.com/' class="single-feedback">
            <div class="single-feedback__wrap">
              <div class="text-bubble text-bubble--big text-bubble--left_corner">
                <div class="text-bubble__wrap">
                  
                  
  
  <span class='sprite sprite--fintechage '>
     <img srcset="../img/ayush.png 1x, ../img/ayush.png 2x" src="../img/ayush.png" alt="user-photo">
  </span>

                  <p>“Сайн байна уу, Танайх маш хэрэгтэй зөв бодлоготой байна. Цаашдаа маш их зүйл хийгээрэй.
Ажлын өндөр амжилт хүсье..”</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="carousel-cell">
          <a target='_blank' href='https://proenglish.herokuapp.com/' class="single-feedback">
          <div class="single-feedback__wrap">
            <div class="text-bubble text-bubble--big text-bubble--left_corner">
              <div class="text-bubble__wrap">
                
                
  
                  <span class='sprite sprite--cityam '>
                                <img srcset="../img/doljko.png 1x, ../img/doljko.png 2x" src="../img/doljko.png" alt="user-photo">
                  </span>

                <p>“Англи хэл сурах боломжийг олгож байгаа үйлсэд чинь
чин сэтгэлээсээ талархаж байна.Ажлын өндөр амжилт хүсье.”</p>
              </div>
            </div>
          </div>
        </a>
        </div>
      </div>
    </div>
  </div>
</section>


    
<section id='Section6' class="section section--light default short trigger-last" data-anchor='checkpro'>
  <span id='cloudMobileYellowLeftSectionLast' class="cloud cloud--yellow cloud--left cloud--left--mobile to-sm"></span>
  <span id='cloudMobileVioletRightSectionLast' class="cloud cloud--violet cloud--right cloud--right--mobil to-sm"></span>
	<div class="section__wrap">
		<div class="row middle-xs">
			<div class="col-xs-12">
				<div id="FinalWrapper" class="text-wrapper">
					<div id="FinalLogo">
						
						
  
  <span class='sprite sprite--pro-logo '>
    <svg><use xlink:href='images/sprites-7fa55d5ee7.svg#pro-logo' /></use></svg>
  </span>

					</div>
					<h1 id='FinalTitle'>Таныг сонирхолтой байдлаар хэл сурахад туслана</h1>
          <p id='FinalText'>Pro ухаалаг чат бот нь таньд хүссэн цагт таны сонирхсон шинэ үгийг илгээж өдөр бүр шинэ үг цээжлэхэд тань туслах болно. </p>
          <div id="FinalCta">
            <a class="button button--primary meet-button">Боттой чатлах</a>
          </div>

				</div>
			</div>
		</div>
	</div>
</section>



  </div>
  <div class="background-text">
    <div class="background-text__wrap">
      <span id='bgText' >Ухаалаг чат бот</span>
    </div>
  </div>
</main>


  
<footer id='Footer' class="footer">
  <span id='cloudMobileAquaLeftSectionLast' class="cloud cloud--aqua cloud--left cloud--left--mobile to-sm"></span>
	<div class="footer__wrap">
		<div class="container">
			<div class="row middle-md">
				<div class="col-xs-12 col-md-8 last-xs first-md">
					<span class="brand-logo from-md">Про чат бот</span>
					<div class="copyright">
						<p>&copy;Pro Ltd. 2016, Зохиогчийн эрх хуулиар хамгаалагдсан.</p>
            <p>Made with &#9829; in Ulaanbaatar</p>
					</div>
				</div>
				<div class="col-xs-12 col-md-4 first-xs last-md">
					<span class="brand-logo to-sm">pro</span>
					<ul>
						<li><a href="#">Холбоо барих</a></li>
						<li><a href="/terms.html">Үйлчилгээний нөхцөл</a></li>
						<li><a href="/privacy.html">Хамтран ажиллах</a></li>
						<li><a href="https://facebook.com/">Facebook</a></li>
						<li><a target='_blank' href="https://twitter.com/">Twitter</a></li>
						<li><a target='_blank' href="https://linkedin.com/company/">LinkedIn</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>


</div>
<div class="preloader" style='display: none'>
  <svg class="spinner" width="70px" height="70px" viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg">
    <circle class="path-1" fill="none" stroke-width="6" stroke-linecap="round" cx="35" cy="35" r="20"></circle>
    <circle class="path-2" fill="none" stroke-width="6" stroke-linecap="round" cx="35" cy="35" r="26"></circle>
    <circle class="path-3" fill="none" stroke-width="6" stroke-linecap="round" cx="35" cy="35" r="32"></circle>
  </svg>
</div>
<div class="newsletter">
  <span class="whitebg"></span>
  <span id='modalCloudYellowLeft' class="cloud cloud--yellow cloud--left"></span>
  <span id='modalCloudAquaLeft' class="cloud cloud--aqua cloud--left"></span>
  <span id='modalCloudVioletRight' class="cloud cloud--violet cloud--right"></span>
  <div class="newsletter__wrap">
    <div class="modal">
      <div class="modal__wrap">
        <span class="closer">
          <span class="closer-inner"></span>
        </span>
        <div class="row center-xs middle-xs">
          <div class="col-xs-12 center-xs middle-xs">

            <script type="text/javascript">
              var productionHost = 'https://probot-tortuvshin.c9users.io/';
              var devUuid  = 'MF9c7aa80bdf';
              var prodUuid = 'MFc14f80f475';
              if (window.location.href.toLowerCase().search(productionHost) < 0) {
                window.Maitre = { uuid: devUuid };
              } else {
                window.Maitre = { uuid: prodUuid };
              }
            </script>
            <!-- <script data-maitre src='https://maitreapp.co/widget.js' async></script> -->

            <!-- Begin MailChimp Signup Form -->
            <!--
            <div id="mc_embed_signup">
              <form action="//pro.us12.list-manage.com/subscribe/post?u=8b01280d981ae393cc34e445a&amp;id=035ec356d6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                  <h3>Get early access</h3>
                  <p>Reserve your place in the queue!</p>
                  <div class="mc-field-group">
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email address">
                  </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8b01280d981ae393cc34e445a_035ec356d6" tabindex="-1" value=""></div>
                  <div class="clear"><br><input type="submit" value="Signup for free" name="subscribe" id="mc-embedded-subscribe" class="button button--accent"></div>
                </div>
              </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            -->
            <!--End mc_embed_signup-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<script src="js/shared.js"></script>

<script src="js/modernizr-bundle.js"></script>
<script src="js/app.js"></script>


</body>
</html>
