<% if (success.length > 0) { %>
    <div class="alert alert-success"><%= success %></div>
<% } %>

<div class="jumbotron text-center">
    <h1><%= data.name %></h1>
    <p><%= data.description %></p>
</div>