body,
html {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden
}

a {
    text-decoration: none
}

::selection {
    background: #d06984
}

::-moz-selection {
    background: #d06984
}

@font-face {
    font-family: Graphik;
    src: url(/assets/fonts/Graphik-Medium.eot);
    src: url(/assets/fonts/Graphik-Medium.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/Graphik-Medium.woff2) format("woff2"), url(/assets/fonts/Graphik-Medium.woff) format("woff"), url(/assets/fonts/Graphik-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Graphik;
    src: url(/assets/fonts/Graphik-Regular.eot);
    src: url(/assets/fonts/Graphik-Regular.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/Graphik-Regular.woff2) format("woff2"), url(/assets/fonts/Graphik-Regular.woff) format("woff"), url(/assets/fonts/Graphik-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

a,
body,
div,
html,
img,
span {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

body {
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}

*,
:after,
:before {
    box-sizing: border-box
}

a {
    color: inherit;
    outline: none
}

.techstar-page {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    transform: translateZ(0);
    opacity: 1;
    transition: opacity .75s;
    will-change: opacity
}

@media screen and (max-width:1024px) {
    .techstar-page {
        padding: 20px
    }
}

html.no-touchevents .o-glitch-hover.o-glitch-hover--default .o-glitch-hover__letter.is-letter {
    display: inline-block;
    opacity: .6;
    transition: opacity 0s 0s
}

html.no-touchevents .o-glitch-hover.o-glitch-hover--default .o-glitch-hover__letter.is-letter:first-child {
    transition-delay: .16s
}

html.no-touchevents .o-glitch-hover.o-glitch-hover--default .o-glitch-hover__letter.is-letter:nth-child(2) {
    transition-delay: .19s
}

html.no-touchevents .o-glitch-hover.o-glitch-hover--default .o-glitch-hover__letter.is-letter:nth-child(3) {
    transition-delay: .07s
}

html.no-touchevents .o-glitch-hover.o-glitch-hover--default .o-glitch-hover__letter.is-letter:nth-child(4) {
    transition-delay: .06s
}

html.no-touchevents .o-glitch-hover.o-glitch-hover--default .o-glitch-hover__letter.is-letter:nth-child(5) {
    transition-delay: .14s
}

html.no-touchevents .o-glitch-hover.o-glitch-hover--default .o-glitch-hover__letter.is-letter:nth-child(6) {
    transition-delay: .13s
}

html.no-touchevents .o-glitch-hover.o-glitch-hover--default .o-glitch-hover__letter.is-letter:nth-child(7) {
    transition-delay: .03s
}

html.no-touchevents .o-glitch-hover.o-glitch-hover--default .o-glitch-hover__letter.is-letter:nth-child(8) {
    transition-delay: .04s
}

html.no-touchevents .o-glitch-hover.o-glitch-hover--default .o-glitch-hover__letter.is-letter:nth-child(9) {
    transition-delay: .11s
}

html.no-touchevents .o-glitch-hover.o-glitch-hover--default .o-glitch-hover__letter.is-letter:nth-child(10) {
    transition-delay: .08s
}

html.no-touchevents .o-glitch-hover.o-glitch-hover--default .o-glitch-hover__letter.is-letter:nth-child(11) {
    transition-delay: .09s
}

html.no-touchevents .o-glitch-hover.o-glitch-hover--default .o-glitch-hover__letter.is-letter:nth-child(12) {
    transition-delay: .02s
}

html.no-touchevents .o-glitch-hover.o-glitch-hover--default .o-glitch-hover__letter.is-letter:nth-child(13) {
    transition-delay: .12s
}

html.no-touchevents .o-glitch-hover.o-glitch-hover--default .o-glitch-hover__letter.is-letter:nth-child(14) {
    transition-delay: .01s
}

html.no-touchevents .o-glitch-hover.o-glitch-hover--default .o-glitch-hover__letter.is-letter:nth-child(15) {
    transition-delay: .1s
}

html.no-touchevents .o-glitch-hover.o-glitch-hover--default .o-glitch-hover__letter.is-letter:nth-child(16) {
    transition-delay: .05s
}

html.no-touchevents .o-glitch-hover.o-glitch-hover--default .o-glitch-hover__letter.is-letter:nth-child(17) {
    transition-delay: .15s
}

html.no-touchevents .o-glitch-hover.o-glitch-hover--default .o-glitch-hover__letter.is-letter:nth-child(18) {
    transition-delay: .17s
}

html.no-touchevents .o-glitch-hover.o-glitch-hover--default:hover .o-glitch-hover__letter.is-letter {
    opacity: 1!important
}

.u-align-center {
    text-align: center
}

.u-uppercase {
    text-transform: uppercase
}

.u-inline-block {
    display: inline-block
}

.u-block {
    display: block
}

.u-overflow-h {
    overflow: hidden
}

@media screen and (max-width:1024px) {
    .u-hide\@md {
        display: none
    }
}

@media screen and (max-width:460px) {
    .u-hide\@xxs {
        display: none
    }
}

.u-fit {
    height: 100%
}

.u-fit {
    width: 100%
}

.u-absolute {
    position: absolute
}

.u-fixed {
    position: fixed;
    will-change: transform
}

.u-relative {
    position: relative
}

.u-pos-tl {
    top: 0;
    left: 0
}

.techstar-main {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Graphik, Helvetica, Arial;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    background: #12172e
}

@media screen and (max-width:600px) {
    .techstar-main {
        font-size: 15px
    }
}

@media screen and (max-width:460px) {
    .techstar-main {
        font-size: 14px
    }
}

.techstar-main__ui {
    height: 100%;
    width: 0;
    transform: translateZ(0);
    opacity: 0;
    animation: ui 1.5s 1.5s forwards;
    will-change: opacity
}

@keyframes ui {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.techstar-main__no-nav-ui {
    height: 100%;
    transform: translateZ(0);
    opacity: 1;
    transition: opacity 1s;
    will-change: opacity
}

.techstar-main__pages {
    opacity: 0;
    transform: translateZ(0);
    transition: opacity 1s;
    transition-delay: 0s;
    will-change: opacity
}

.techstar-main__pages.is-visible {
    opacity: 1;
    transition-delay: 1s
}

.techstar-main-logo {
    top: 40px;
    left: 107px;
    width: 160px;
    height: 40px;
    z-index: 1
}

@media screen and (max-width:1280px) {
    .techstar-main-logo {
        left: 52px
    }
}

@media screen and (max-width:1024px) {
    .techstar-main-logo {
        top: 25px;
        left: 25px
    }
}

@media screen and (max-width:800px) {
    .techstar-main-logo {
        top: 17px;
        left: 15px
    }
}

@media screen and (max-width:600px) {
    .techstar-main-logo {
        left: 10px
    }
}

@media screen and (max-width:460px) {
    .techstar-main-logo {
        left: 5px
    }
}

.techstar-main-logo_text {
    width: 125px
}

.techstar-main-logo__icon,
.techstar-main-logo_text {
    top: 10px;
    left: 10px;
    height: 19px
}

.techstar-main-logo__icon-path {
    stroke-dasharray: 59
}

.techstar-main-logo__icon-dot {
    transition: opacity .1s
}

.techstar-main-logo__icon-dot--fill {
    transition-delay: 0s;
    opacity: 0
}

.techstar-main-logo__icon-dot--back {
    transition-delay: 0s;
    opacity: 1
}

.techstar-main-logo__inner {
    transform: translateZ(0);
    transition: opacity .5s, visibility 0s;
    will-change: opacity
}

.techstar-main-logo__inner--light {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s, .5s
}

.techstar-main-logo__inner--dark {
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s, .5s
}

html.no-touchevents .techstar-main-logo:hover .techstar-main-logo__icon-dot--back,
html.no-touchevents .techstar-main-logo:hover .techstar-main-logo__icon-dot--fill {
    transition-delay: .85s;
    opacity: 1
}

.techstar-menu-trigger {
    top: 36px;
    left: calc(100vw - 95px);
    width: 48px;
    height: 48px;
    z-index: 1
}

@media screen and (max-width:1280px) {
    .techstar-menu-trigger {
        left: calc(100vw - 85px)
    }
}

@media screen and (max-width:1024px) {
    .techstar-menu-trigger {
        top: 21px;
        left: calc(100vw - 70px)
    }
}

@media screen and (max-width:800px) {
    .techstar-menu-trigger {
        top: 14px;
        left: calc(100vw - 63px)
    }
}

html.no-touchevents .techstar-menu-trigger:hover:not(.is-active) .techstar-menu-trigger__circles-scaler {
    transform: scale(1) translateZ(0)
}

html.no-touchevents .techstar-menu-trigger:hover:not(.is-active) .techstar-menu-trigger__dot.has-index-0 {
    transform: translateY(-15px) translateZ(0)
}

html.no-touchevents .techstar-menu-trigger:hover:not(.is-active) .techstar-menu-trigger__dot.has-index-2 {
    transform: translateY(15px) translateZ(0)
}

.techstar-menu-trigger__dots {
    top: 50%;
    left: 50%
}

.techstar-menu-trigger__dots,
.techstar-menu-trigger__dots-inner {
    transform: translateZ(0);
    transition: transform .75s cubitechstar-bezier(.75, 0, .25, 1);
    will-change: transform
}

.techstar-menu-trigger__dot {
    width: 4px;
    height: 4px;
    margin-top: -2px;
    margin-left: -2px;
    border-radius: 2px;
    background: #fff;
    transition: transform .5s;
    will-change: transform
}

.techstar-menu-trigger__dot.has-index-0 {
    top: -9px;
    transform: translateZ(0)
}

.techstar-menu-trigger__dot.has-index-1 {
    top: 0;
    transform: translateZ(0)
}

.techstar-menu-trigger__dot.has-index-2 {
    top: 9px;
    transform: translateZ(0)
}

.techstar-menu-trigger__cross {
    top: 50%;
    left: 50%
}

.techstar-menu-trigger__cross-bar {
    top: 0;
    left: 0;
    width: 2px;
    height: 20px;
    margin-top: -10px;
    margin-left: -1px;
    background: #fff;
    transition: transform .5s;
    will-change: transform
}

.techstar-menu-trigger__cross-bar.has-index-0 {
    transform: rotate(45deg) scaleY(.01) translateZ(0)
}

.techstar-menu-trigger__cross-bar.has-index-1 {
    transform: rotate(-45deg) scaleY(.01) translateZ(0)
}

.techstar-menu-trigger__circles {
    top: 50%;
    left: 50%;
    transform: translateZ(0);
    transition: transform .75s cubitechstar-bezier(.75, 0, .25, 1);
    will-change: transform
}

.techstar-menu-trigger__circles-scaler {
    transform: scale(.4) translateZ(0);
    transition: transform .5s;
    will-change: transform
}

.techstar-menu-trigger__circles-inner {
    transform: translateZ(0);
    transition: transform .75s cubitechstar-bezier(.75, 0, .25, 1);
    will-change: transform
}

.techstar-menu-trigger__circle {
    top: 0;
    left: 0
}

.techstar-menu-trigger__circle.has-index-0 {
    transform: rotate(-10deg)
}

.techstar-menu-trigger__circle.has-index-1 {
    transform: rotate(170deg)
}

.techstar-menu-trigger__circle-inner {
    top: -24px;
    left: -24px;
    width: 20px;
    height: 48px;
    transform: translateY(100%);
    transition: transform .5s;
    will-change: transform
}

.techstar-menu-trigger__circle-border {
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    border: 1px solid #fff;
    opacity: .2;
    border-radius: 24px;
    transform: translateY(-100%);
    transition: transform .5s;
    will-change: transform
}

.techstar-menu-trigger__inner {
    transform: translateZ(0);
    transition: opacity .5s;
    will-change: opacity
}

.techstar-menu-trigger__inner--light {
    opacity: 1;
    transition-delay: .5s
}

.techstar-menu-trigger__inner--dark {
    opacity: 0;
    transition-delay: 0s
}

.techstar-menu-trigger__inner--dark .techstar-menu-trigger__cross-bar,
.techstar-menu-trigger__inner--dark .techstar-menu-trigger__dot {
    background: #33373a
}

.techstar-menu-trigger__inner--dark .techstar-menu-trigger__circle-border {
    border-color: #33373a
}

.techstar-pages {
    transform: translateZ(0)
}

.techstar-home__title {
    margin-bottom: 35px
}

.techstar-home__title.is-optimized {
    font-size: 60px;
    letter-spacing: .2em;
    line-height: 60px
}

@media screen and (max-width:1024px) {
    .techstar-home__title.is-optimized {
        font-size: 4.5vw;
        letter-spacing: .2em;
        line-height: 4.5vw
    }
}

@media screen and (max-width:600px) {
    .techstar-home__title.is-optimized {
        font-size: 6vw;
        letter-spacing: .12em;
        line-height: 5.5vw
    }
}

.techstar-home__description {
    line-height: 1.6em;
    margin-bottom: 6vh;
    font-size: 21px;
    color: #d0bcbc;
    opacity: 1
}

@media screen and (max-width:600px) {
    .techstar-home__description {
        font-size: 18px
    }
}

@media screen and (max-width:460px) {
    .techstar-home__description {
        font-size: 14px
    }
}

@media screen and (max-height:600px) {
    .techstar-home__description {
        font-size: 18px
    }
}

@media screen and (max-height:460px) {
    .techstar-home__description {
        font-size: 14px
    }
}

.techstar-home__buttons {
    text-align: center;
    font-size: 0;
    opacity: 0;
    transform: translateY(20px) translateZ(0);
    transition: transform .65s cubitechstar-bezier(0, 0, 0, 1), opacity .3s;
    will-change: transform, opacity
}

.techstar-home__buttons-line-break {
    display: none
}

@media screen and (max-width:460px) {
    .techstar-home__buttons-line-break {
        display: inline-block
    }
}

.techstar-home-button {
    width: 200px;
    height: 46px;
    line-height: 48px;
    text-align: center;
    padding-right: 30px;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-family: Teko;
    font-weight: 400;
    text-transform: uppercase
}

@media screen and (max-width:600px) {
    .techstar-home-button {
        width: 160px;
        padding-right: 20px
    }
}

.techstar-home-button.is-ios {
    margin-right: 35px
}

@media screen and (max-width:600px) {
    .techstar-home-button.is-ios {
        margin-right: 25px
    }
}

@media screen and (max-width:460px) {
    .techstar-home-button.is-ios {
        margin-right: 0;
        margin-bottom: 10px
    }
}

.techstar-home-button.is-ios .techstar-home-button__border {
    border-color: #e61e1e
}

.techstar-home-button__border {
    border: 2px solid #cabac0;
    opacity: .65;
    border-radius: 24px;
    transform: translateZ(0);
    transition: opacity .15s;
    will-change: opacity
}

.techstar-home-button__arrow {
    top: 50%;
    right: 36px;
    margin-top: -3px;
    opacity: .66
}

@media screen and (max-width:600px) {
    .techstar-home-button__arrow {
        right: 26px
    }
}

.techstar-home-discover {
    left: 50%;
    bottom: 0;
    width: 150px;
    height: 100px;
    padding-top: 10px;
    margin-left: -75px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: Teko;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(20px) translateZ(0);
    transition: transform .65s cubitechstar-bezier(0, 0, 0, 1), opacity .3s;
    will-change: transform, opacity
}

@media screen and (max-height:600px) {
    .techstar-home-discover {
        height: 80px
    }
}

@media screen and (max-height:460px) {
    .techstar-home-discover {
        height: 60px
    }
}

html.no-touchevents .techstar-home-button:hover .techstar-home-button__border {
    opacity: 1
}

.is-page-active .techstar-home__buttons {
    opacity: 1;
    transform: translateY(0) translateZ(0);
    transition-delay: 1.6s, 1.6s
}

.is-page-active .techstar-home-discover {
    opacity: 1;
    transform: translateY(0) translateZ(0);
    transition-delay: 1.8s, 1.8s
}

.techstar-paragraph__line {
    position: relative;
    transform: translateY(0) translateZ(0);
    opacity: 0;
    transition: transform .5s, opacity .5s;
    will-change: transform, opacity
}

.techstar-paragraph__line.has-inverse-index-0 {
    transition-delay: 0s
}

.techstar-paragraph__line.has-inverse-index-1 {
    transition-delay: .1s
}

.techstar-paragraph__char.is-glitched {
    position: relative;
    display: inline-block;
    opacity: 0;
    transform: translateZ(0);
    transition: opacity .1s;
    will-change: opacity
}

.techstar-paragraph__char.is-glitched.has-index-0 {
    transition-delay: 0s
}

.techstar-paragraph__char.is-glitched.has-index-1 {
    transition-delay: .1s
}

.techstar-paragraph__char.is-glitched.has-index-2 {
    transition-delay: .2s
}

.techstar-paragraph__char.is-glitched.has-index-3 {
    transition-delay: .3s
}

.techstar-paragraph__char.is-glitched.has-index-4 {
    transition-delay: .4s
}

.techstar-paragraph__char.is-glitched.has-index-5 {
    transition-delay: .5s
}

.techstar-paragraph__char.is-glitched.has-index-6 {
    transition-delay: .6s
}

.techstar-paragraph__char.is-glitched.has-index-7 {
    transition-delay: .7s
}

.techstar-paragraph__char.is-glitched.has-index-8 {
    transition-delay: .8s
}

.techstar-paragraph__char.is-glitched.has-index-9 {
    transition-delay: .9s
}

.techstar-paragraph.has-translate-y .techstar-paragraph__line {
    transform: translateY(20px) translateZ(0)
}

.techstar-paragraph.is-visible .techstar-paragraph__line {
    transform: translateY(0) translateZ(0);
    opacity: 1
}

.techstar-paragraph.is-visible .techstar-paragraph__line.has-index-0 {
    transition-delay: 0s
}

.techstar-paragraph.is-visible .techstar-paragraph__line.has-index-1 {
    transition-delay: .1s
}

.techstar-paragraph.is-visible .techstar-paragraph__char {
    opacity: 1
}

.techstar-title {
    position: relative;
    font-family: Teko;
    font-size: 0;
    z-index: 1
}

.techstar-title {
    transform: translateZ(0)
}

.techstar-more {
    left: 100px;
    bottom: 55px;
    height: 40px;
    width: 40px;
    padding-left: 16px;
    line-height: 40px;
    z-index: 2;
    font-size: 12px;
    font-family: Teko;
    font-weight: 400;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap
}

@media screen and (max-width:1280px) {
    .techstar-more {
        left: 45px
    }
}

@media screen and (max-width:1024px) {
    .techstar-more {
        left: 20px;
        bottom: 25px
    }
}

@media screen and (max-width:800px) {
    .techstar-more {
        left: 11px;
        bottom: 15px
    }
}

@media screen and (max-width:600px) {
    .techstar-more {
        left: 6px
    }
}

@media screen and (max-width:460px) {
    .techstar-more {
        left: 0
    }
}

.techstar-more:hover .techstar-more__elements {
    pointer-events: auto;
    opacity: 1;
    transform: translateX(0) translateZ(0)
}

.techstar-more:hover .techstar-more__icon {
    opacity: .75
}

.techstar-more__inner {
    transform: translateZ(0);
    transition: opacity .5s;
    will-change: opacity
}

.techstar-more__inner--light {
    opacity: 1;
    transition-delay: .5s;
    z-index: 1
}

.techstar-more__inner--dark {
    opacity: 0;
    transition-delay: 0s;
    z-index: 0;
    color: #33373a
}

.techstar-more__inner--dark .techstar-more__icon,
.techstar-more__inner--dark .techstar-more__pipe,
.techstar-more__inner--dark .techstar-more__terms,
.techstar-more__inner--dark .techstar-more__website {
    opacity: .5
}

.techstar-more__inner--dark .techstar-more__icon-bar {
    background: #33373a
}

.techstar-more__icon {
    top: 0;
    left: -11px;
    width: 30px;
    height: 37px;
    opacity: .2;
    margin-right: 22px;
    transform: translateZ(0);
    transition: opacity .25s;
    will-change: opacity
}

.techstar-more__icon-bar {
    background: #fff
}

.techstar-more__icon-bar.has-index-0 {
    width: 10px;
    height: 2px;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -5px
}

.techstar-more__icon-bar.has-index-1 {
    width: 2px;
    height: 10px;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -1px
}

.techstar-more__elements {
    padding-left: 40px;
    opacity: 0;
    transform: translateX(-20px) translateZ(0);
    transition: transform .5s, opacity .5s;
    will-change: opacity;
    pointer-events: none
}

.techstar-more__pipe {
    margin: 0 10px;
    width: 1px;
    height: 8px;
    background: #fff;
    opacity: .2
}

.techstar-more__website {
    opacity: .2
}

.techstar-more__terms {
    opacity: .4;
    transform: translateZ(0);
    transition: opacity .3s;
    will-change: opacity
}

html.no-touchevents .techstar-more__terms:hover {
    opacity: 1
}

.techstar-audio {
    width: 40px;
    height: 40px;
    bottom: 75px;
    left: calc(100vw - 70px);
    margin-bottom: -20px;
    margin-left: -20px;
    transform: translateZ(0);
    opacity: 0;
    transition: opacity .3s;
    will-change: opacity
}

@media screen and (max-width:1280px) {
    .techstar-audio {
        left: calc(100vw - 60px)
    }
}

@media screen and (max-width:1024px) {
    .techstar-audio {
        bottom: 50px;
        left: calc(100vw - 45px)
    }
}

@media screen and (max-width:800px) {
    .techstar-audio {
        bottom: 40px;
        left: calc(100vw - 38px)
    }
}

.techstar-audio.is-active .techstar-audio__inner {
    opacity: 1
}

.techstar-audio.is-active .techstar-audio__bar {
    animation-iteration-count: infinite
}

.techstar-audio.is-visible {
    opacity: 1
}

.techstar-audio__inner {
    opacity: .7;
    transform: translateZ(0);
    transition: opacity .3s;
    will-change: opacity
}

.techstar-audio__bar {
    top: 50%;
    left: 50%;
    width: 1px;
    height: 7px;
    background: #fff;
    transform: translateZ(0);
    will-change: transform;
    animation-name: audio-bar-0
}

.techstar-audio__bar.has-index-0 {
    margin-left: -6px;
    animation-duration: 1.5s
}

.techstar-audio__bar.has-index-1 {
    margin-left: -3px;
    animation-duration: 1.8s
}

.techstar-audio__bar.has-index-2 {
    margin-left: 0;
    animation-duration: 1.9s
}

.techstar-audio__bar.has-index-3 {
    margin-left: 3px;
    animation-duration: 1.7s
}

.techstar-audio__bar.has-index-4 {
    margin-left: 6px;
    animation-duration: 1.6s
}

@keyframes audio-bar-0 {
    0% {
        transform: scaleY(1)
    }
    20% {
        transform: scaleY(2)
    }
    to {
        transform: scaleY(1)
    }
}