/** {
    position: static !important;
    top: auto !important;
}*/

@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";
.pointer-events-none {
  pointer-events: none;
}

.pointer-cursor {
  cursor: pointer;
}

.not-allowed-cursor {
  cursor: not-allowed;
}

.moving-cursor {
  cursor: grab;
}

.section-icon {
  width: 23px;
}

.chatflow-actions {
  margin: 15px 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.chatflow-actions > button {
  margin: 8px 0;
  font-size: 12px;
}

.chatflow-actions .fab-btn-icon {
  margin-bottom: -13px !important;
}

.chatflow-root-svg {
  overflow: hidden;
  // width: calc(99vw - 88px);
  // height: 99vh;
  width: 100vw;
  height: 99vh;
}

.chatflow-designer-wrapper {
  overflow: hidden;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.chatflow-designer-wrapper .left-sidebar {
  height: 100vh;
  background-color: #5e72e4;
  color: white;
}

.chatflow-designer-wrapper .chatflow-root-svg {
  flex-grow: 1;
}

.chatnode {
  background: none;
  cursor: move;
  border: 2px solid transparent;
  border-radius: 12px;
}

.chatnode:hover {
  border: 2px solid rgba(140, 200, 60, 0.5);
}

.chatnode.selected {
  border: 2px solid #5e72e4;
}

.chatnode.click-connect {
  cursor: alias;
}

.chatnode-header {
  height: 30px;
  border-radius: 10px 10px 0 0;
  background-color: #666666;
}

.chatnode-header.startnode {
  background-color: #5e72e4;
}

.chatnode-header > p {
  padding: 5px;
  text-align: center;
  color: white;
}

.chatnode-body {
  background-color: white;
  color: #666666;
  border-radius: 0 0 10px 10px;
}

.chatnode-sections {
  height: 100%;
  padding: 0 5px;
}

.chatnode-sections > table {
  width: 100%;
}

.chatnode-sections > table > tr {
  border-bottom: 1px dashed #f0f0f0;
}

.chatnode-sections > table > tr > td {
  padding-left: 5px;
}

.section-icon > fa {
  font-size: 20px;
}

.section-alias {
  padding-right: 5px;
}

.section-alias > div {
  margin: 10px 0px 10px 5px;
}

.chatnode-buttons {
  height: 100%;
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

.chatnode-buttons > table {
  width: 100%;
  table-layout: fixed;
}

.chatnode-buttons > table > tr > td {
  width: 80px;
  padding: 10px;
}

.chatnode-buttons > table > tr > td > div {
  text-align: center;
}

.chatnode-buttons > table > tr > td > div > .fa {
  font-size: 20px;
}

.chatnode-empty {
  text-align: center;
  width: 100%;
  padding: 5px 0 10px 0;
}

:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}

mat-sidenav {
  width: 200px;

  .section-container {
    padding: 1rem 0;
  }

  ::ng-deep .mat-drawer-inner-container {
    overflow-x: hidden;
  }
}

mat-sidenav-content {
  display: flex;
  overflow: hidden;
}

mat-sidenav-container {
  flex: 1;
}

.scroll-container {
  flex: 1;
  overflow: auto;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(250, 250, 250, 0.85);

  &:hover span {
    opacity: 1;
  }

  span {
    transition: opacity 0.2s cubic-bezier(0.35, 0, 0.25, 1);
    opacity: 0;
  }
}

dev-toolbar {
  $spacing: 16px;

  dev-dropdown,
  dev-checklist-search {
    margin-left: $spacing;

    @include small-only() {
      margin-left: auto;
    }
  }

  &.desktop dev-dropdown {
    margin-left: auto;
  }

  &:not(.desktop) dev-checklist-search {
    flex: 1;
    margin-left: $spacing;
  }
}

.logo {
  display: flex;
  flex-direction: row;

  img {
    height: 38px;
    width: auto;
  }

  h4 {
    display: flex;
    align-items: center;
    margin-left: 8px;
  }
}

.sidenav-link {
  display: flex;
  align-items: center;
  color: initial;
  padding: 8px;
  font-weight: 500;
  padding-left: 10px;

  ::ng-deep .mat-badge-content {
    top: -14px;
  }

  mat-icon {
    margin-right: 10px;
    color: #d4d4d4;
  }

  &.disabled {
    color: gainsboro;
  }

  &.active {
    mat-icon {
      color: mat-color($primary);
    }
  }
}

.menu-button {
  margin-right: 10px;
}

section {
  padding: 15px 0 0 15px;
}

.section-header {
  display: flex;
  align-items: center;
  margin: 15px 0;
  flex-shrink: 0;

  h4 {
    flex: 1;
    margin: 0;
  }

  mat-slide-toggle {
    margin-right: 12px;
  }
}

.category-item-list {
  padding: 0;
  margin: 10px 0;
  list-style: none;

  a {
    display: inline-block;
    width: 100%;
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
    line-height: 16px;

    &.done {
      text-decoration: line-through;
      opacity: 0.5;
    }

    &.active {
      color: mat-color($primary);
    }
  }
}

.category,
.nav-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 5px;

  mat-checkbox {
    display: flex;
    left: 15px;
  }

  dev-score-chart {
    left: 10px;
  }

  mat-checkbox,
  dev-score-chart {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

dev-score-chart {
  width: 26px;
  margin-right: 10px;
}
