<section class="section section-lg section-shaped pb-250">
    <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="container py-lg-md d-flex">
        <div class="col px-0">
            <div class="row justify-content-center">
                <div class="col-lg-6 justify-content-center ">
                    <h1 class="display-3  text-white">
                        404 Хуудас олдсонгүй
                    </h1>
                    <p class="lead  text-white">Чатбот бол хэрэглэгчидтэй харилцах, маркетинг борлуулалтыг автоматжуулах
                        шилдэг шийдэл юм.</p>
                    <div class="btn-wrapper " (click)="goBack()">
                        <a [routerLink]="['/']" class="btn btn-white btn-icon mb-3 mb-sm-0">
                            <span class="btn-inner--icon"><i class="fa fa-arrow-left"></i></span>
                            <span class="btn-inner--text" >Буцах</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</section>