<nav role="navigation" class="navbar">
	<ul class="navbar-nav nav-logo">
		<li class="nav-item logo-wrapper">
			<a href="javascript:void(0)" [routerLink]="['/dashboards']">
				<div class="logo">
					<img src="assets/img/logo/logo-icon.png" alt="Logo">
				</div>
				<h1 class="brand-text">Material Lab</h1>
			</a>
		</li>
	</ul>
	<ul class="navbar-nav nav-left">
		<li class="nav-item menu-icon">
			<a md-ripple href="javascript:void(0)" role="button" (click)="toggleMenuSideabar()" class="nav-link menu-trigger">
				<i class="mdi mdi-backburger"></i>
			</a>
		</li>
		<li class="nav-item hidden-sm">
			<a md-ripple href="javascript:void(0)" (click)="toggleAppMobileLeftMenuSidebar()" class="nav-link mobile-menu-trigger">
				<i class="mdi mdi-backburger"></i>
			</a>
		</li>
		<li class="nav-item hidden-sm-down">
			<a md-ripple href="javascript:void(0)" (click)="toggleProfile()" class="nav-link">
				<i class="zmdi zmdi-account"></i>
			</a>
		</li>
		<li class="nav-item dropdown dropdown-lg app_menu_launcher hidden-sm-down" ngbDropdown>
			<a md-ripple href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
				<i class="zmdi zmdi-apps"></i>
			</a>
			<ul class="dropdown-menu dropdown-lg-menu btn-accent p-15 text-center">
				<li>
		<ul>
			<li><a [routerLink]="['/mail']"><i class="zmdi zmdi-email"></i><span>Mail</span></a></li>
			<li><a [routerLink]="['/contacts']"><i class="zmdi zmdi-accounts-list"></i><span>Contacts</span></a></li>
			<li><a [routerLink]="['/chats']"><i class="zmdi zmdi-comment-text"></i><span>Chat</span></a></li>
		</ul>
	</li>
	<li>
		<ul>
			<li><a [routerLink]="['/notes']"><i class="mdi mdi-lightbulb"></i><span>Notes</span></a></li>
			<li><a href="javascript:void(0)"><i class="zmdi zmdi-view-column"></i><span>Taskboard</span></a></li>
			<li><a [routerLink]="['/calendar']"><i class="zmdi zmdi-calendar-note"></i><span>Calendar</span></a></li>
		</ul>
	</li>
			</ul>
		</li>
		<li class="nav-item dropdown mega hidden-sm-down" ngbDropdown>
			<a md-ripple href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
				<span>Mega</span>
				<span class="caret"></span>
			</a>
			<div class="dropdown-menu dropdown-menu full-width p-l-10">
				<div class="row">
					<div class="col-4">
						<h3>Application Views  <span class="badge status info">10</span></h3>
						<div class="row">
							<div class="col-6">
								<ul>
									<li>
										<a [routerLink]="['/mail']" class="btn-primary-hover"><i class="zmdi zmdi-chevron-right m-r-5"></i> Mail</a>
									</li>
									<li>
										<a [routerLink]="['/ecommerce/ecom-dashboard']" class="btn-primary-hover"><i class="zmdi zmdi-chevron-right m-r-5"></i>  E-commerce Dashboard</a>
									</li>
									<li>
										<a [routerLink]="['/ecommerce/ecom-products']" class="btn-primary-hover"><i class="zmdi zmdi-chevron-right m-r-5"></i>Products</a>
									</li>
									<li>
										<a [routerLink]="['/ecommerce/ecom-customers']" class="btn-primary-hover"><i class="zmdi zmdi-chevron-right m-r-5"></i>Customers</a>
									</li>
									<li>
										<a [routerLink]="['/ecommerce/ecom-settings']" class="btn-primary-hover"><i class="zmdi zmdi-chevron-right m-r-5"></i>Settings</a>
									</li>
								</ul>
							</div>
							<div class="col-6">
								<ul>
									<li>
										<a [routerLink]="['/chat']" class="btn-primary-hover"><i class="zmdi zmdi-chevron-right m-r-5"></i>Chat</a>
									</li>
									<li>
										<a [routerLink]="['/calendar']" class="btn-primary-hover"><i class="zmdi zmdi-chevron-right m-r-5"></i>Calendar</a>
									</li>
									<li>
										<a [routerLink]="['/contacts']" class="btn-primary-hover"><i class="zmdi zmdi-chevron-right m-r-5"></i>Contacts</a>
									</li>
									<li>
										<a [routerLink]="['/locations']" class="btn-primary-hover"><i class="zmdi zmdi-chevron-right m-r-5"></i>Office Locations</a>
									</li>
									<li>
										<a [routerLink]="['/notes']" class="btn-primary-hover"><i class="zmdi zmdi-chevron-right m-r-5"></i>  Notes</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-4">
						<h3>Pages  <span class="badge status info">10</span></h3>
						<div class="row">
							<div class="col-6">
								<ul>
									<li>
										<a [routerLink]="['/profile']" class="btn-primary-hover"><i class="zmdi zmdi-chevron-right m-r-5"></i> Profile</a>
									</li>
									<li>
										<a [routerLink]="['/invoice']" class="btn-primary-hover"><i class="zmdi zmdi-chevron-right m-r-5"></i>  Invoice</a>
									</li>
									<li>
										<a [routerLink]="['/timeline']" class="btn-primary-hover"><i class="zmdi zmdi-chevron-right m-r-5"></i> Timeline</a>
									</li>
									<li>
										<a [routerLink]="['/pricing-tables']" class="btn-primary-hover"><i class="zmdi zmdi-chevron-right m-r-5"></i>  Pricing Tables</a>
									</li>
									<li>
										<a [routerLink]="['/gallery']" class="btn-primary-hover"><i class="zmdi zmdi-chevron-right m-r-5"></i>Photo Gallery</a>
									</li>
								</ul>
							</div>
							<div class="col-6">
								<ul>
									<li>
										<a [routerLink]="['/locations']" class="btn-primary-hover"><i class="zmdi zmdi-chevron-right m-r-5"></i>  Locations</a>
									</li>
									<li>
										<a [routerLink]="['/error/404']" class="btn-primary-hover"><i class="zmdi zmdi-chevron-right m-r-5"></i> 400 Error</a>
									</li>
									<li>
										<a [routerLink]="['/error/500']" class="btn-primary-hover"><i class="zmdi zmdi-chevron-right m-r-5"></i>500 Error</a>
									</li>
									<li>
										<a [routerLink]="['/authentication/lock']" class="btn-primary-hover"><i class="zmdi zmdi-chevron-right m-r-5"></i>  Lock Screen</a>
									</li>
									<li>
										<a [routerLink]="['/authentication/login']" class="btn-primary-hover"><i class="zmdi zmdi-chevron-right m-r-5"></i>  Login</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-4">
						<h3>New Arrivals</h3>
						<ul class="style-none inline-block">
							<li>
								<img src="assets/img/ecom/products/39_Ie8T.jpeg" class="max-w-100" alt="">
							</li>
							<li>
								<img src="assets/img/ecom/products/39_8wMD.jpeg" class="max-w-100" alt="">
							</li>
							<li>
								<img src="assets/img/ecom/products/39_JnFC.jpeg" class="max-w-100" alt="">
							</li>
							
							<li>
								<img src="assets/img/ecom/products/2830_S4ql.jpeg" class="max-w-100" alt="">
							</li>
							<li>
								<img src="assets/img/ecom/products/4107_PPxC.jpeg" class="max-w-100" alt="">
							</li>
							<li>
								<img src="assets/img/ecom/products/5764_YK7g.jpeg" class="max-w-100" alt="">
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</li>
	</ul>
	<ul class="navbar-nav nav-right">
		<li class="nav-item">
			<a md-ripple href="javascript:void(0)" (click)="search.searchStatus = true" class="nav-link">
				<i class="zmdi zmdi-search"></i>
			</a>
		</li>
		<li class="nav-item dropdown dropdown-lg hidden-sm-down" ngbDropdown>
			<a md-ripple href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
				<i class="zmdi zmdi-invert-colors"></i>
			</a>
			<ul class="dropdown-menu dropdown-lg-menu dropdown-menu-right p-15 color-container">
				<li class="title">
					<h3>Preset Color Options</h3>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-a">
							<input id="theme-a" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="A" />
							<span class="icon-check"></span>
							<span class="split">
								<span class="color bg-primary-theme-a"></span>
								<span class="color bg-shade-theme-a"></span>
							</span>
							<span class="color bg-menu-white"></span>
						</label>
					</div>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-b">
							<input id="theme-b" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="B" />
							<span class="icon-check"></span>
							<span class="split">
								<span class="color bg-primary-theme-b"></span>
								<span class="color bg-shade-theme-b"></span>
							</span>
							<span class="color bg-menu-white"></span>
						</label>
					</div>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-c">
							<input id="theme-c" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="C" />
							<span class="icon-check"></span>
							<span class="split">
								<span class="color bg-primary-theme-c"></span>
								<span class="color bg-shade-theme-c"></span>
							</span>
							<span class="color bg-menu-white"></span>
						</label>
					</div>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-d">
							<input id="theme-d" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="D" />
							<span class="icon-check"></span>
							<span class="split">
								<span class="color bg-primary-theme-d"></span>
								<span class="color bg-shade-theme-d"></span>
							</span>
							<span class="color bg-menu-white"></span>
						</label>
					</div>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-e">
							<input id="theme-e" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="E" />
							<span class="icon-check"></span>
							<span class="split">
								<span class="color bg-primary-theme-e"></span>
								<span class="color bg-shade-theme-e"></span>
							</span>
							<span class="color bg-menu-darkBlue"></span>
							
						</label>
					</div>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-f">
							<input id="theme-f" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="F" />
							<span class="icon-check"></span>
							<span class="split">
								<span class="color bg-primary-theme-f"></span>
								<span class="color bg-shade-theme-f"></span>
							</span>
							<span class="color bg-menu-darkBlue"></span>
						</label>
					</div>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-g">
							<input id="theme-g" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="G" />
							<span class="icon-gheck"></span>
							<span class="split">
								<span class="color bg-primary-theme-g"></span>
								<span class="color bg-shade-theme-g"></span>
							</span>
							<span class="color bg-menu-darkBlue"></span>
						</label>
					</div>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-h">
							<input id="theme-h" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="H" />
							<span class="icon-check"></span>
							<span class="split">
								<span class="color bg-primary-theme-h"></span>
								<span class="color bg-shade-theme-h"></span>
							</span>
							<span class="color bg-menu-darkBlue"></span>
						</label>
					</div>
				</li>
			</ul>
			
			<li class="nav-item">
				<a md-ripple href="javascript:void(0)" (click)="toggleAppRightSidebar()" class="nav-link">
					<i [ngClass]="{'mdi-playlist-minus': false, 'mdi-playlist-plus': true}" class="mdi"></i>
				</a>
			</li>
		</ul>
	</nav>
	<topbar-search #search></topbar-search>
