<!-- contact-section -->
<section class="contact" id="contact">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="section-title">
               <h2>Get In Touch</h2>
            </div>
            <form class="auth-form">
               <div class="form-group">
                  <label for="exampleInputName1">Name</label>
                  <i class="fa fa-user"></i>
                  <input required=""  name="name" [formControl]="contactForm.controls['name']" type="text" class="form-control" id="exampleInputName1" placeholder="User name">
                  <div *ngIf="contactForm.controls.name.touched && contactForm.controls.name.errors?.required" class="text text-danger">Name is required</div>
               </div>
               <div class="form-group">
                  <label for="exampleInputEmail12">Email</label>
                  <i class="fa fa-envelope-o"></i>
                  <input required="" name="email" [formControl]="contactForm.controls['email']" class="form-control" id="exampleInputEmail12" placeholder="Email">
                  <div *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.email" class="text text-danger">Invalid Email</div>
               </div>
               <div class="form-group">
                  <label>Your message</label>
                  <i class="fa fa-commenting-o"></i>
                  <textarea class="form-control" name="message" [formControl]="contactForm.controls['message']" id="message" cols="30" rows="10" placeholder="Your Message"></textarea>
                  <div *ngIf="contactForm.controls.message.touched && contactForm.controls.message.errors?.required" class="text text-danger">Message is required</div>
               </div>
               <div class="form-group mb-0">
                  <button class="btn-theme" [disabled]="!contactForm.valid" type="submit">Send Message</button>
               </div>
            </form>
         </div>
         <div class="col-md-6">
            <div class="section-title">
               <h2>Contact Info</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consecte adipisicing elit sed do eiusmod tempor incididunt.</p>
            <ul class="contact-box">
               <li>
                  <div class="contact-circle">
                     <i class="fa fa-map-marker" aria-hidden="true"></i>
                  </div>
                  <div class="contact-text">
                     <h3>Location</h3>
                     <p>123 Business Avenue, Hoston, USA</p>
                  </div>
               </li>
               <li>
                  <div class="contact-circle">
                     <i class="fa fa-phone" aria-hidden="true"></i>
                  </div>
                  <div class="contact-text">
                     <h3>Call US</h3>
                     <p>+91 123-456-7890</p>
                  </div>
               </li>
               <li>
                  <div class="contact-circle">
                     <i class="fa fa-envelope" aria-hidden="true"></i>
                  </div>
                  <div class="contact-text">
                     <h3>Email Us</h3>
                     <p>support@gmail.com</p>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>
<!-- end contact section -->

