<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="chatProject">
            <h2><span>Chat Project</span> {{chatProject.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{chatProject.name}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{chatProject.status}}</span>
                </dd>
                <dt><span>User Id</span></dt>
                <dd>
                    <span>{{chatProject.userId}}</span>
                </dd>
                <dt><span>Flow</span></dt>
                <dd>
                    <div *ngIf="chatProject.flow">
                        <a [routerLink]="['/chat-flow', chatProject.flow?.id, 'view']">{{chatProject.flow?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/chat-project', chatProject.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
