<!--testimonail page -->
<section class="testimonial" id="testimonial">
   <div class="animation-circle-inverse">
      <i></i>
      <i></i>
      <i></i>
   </div>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="testimonil-box">
               <!-- If images array is dynamically changing pass this array to [items] input -->
               <owl-carousel [options]="testimonialCarousel" [items]="testimonial" [carouselClasses]="['testimonial-slider owl-carousel  owl-theme']">
                  <div class="item testi-profile" *ngFor="let testimonials of testimonial">
                     <div class="media">
                        <div class="animated-circle">
                         <img [src]="testimonials.image" alt="1" class="img-fluid align-self-center">
                        </div>
                        <div class="media-body">
                           <h3 class="mt-0 sub-title">{{testimonials.name}}  ({{testimonials.designation}})</h3>
                           <p>{{testimonials.description}}</p>
                        </div>
                     </div>
                  </div>
            </owl-carousel>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- end testimonial section -->