<h2 md-dialog-title>End chat</h2>
<md-dialog-content>
    <p *ngIf="getOptions().length<=0">
        The chat has been closed
    </p>
    <p *ngIf="getOptions().length>0">
        Choose an option
    </p>
    <p *ngIf="loading">
        <md-progress-bar mode="indeterminate"></md-progress-bar>
        Loading ...
    </p>
    <section class="action-buttons" *ngIf="!loading">
        <div *ngFor="let option of getOptions()">
            <button md-raised-button color="primary" (click)="optionClick(option)">{{option.title}}</button>
        </div>
    </section>
</md-dialog-content>
<md-dialog-actions>
    <button md-raised-button [md-dialog-close]="getOptions().length<=0?true:false">Dismiss</button>
</md-dialog-actions>