<section class="section section-lg section-nucleo-icons pb-250">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="display-3">Chatbot.mn платформын боломжууд</h2>
        <p class="lead">
          Chatbot.sh платформ нь чатбот хөгжүүлэх, чатбот автоматжуулах, бусад системүүдтэй чатботоо холбох, тайлан статистик гэх мэт чатботтой холбоотой бүхий л шийдэл багтсан цогц систем юм.
        </p>
        <div class="btn-wrapper">
          <a href="#" class="btn btn-default mt-3 mt-md-0">Дэлгэрэнгүй</a>
        </div>
      </div>
    </div>
    <div class="blur--hover">
      <a href="https://demos.creative-tim.com/argon-design-system-angular/documentation/icons?ref=adsa-nucleo-section">
        <div class="icons-container blur-item mt-5" data-toggle="on-screen">
          <!-- Center -->
          <i class="icon fa fa-connectdevelop"></i>
          <!-- Right 1 -->
          <i class="icon icon-sm fa fa-github"></i>
          <i class="icon icon-sm ni ni-app"></i>
          <i class="icon icon-sm ni ni-atom"></i>
          <!-- Right 2 -->
          <i class="icon fa fa-slack"></i>
          <i class="icon fa fa-facebook"></i>
          <i class="icon fa fa-cloud"></i>
          <!-- Left 1 -->
          <i class="icon icon-sm fa fa-whatsapp"></i>
          <i class="icon icon-sm fa fa-instagram"></i>
          <i class="icon icon-sm ni ni-button-play"></i>
          <!-- Left 2 -->
          <i class="icon fa fa-telegram"></i>
          <i class="icon fa fa-weixin"></i>
          <i class="icon fa fa-code"></i>
        </div>
        <span class="blur-hidden h5 text-success">Chatbot.mn Платформ</span>
      </a>
    </div>
  </div>
</section>
