// Bootstrap Layout scss
@import '~bootstrap/scss/bootstrap';

// Owl-Carousel css
@import '~owl.carousel/dist/assets/owl.carousel.css';
@import '~owl.carousel/dist/assets/owl.theme.default.css';

// Page loader Topbar
@import "pace/pace-theme-min.css";

// Main style Layout
@import "scss/style";

// Swiper slider
@import '~swiper/dist/css/swiper.min.css';