<h2 matDialogTitle>Ana chat server connections</h2>
<mat-dialog-content>
    <div class="center-block center-content">
        <mat-card [hidden]="savedConnections.length!=0" class="text-center">
            <h4>Looks like you don't have any saved Ana chat server connections. <br /> Start by adding one.</h4>
        </mat-card>

        <mat-accordion [hidden]="savedConnections.length==0">
            <mat-expansion-panel *ngFor="let conn of savedConnections; let i = index">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>insert_link</mat-icon>&nbsp;
                        {{connectionAlias(conn)}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-form-field>
                    <input matInput type="text" placeholder="Name" ngModel="conn.Name" name="connName-{{i}}">
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="url" placeholder="Server Url" ngModel="conn.ServerUrl" name="connUrl-{{i}}">
                </mat-form-field>

                <section>
                    <h5 [hidden]="!conn.ChatProjects || conn.ChatProjects.length<=0">Chat projects</h5>
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let proj of conn.ChatProjects; let i = index">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <mat-icon>chat</mat-icon>&nbsp;
                                    {{proj.Name}}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-form-field>
                                <input matInput type="text" placeholder="Chat Project Id" ngModel="proj.Id"
                                    name="projId-{{i}}">
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput type="text" placeholder="Chat Project Name" ngModel="proj.Name"
                                    name="projName-{{i}}">
                            </mat-form-field>

                            <mat-action-row>
                                <button mat-raised-button (click)="deleteProject(conn,proj)"><span>Delete
                                        Project</span></button>
                            </mat-action-row>
                        </mat-expansion-panel>
                    </mat-accordion>
                </section>
                <mat-action-row>
                    <!--<button mat-raised-button (click)="addChatProjectToConn(conn)"><span>Add chat project</span></button>-->
                    <button mat-raised-button (click)="deleteConnection(conn)"><span>Delete server
                            connection</span></button>
                </mat-action-row>

            </mat-expansion-panel>
        </mat-accordion>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button matTooltip="Save Changes" color="primary" *ngIf="savedConnections.length!=0" mat-raised-button
        (click)="saveConnections(true)">Save changes</button>
    <button matTooltip="Add new connection" [color]="savedConnections.length==0?'primary':''" mat-raised-button
        (click)="addConnection()">Add new server connection</button>
    <!--<button matTooltip="Get an Ana chat server" mat-raised-button (click)="getAnaChatServer()">Get an Ana chat server</button>-->
    <button mat-raised-button matDialogClose>Dismiss</button>
</mat-dialog-actions>