<div>
    <h2 id="page-heading">
        <span>Buttons</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-button" [routerLink]="['/button/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Button
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="buttons?.length === 0">
        <span>No buttons found</span>
    </div>
    <div class="table-responsive" *ngIf="buttons?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Button Name</span></th>
            <th scope="col" ><span>Button Text</span></th>
            <th scope="col" ><span>Emotion</span></th>
            <th scope="col" ><span>Button Type</span></th>
            <th scope="col" ><span>Deep Link Url</span></th>
            <th scope="col" ><span>Url</span></th>
            <th scope="col" ><span>Items Source</span></th>
            <th scope="col" ><span>Allow Multiple</span></th>
            <th scope="col" ><span>Bounce Timeout</span></th>
            <th scope="col" ><span>Next Node Id</span></th>
            <th scope="col" ><span>Default Button</span></th>
            <th scope="col" ><span>Hidden</span></th>
            <th scope="col" ><span>Variable Value</span></th>
            <th scope="col" ><span>Prefix Text</span></th>
            <th scope="col" ><span>Postfix Text</span></th>
            <th scope="col" ><span>Placeholder Text</span></th>
            <th scope="col" ><span>Condition Match Key</span></th>
            <th scope="col" ><span>Condition Operator</span></th>
            <th scope="col" ><span>Condition Match Value</span></th>
            <th scope="col" ><span>Post To Chat</span></th>
            <th scope="col" ><span>Does Repeat</span></th>
            <th scope="col" ><span>Repeat On</span></th>
            <th scope="col" ><span>Repeat As</span></th>
            <th scope="col" ><span>Start Position</span></th>
            <th scope="col" ><span>Max Repeats</span></th>
            <th scope="col" ><span>Advanced Options</span></th>
            <th scope="col" ><span>Min Length</span></th>
            <th scope="col" ><span>Max Length</span></th>
            <th scope="col" ><span>Default Text</span></th>
            <th scope="col" ><span>Is Multi Line</span></th>
            <th scope="col" ><span>Content Id</span></th>
            <th scope="col" ><span>Content Emotion</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let button of buttons ;trackBy: trackId">
                <td><a [routerLink]="['/button', button.id, 'view' ]">{{button.id}}</a></td>
                <td>{{button.buttonName}}</td>
                <td>{{button.buttonText}}</td>
                <td>{{button.emotion}}</td>
                <td>{{button.buttonType}}</td>
                <td>{{button.deepLinkUrl}}</td>
                <td>{{button.url}}</td>
                <td>{{button.itemsSource}}</td>
                <td>{{button.allowMultiple}}</td>
                <td>{{button.bounceTimeout}}</td>
                <td>{{button.nextNodeId}}</td>
                <td>{{button.defaultButton}}</td>
                <td>{{button.hidden}}</td>
                <td>{{button.variableValue}}</td>
                <td>{{button.prefixText}}</td>
                <td>{{button.postfixText}}</td>
                <td>{{button.placeholderText}}</td>
                <td>{{button.conditionMatchKey}}</td>
                <td>{{button.conditionOperator}}</td>
                <td>{{button.conditionMatchValue}}</td>
                <td>{{button.postToChat}}</td>
                <td>{{button.doesRepeat}}</td>
                <td>{{button.repeatOn}}</td>
                <td>{{button.repeatAs}}</td>
                <td>{{button.startPosition}}</td>
                <td>{{button.maxRepeats}}</td>
                <td>{{button.advancedOptions}}</td>
                <td>{{button.minLength}}</td>
                <td>{{button.maxLength}}</td>
                <td>{{button.defaultText}}</td>
                <td>{{button.isMultiLine}}</td>
                <td>{{button.contentId}}</td>
                <td>{{button.contentEmotion}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/button', button.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/button', button.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(button)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
