<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-button-heading">Create or edit a Button</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_buttonName">Button Name</label>
                    <input type="text" class="form-control" name="buttonName" id="field_buttonName"
                           formControlName="buttonName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_buttonText">Button Text</label>
                    <input type="text" class="form-control" name="buttonText" id="field_buttonText"
                           formControlName="buttonText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_emotion">Emotion</label>
                    <input type="number" class="form-control" name="emotion" id="field_emotion"
                           formControlName="emotion"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_buttonType">Button Type</label>
                    <input type="text" class="form-control" name="buttonType" id="field_buttonType"
                           formControlName="buttonType"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_deepLinkUrl">Deep Link Url</label>
                    <input type="text" class="form-control" name="deepLinkUrl" id="field_deepLinkUrl"
                           formControlName="deepLinkUrl"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                           formControlName="url"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_itemsSource">Items Source</label>
                    <input type="text" class="form-control" name="itemsSource" id="field_itemsSource"
                           formControlName="itemsSource"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_allowMultiple">Allow Multiple</label>
                    <input type="checkbox" class="form-control" name="allowMultiple" id="field_allowMultiple"
                           formControlName="allowMultiple"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bounceTimeout">Bounce Timeout</label>
                    <input type="number" class="form-control" name="bounceTimeout" id="field_bounceTimeout"
                           formControlName="bounceTimeout"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nextNodeId">Next Node Id</label>
                    <input type="text" class="form-control" name="nextNodeId" id="field_nextNodeId"
                           formControlName="nextNodeId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_defaultButton">Default Button</label>
                    <input type="checkbox" class="form-control" name="defaultButton" id="field_defaultButton"
                           formControlName="defaultButton"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_hidden">Hidden</label>
                    <input type="checkbox" class="form-control" name="hidden" id="field_hidden"
                           formControlName="hidden"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_variableValue">Variable Value</label>
                    <input type="text" class="form-control" name="variableValue" id="field_variableValue"
                           formControlName="variableValue"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_prefixText">Prefix Text</label>
                    <input type="text" class="form-control" name="prefixText" id="field_prefixText"
                           formControlName="prefixText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_postfixText">Postfix Text</label>
                    <input type="text" class="form-control" name="postfixText" id="field_postfixText"
                           formControlName="postfixText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_placeholderText">Placeholder Text</label>
                    <input type="text" class="form-control" name="placeholderText" id="field_placeholderText"
                           formControlName="placeholderText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_conditionMatchKey">Condition Match Key</label>
                    <input type="text" class="form-control" name="conditionMatchKey" id="field_conditionMatchKey"
                           formControlName="conditionMatchKey"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_conditionOperator">Condition Operator</label>
                    <input type="text" class="form-control" name="conditionOperator" id="field_conditionOperator"
                           formControlName="conditionOperator"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_conditionMatchValue">Condition Match Value</label>
                    <input type="text" class="form-control" name="conditionMatchValue" id="field_conditionMatchValue"
                           formControlName="conditionMatchValue"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_postToChat">Post To Chat</label>
                    <input type="checkbox" class="form-control" name="postToChat" id="field_postToChat"
                           formControlName="postToChat"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_doesRepeat">Does Repeat</label>
                    <input type="checkbox" class="form-control" name="doesRepeat" id="field_doesRepeat"
                           formControlName="doesRepeat"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_repeatOn">Repeat On</label>
                    <input type="text" class="form-control" name="repeatOn" id="field_repeatOn"
                           formControlName="repeatOn"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_repeatAs">Repeat As</label>
                    <input type="text" class="form-control" name="repeatAs" id="field_repeatAs"
                           formControlName="repeatAs"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_startPosition">Start Position</label>
                    <input type="number" class="form-control" name="startPosition" id="field_startPosition"
                           formControlName="startPosition"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_maxRepeats">Max Repeats</label>
                    <input type="number" class="form-control" name="maxRepeats" id="field_maxRepeats"
                           formControlName="maxRepeats"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_advancedOptions">Advanced Options</label>
                    <input type="checkbox" class="form-control" name="advancedOptions" id="field_advancedOptions"
                           formControlName="advancedOptions"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_minLength">Min Length</label>
                    <input type="number" class="form-control" name="minLength" id="field_minLength"
                           formControlName="minLength"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_maxLength">Max Length</label>
                    <input type="number" class="form-control" name="maxLength" id="field_maxLength"
                           formControlName="maxLength"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_defaultText">Default Text</label>
                    <input type="text" class="form-control" name="defaultText" id="field_defaultText"
                           formControlName="defaultText"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isMultiLine">Is Multi Line</label>
                    <input type="checkbox" class="form-control" name="isMultiLine" id="field_isMultiLine"
                           formControlName="isMultiLine"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_contentId">Content Id</label>
                    <input type="text" class="form-control" name="contentId" id="field_contentId"
                           formControlName="contentId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_contentEmotion">Content Emotion</label>
                    <input type="text" class="form-control" name="contentEmotion" id="field_contentEmotion"
                           formControlName="contentEmotion"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_chatNode">Chat Node</label>
                    <select class="form-control" id="field_chatNode" name="chatNode" formControlName="chatNode">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="chatNodeOption.id === editForm.get('chatNode')!.value?.id ? editForm.get('chatNode')!.value : chatNodeOption" *ngFor="let chatNodeOption of chatnodes; trackBy: trackById">{{chatNodeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
