<!--breadcrumb start-->
<div class="breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 d-align-center">
                <h2 class="title"><span> Blog</span></h2>
            </div>
            <div class="col-md-6 col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb ">
                    <ol class="breadcrumb bg-transparent mb-0">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/one'">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Blog</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--breadcrumb end -->

<!-- blog Section start -->
<section class="blog-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row blog-list">
                    <div class="col-lg-6 col-md-12">
                        <div class="item news-slid">
                            <a [routerLink]="'/blog/details'">
                                <div class="news-box">
                                    <img src="assets/images/blog/1.jpg" alt="news-1" class="img-fluid">
                                </div>
                            </a>
                            <div class="news-text">
                                <div class="blog-hover">
                                    <h4>lorem ipsum dolor sit amet</h4>
                                    <ul class="list-inline blog-details-list">
                                        <li><a href="javascript:void(0)">John Doe</a></li>
                                        <li><a href="javascript:void(0)">1 Oct</a></li>
                                        <li><a href="javascript:void(0)">25 comments</a></li>
                                        <li><a href="javascript:void(0)">3 View</a></li>
                                    </ul>
                                </div>
                                <p>lorem ipsum dolor sit amet, consecteturamet adipisicing elit, tempor incididunt ut labore. lorem ipsum dolor sit amet.</p>
                                <a [routerLink]="'/blog/details'" class="btn-theme">View more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="item news-slid">
                            <a [routerLink]="'/blog/details'">
                                <div class="news-box">
                                    <img src="assets/images/blog/2.jpg" alt="news-1" class="img-fluid">
                                </div>
                            </a>
                            <div class="news-text">
                                <div class="blog-hover">
                                    <h4>lorem ipsum dolor sit amet</h4>
                                    <ul class="list-inline blog-details-list">
                                        <li><a href="javascript:void(0)">John Doe</a></li>
                                        <li><a href="javascript:void(0)">2 Oct</a></li>
                                        <li><a href="javascript:void(0)">25 comments</a></li>
                                        <li><a href="javascript:void(0)">3 View</a></li>
                                    </ul>
                                </div>
                                <p>lorem ipsum dolor sit amet, consecteturamet adipisicing elit, tempor incididunt ut labore. lorem ipsum dolor sit amet.</p>
                                <a [routerLink]="'/blog/details'" class="btn-theme">View more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="item news-slid">
                            <a [routerLink]="'/blog/details'">
                                <div class="news-box">
                                    <img src="assets/images/blog/3.jpg" alt="news-1" class="img-fluid">
                                </div>
                            </a>
                            <div class="news-text">
                                <div class="blog-hover">
                                    <h4>lorem ipsum dolor sit amet</h4>
                                    <ul class="list-inline blog-details-list">
                                        <li><a href="javascript:void(0)">John Doe</a></li>
                                        <li><a href="javascript:void(0)">3 Oct</a></li>
                                        <li><a href="javascript:void(0)">25 comments</a></li>
                                        <li><a href="javascript:void(0)">3 View</a></li>
                                    </ul>
                                </div>
                                <p>lorem ipsum dolor sit amet, consecteturamet adipisicing elit, tempor incididunt ut labore. lorem ipsum dolor sit amet.</p>
                                <a [routerLink]="'/blog/details'" class="btn-theme">View more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="item news-slid">
                            <a [routerLink]="'/blog/details'">
                                <div class="news-box">
                                    <img src="assets/images/blog/4.jpg" alt="news-1" class="img-fluid">
                                </div>
                            </a>
                            <div class="news-text">
                                <div class="blog-hover">
                                    <h4>lorem ipsum dolor sit amet</h4>
                                    <ul class="list-inline blog-details-list">
                                        <li><a href="javascript:void(0)">John Doe</a></li>
                                        <li><a href="javascript:void(0)">1 Oct</a></li>
                                        <li><a href="javascript:void(0)">25 comments</a></li>
                                        <li><a href="javascript:void(0)">4 View</a></li>
                                    </ul>
                                </div>
                                <p>lorem ipsum dolor sit amet, consecteturamet adipisicing elit, tempor incididunt ut labore. lorem ipsum dolor sit amet.</p>
                                <a [routerLink]="'/blog/details'" class="btn-theme">View more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="item news-slid">
                            <a [routerLink]="'/blog/details'">
                                <div class="news-box">
                                    <img src="assets/images/blog/5.jpg" alt="news-1" class="img-fluid">
                                </div>
                            </a>
                            <div class="news-text">
                                <div class="blog-hover">
                                    <h4>lorem ipsum dolor sit amet</h4>
                                    <ul class="list-inline blog-details-list">
                                        <li><a href="javascript:void(0)">John Doe</a></li>
                                        <li><a href="javascript:void(0)">5 Oct</a></li>
                                        <li><a href="javascript:void(0)">25 comments</a></li>
                                        <li><a href="javascript:void(0)">3 View</a></li>
                                    </ul>
                                </div>
                                <p>lorem ipsum dolor sit amet, consecteturamet adipisicing elit, tempor incididunt ut labore. lorem ipsum dolor sit amet.</p>
                                <a [routerLink]="'/blog/details'" class="btn-theme">View more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="item news-slid">
                            <a [routerLink]="'/blog/details'">
                                <div class="news-box">
                                    <img src="assets/images/blog/6.jpg" alt="news-1" class="img-fluid">
                                </div>
                            </a>
                            <div class="news-text">
                                <div class="blog-hover">
                                    <h4>lorem ipsum dolor sit amet</h4>
                                    <ul class="list-inline blog-details-list">
                                        <li><a href="javascript:void(0)">John Doe</a></li>
                                        <li><a href="javascript:void(0)">6 Oct</a></li>
                                        <li><a href="javascript:void(0)">25 comments</a></li>
                                        <li><a href="javascript:void(0)">3 View</a></li>
                                    </ul>
                                </div>
                                <p>lorem ipsum dolor sit amet, consecteturamet adipisicing elit, tempor incididunt ut labore. lorem ipsum dolor sit amet.</p>
                                <a [routerLink]="'/blog/details'" class="btn-theme">View more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- paginations -->
            <div class="col-md-12">
                <nav aria-label="Page navigation" class="blog-pagination">
                    <ul class="pagination justify-content-center blog-pagin">
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)" aria-label="Next">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- paginations end-->
        </div>
    </div>

    <div class="animation-circle absolute">
        <i></i>
        <i></i>
        <i></i>
    </div>
    <div class="animation-circle-inverse">
        <i></i>
        <i></i>
        <i></i>
    </div>

</section>
<!-- blog Section End -->