/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: 'Open Sans';
  background-color: transparent;
  color: #3c3c3c;
}

md-checkbox {
  font-weight: normal;
}

label {
  font-weight: normal;
}

.mat-progress-bar {
  height: 3px !important;
}

.mat-progress-bar-buffer {
  background-color: white !important;
}

.carousel-item-button:last-child .mat-button-ripple.mat-ripple,
.carousel-item-button:last-child .mat-button-focus-overlay {
  border-radius: 0 0 10px 10px !important;
}

[hidden],
.hidden {
  display: none !important;
}

.cdk-overlay-dark-backdrop {
  border-radius: 10px;
}

.image-viewer-container {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border: 0;
  border-radius: 10px;
}

.image-viewer-container .img-container {
  height: 100vh !important;
  width: 100vw !important;
}

.image-viewer-container .img-container img {
  transform: translate(0, 50%);
}

.image-viewer-container .btn-close {
  z-index: 1100;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.image-viewer-container .btn-close svg {
  width: 16px;
  height: 16px;
}

.image-viewer-container .btn-close svg path {
  fill: white;
}

.video-viewer-container {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border: 0;
  border-radius: 10px;
}

.video-viewer-container .video-container {
  height: 100vh !important;
  width: 100vw !important;
}

.video-viewer-container .video-container>video {
  width: 100%;
  transform: translate(0, 50%);
}

.video-viewer-container .btn-close {
  z-index: 1100;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.video-viewer-container .btn-close svg {
  width: 16px;
  height: 16px;
}

.video-viewer-container .btn-close svg path {
  fill: white;
}
