<div class="card-block p-0 m-0">
	<ul class="list-group task-list">
		<li class="list-group-item">
			<span class="check" *ngIf="!editable">
			<mat-checkbox (click)="toggleTask($event)" [(ngModel)]="task.isDone" *ngIf="!toggleTaskProcessing"></mat-checkbox>
			<i class="zmdi-hc-li zmdi zmdi-refresh zmdi-hc-spin" *ngIf="toggleTaskProcessing"></i>
		</span>
			<span class="task">
			<span [ngClass]="task.isDone ? 'task-done' : 'task'" *ngIf="!editable">
				{{task.name}}
			</span>
			<form novalidate *ngIf="editable" [formGroup]="form" (submit)="editName(form)">
				<div class="form-group" [ngClass]="form.get('updatedTask').hasError('required') && isSubmitted ? 'has-danger' : ''">
					<mat-form-field floatPlaceholder="never" class="float-never">
						<input matInput type="text" class="form-control input-sm" id="task" placeholder="Add a task" formControlName="updatedTask" (blur)="disableEditing()" focus/>
					</mat-form-field>
					<div class="form-control-feedback" *ngIf="form.get('updatedTask').hasError('required') && isSubmitted">Task name is required</div>
				</div>
			</form>
			</span>
			<span class="actions float-right"  *ngIf="!editable">
				<a href="javascript:void(0)"  (click)="enableEditing()" class="edit"><i class="zmdi zmdi-edit"></i></a>
			<a href="javascript:void(0)" (click)="deleteTask()"  class="delete"><i class="zmdi zmdi-delete"></i></a>
			</span>
		</li>
	</ul>
</div>
