<div id="content_wrapper" class="boxedlayout2-wrapper">
	<div class="content">
		<div class="header-wrapper header-md overlay">
			<div class="container">
				<div class="row">
					<div class="col">
						<header>
							<h1>Scrollable Containers</h1>
						</header>
					</div>
				</div>
			</div>
		</div>
		<div class="content-body container">
			<div class="row">
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Angular 2+ Malihu custom scrollbar directive and service.</h2>
							<ul class="actions icons top-right">
								<li>
									<a href="//github.com/jfcere/ngx-malihu-scrollbar" data-toggle="tooltip" data-placement="top" title="" target="_blank" data-original-title="Reference">
										<i class="zmdi zmdi-link"></i>
									</a>
								</li>
							</ul>
						</header>
						<div class="card-block">
							<p>
								Highly customizable custom scrollbar directive and service. Features include vertical and/or horizontal scrollbar(s), adjustable scrolling momentum, mouse-wheel, keyboard and touch support, ready-to-use themes and customization via CSS, RTL direction
								support, option parameters for full control of scrollbar functionality, methods for triggering actions like scroll-to, update, destroy etc., user-defined callbacks and more.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="card card-salmon">
						<header class="card-header card-salmon">
							<h2 class="card-title">Minimal Light Scrollbar</h2>
							<small>Visible on hover</small>
						</header>
						<div class="card-block max-h-800" malihu-scrollbar [scrollbarOptions]="MinimalLightScrollbar">
							<p>Normcore bicycle rights mlkshk twee mustache, godard street art cred marfa offal bitters direct trade letterpress scenester. Bitters chicharrones next level, street art cliche hashtag woke stumptown. Flannel hexagon messenger bag retro la croix,
								mlkshk thundercats sustainable raw denim. Vape cornhole 8-bit meditation tacos. Hoodie quinoa mustache, tofu chartreuse unicorn kickstarter gastropub viral VHS sriracha godard cray listicle lomo. Jean shorts vinyl glossier flannel chillwave kinfolk,
								vaporware sriracha roof party PBR&amp;B disrupt tumblr echo park. Trust fund asymmetrical put a bird on it cronut swag art party biodiesel chartreuse iceland.
							</p>
							<p>Tousled banh mi shoreditch plaid. Polaroid yr stumptown, cray fam sartorial sriracha pop-up 3 wolf moon af woke XOXO copper mug truffaut. Vinyl godard tacos seitan, salvia mumblecore fanny pack. PBR&amp;B VHS tbh austin. Woke meditation vegan hot
								chicken. Asymmetrical hashtag cronut tattooed pop-up 90's, migas subway tile cray hella fam post-ironic sartorial lomo. Waistcoat ramps fingerstache, asymmetrical slow-carb cred chambray tote bag PBR&amp;B pok pok paleo poke four dollar toast
								sriracha mustache.</p>
								<p>Cliche disrupt raw denim drinking vinegar skateboard, vice raclette fashion axe food truck art party mustache mumblecore. Vape messenger bag chartreuse snackwave. Taxidermy narwhal occupy, disrupt freegan edison bulb lomo intelligentsia pickled
									raclette PBR&amp;B banh mi green juice subway tile. Narwhal leggings hoodie pug art party man braid, flannel gastropub marfa messenger bag locavore etsy godard austin gochujang. IPhone disrupt lumbersexual, brooklyn kogi sartorial try-hard twee.
									Food truck dreamcatcher subway tile glossier. Tbh beard cred, migas organic VHS listicle 90's typewriter roof party wayfarers post-ironic pinterest direct trade selvage.</p>
									<p>Green juice mumblecore keytar, mixtape helvetica disrupt man br aid chicharrones pop-up neutra. Ethical iPhone listicle health goth, echo park chambray neutra cornhole. Brunch mixtape tilde master cleanse. Semiotics portland mixtape sriracha truffaut
										franzen distillery narwhal, activated charcoal hashtag stumptown craft beer crucifix hot chicken 8-bit. Direct trade activated charcoal bushwick drinking vinegar polaroid. Kale chips food truck migas, thundercats authentic whatever fixie scenester
										asymmetrical. Neutra normcore snackwave sriracha activated charcoal.</p>
										<p>Cronut hoodie iPhone sustainable PBR&amp;B lo-fi tofu. Taxidermy franzen you probably haven't heard of them flexitarian. Plaid kogi meh retro raw denim. Cronut ugh offal man braid, pop-up single-origin coffee roof party hoodie plaid scenester kale
											chips yr. Sartorial stumptown microdosing, asymmetrical shoreditch celiac jean shorts. Chambray messenger bag kale chips raw denim farm-to-table. Whatever kogi celiac, schlitz chia locavore kale chips church-key.</p>
											<p>Coloring book drinking vinegar everyday carry, vinyl tumeric plaid gochujang. Godard banjo squid dreamcatcher messenger bag copper mug, direct trade gentrify kale chips blog. Asymmetrical dreamcatcher venmo, irony etsy yuccie godard post-ironic
												ennui distillery VHS air plant tofu. 3 wolf moon celiac seitan thundercats mlkshk, yuccie paleo messenger bag jianbing shoreditch unicorn austin microdosing crucifix helvetica. Irony unicorn bitters portland tattooed aesthetic. Quinoa retro jianbing
												williamsburg. Quinoa fashion axe chambray, sartorial chartreuse thundercats cold-pressed sustainable helvetica.</p>
												<p>Af jean shorts slow-carb shabby chic heirloom freegan, actually aesthetic gochujang hexagon cray chia farm-to-table mlkshk cornhole. Pour-over tilde paleo kombucha. Cray viral keytar, sriracha meditation bitters tote bag direct trade fam. Cornhole
													iPhone flannel, occupy mlkshk cray irony waistcoat DIY chicharrones tofu photo booth dreamcatcher copper mug mixtape. Actually poke yr fingerstache raclette, master cleanse whatever vaporware heirloom irony. VHS before they sold out hell of artisan.
													Wolf 3 wolf moon hot chicken neutra, meditation mlkshk heirloom yr.</p>
												</div>
											</div>
										</div>
										<div class="col">
											<div class="card">
												<header class="card-header">
													<h2 class="card-title">Minimal Dark Scrollbar</h2>
													<small>Visible on hover (default)</small>
												</header>
												<div class="card-block max-h-200" malihu-scrollbar [scrollbarOptions]="MinimalDarkScrollbar">
													<p>Schlitz chambray knausgaard four loko everyday carry bicycle rights synth, pour-over fashion axe thundercats shoreditch hashtag typewriter. Enamel pin irony austin gastropub. Plaid edison bulb migas hoodie. Street art fam cray fixie. Asymmetrical
														stumptown retro mixtape leggings. Plaid literally marfa, listicle viral DIY coloring book hashtag sriracha synth hot chicken kickstarter photo booth. Ugh bespoke iceland photo booth vegan, pok pok thundercats activated charcoal tacos banh mi biodiesel
														banjo.
													</p>
													<p>Franzen you probably haven't heard of them messenger bag succulents literally, vinyl austin prism. Tattooed microdosing gluten-free retro, +1 chia cray portland hoodie dreamcatcher skateboard. Lumbersexual disrupt chartreuse, ugh wayfarers flexitarian
														retro salvia kombucha vinyl chicharrones. Before they sold out whatever gastropub pabst af, microdosing XOXO banjo 8-bit blog schlitz celiac. Wolf tacos before they sold out, 3 wolf moon fanny pack migas yr synth schlitz kogi ugh austin fixie.
														Selvage subway tile cred, beard you probably haven't heard of them try-hard deep v marfa 3 wolf moon hoodie celiac kale chips crucifix paleo williamsburg. Blog keytar distillery viral, etsy thundercats af organic celiac unicorn master cleanse
														vegan.
													</p>
													<p>Jean shorts flannel photo booth leggings, activated charcoal yr XOXO knausgaard biodiesel trust fund small batch. Dreamcatcher 8-bit shabby chic, whatever affogato try-hard viral cred blue bottle small batch fanny pack farm-to-table fam. Gentrify
														hammock mumblecore, fixie stumptown cardigan tousled scenester leggings wayfarers tumblr. Lyft poutine photo booth next level gluten-free kinfolk. Tote bag whatever lyft pour-over bicycle rights viral. Art party activated charcoal messenger bag
														chicharrones narwhal cardigan. Meggings literally lyft tousled, 3 wolf moon kitsch copper mug roof party pok pok distillery farm-to-table vegan health goth chartreuse.
													</p>
												</div>
											</div>
											<div class="card card-salmon">
												<header class="card-header card-salmon">
													<h2 class="card-title">Light Scrollbar</h2>
													<small>Always visible</small>
												</header>
												<div class="card-block max-h-200" malihu-scrollbar [scrollbarOptions]="DarkScrollbar">
													<p>Schlitz chambray knausgaard four loko everyday carry bicycle rights synth, pour-over fashion axe thundercats shoreditch hashtag typewriter. Enamel pin irony austin gastropub. Plaid edison bulb migas hoodie. Street art fam cray fixie. Asymmetrical
														stumptown retro mixtape leggings. Plaid literally marfa, listicle viral DIY coloring book hashtag sriracha synth hot chicken kickstarter photo booth. Ugh bespoke iceland photo booth vegan, pok pok thundercats activated charcoal tacos banh mi biodiesel
														banjo.
													</p>
													<p>Franzen you probably haven't heard of them messenger bag succulents literally, vinyl austin prism. Tattooed microdosing gluten-free retro, +1 chia cray portland hoodie dreamcatcher skateboard. Lumbersexual disrupt chartreuse, ugh wayfarers flexitarian
														retro salvia kombucha vinyl chicharrones. Before they sold out whatever gastropub pabst af, microdosing XOXO banjo 8-bit blog schlitz celiac. Wolf tacos before they sold out, 3 wolf moon fanny pack migas yr synth schlitz kogi ugh austin fixie.
														Selvage subway tile cred, beard you probably haven't heard of them try-hard deep v marfa 3 wolf moon hoodie celiac kale chips crucifix paleo williamsburg. Blog keytar distillery viral, etsy thundercats af organic celiac unicorn master cleanse
														vegan.
													</p>
													<p>Jean shorts flannel photo booth leggings, activated charcoal yr XOXO knausgaard biodiesel trust fund small batch. Dreamcatcher 8-bit shabby chic, whatever affogato try-hard viral cred blue bottle small batch fanny pack farm-to-table fam. Gentrify
														hammock mumblecore, fixie stumptown cardigan tousled scenester leggings wayfarers tumblr. Lyft poutine photo booth next level gluten-free kinfolk. Tote bag whatever lyft pour-over bicycle rights viral. Art party activated charcoal messenger bag
														chicharrones narwhal cardigan. Meggings literally lyft tousled, 3 wolf moon kitsch copper mug roof party pok pok distillery farm-to-table vegan health goth chartreuse.
													</p>
												</div>
											</div>
											<div class="card">
												<header class="card-header">
													<h2 class="card-title">Dark Scrollbar</h2>
													<small>Always visible</small>
												</header>
												<div class="card-block max-h-200" malihu-scrollbar [scrollbarOptions]="DarkScrollbar">
													<p>Schlitz chambray knausgaard four loko everyday carry bicycle rights synth, pour-over fashion axe thundercats shoreditch hashtag typewriter. Enamel pin irony austin gastropub. Plaid edison bulb migas hoodie. Street art fam cray fixie. Asymmetrical
														stumptown retro mixtape leggings. Plaid literally marfa, listicle viral DIY coloring book hashtag sriracha synth hot chicken kickstarter photo booth. Ugh bespoke iceland photo booth vegan, pok pok thundercats activated charcoal tacos banh mi biodiesel
														banjo.
													</p>
													<p>Franzen you probably haven't heard of them messenger bag succulents literally, vinyl austin prism. Tattooed microdosing gluten-free retro, +1 chia cray portland hoodie dreamcatcher skateboard. Lumbersexual disrupt chartreuse, ugh wayfarers flexitarian
														retro salvia kombucha vinyl chicharrones. Before they sold out whatever gastropub pabst af, microdosing XOXO banjo 8-bit blog schlitz celiac. Wolf tacos before they sold out, 3 wolf moon fanny pack migas yr synth schlitz kogi ugh austin fixie.
														Selvage subway tile cred, beard you probably haven't heard of them try-hard deep v marfa 3 wolf moon hoodie celiac kale chips crucifix paleo williamsburg. Blog keytar distillery viral, etsy thundercats af organic celiac unicorn master cleanse
														vegan.
													</p>
													<p>Jean shorts flannel photo booth leggings, activated charcoal yr XOXO knausgaard biodiesel trust fund small batch. Dreamcatcher 8-bit shabby chic, whatever affogato try-hard viral cred blue bottle small batch fanny pack farm-to-table fam. Gentrify
														hammock mumblecore, fixie stumptown cardigan tousled scenester leggings wayfarers tumblr. Lyft poutine photo booth next level gluten-free kinfolk. Tote bag whatever lyft pour-over bicycle rights viral. Art party activated charcoal messenger bag
														chicharrones narwhal cardigan. Meggings literally lyft tousled, 3 wolf moon kitsch copper mug roof party pok pok distillery farm-to-table vegan health goth chartreuse.
													</p>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<div class="card">
												<header class="card-header">
													<h2 class="card-title">Dark Scrollbar</h2>
													<small>Always visible - Vertical Scroll</small>
												</header>
												<div class="card-block h-200" style="overflow:scroll;" malihu-scrollbar [scrollbarOptions]="DarkScrollbarX">
													<p style="white-space:nowrap;">Schlitz chambray knausgaard four loko everyday carry bicycle rights synth, pour-over fashion axe thundercats shoreditch hashtag typewriter. Enamel pin irony austin gastropub. Plaid edison bulb migas hoodie. Street art fam cray fixie. Asymmetrical
														stumptown retro mixtape leggings. Plaid literally marfa, listicle viral DIY coloring book hashtag sriracha synth hot chicken kickstarter photo booth. Ugh bespoke iceland photo booth vegan, pok pok thundercats activated charcoal tacos banh mi biodiesel
														banjo.
													</p>
													<p style="white-space:nowrap;">Franzen you probably haven't heard of them messenger bag succulents literally, vinyl austin prism. Tattooed microdosing gluten-free retro, +1 chia cray portland hoodie dreamcatcher skateboard. Lumbersexual disrupt chartreuse, ugh wayfarers flexitarian
														retro salvia kombucha vinyl chicharrones. Before they sold out whatever gastropub pabst af, microdosing XOXO banjo 8-bit blog schlitz celiac. Wolf tacos before they sold out, 3 wolf moon fanny pack migas yr synth schlitz kogi ugh austin fixie.
														Selvage subway tile cred, beard you probably haven't heard of them try-hard deep v marfa 3 wolf moon hoodie celiac kale chips crucifix paleo williamsburg. Blog keytar distillery viral, etsy thundercats af organic celiac unicorn master cleanse
														vegan.
													</p>
													<p style="white-space:nowrap;">Jean shorts flannel photo booth leggings, activated charcoal yr XOXO knausgaard biodiesel trust fund small batch. Dreamcatcher 8-bit shabby chic, whatever affogato try-hard viral cred blue bottle small batch fanny pack farm-to-table fam. Gentrify
														hammock mumblecore, fixie stumptown cardigan tousled scenester leggings wayfarers tumblr. Lyft poutine photo booth next level gluten-free kinfolk. Tote bag whatever lyft pour-over bicycle rights viral. Art party activated charcoal messenger bag
														chicharrones narwhal cardigan. Meggings literally lyft tousled, 3 wolf moon kitsch copper mug roof party pok pok distillery farm-to-table vegan health goth chartreuse.
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<footer id="footer_wrapper" class="footer_wrapper"></footer>
