<div id="content_wrapper" class="fullWidth1-wrapper">
	<div class="content">
		<header class="header-wrapper header-sm">
				<h1>{{title}}</h1>
		</header>
		<div class="content-body">
			<div class="card">
				<header class="card-header">
					<h2 class="card-title">Color palette</h2>
					<small class="card-subtitle">Material Design color palette</small>
					<ul class="actions icons top-right">
						<li>
							<a href="javascript:void(0)">
								<i class="zmdi zmdi-refresh-alt"></i>
							</a>
						</li>
						<li class="dropdown" ngbDropdown>
									<a href="javascript:void(0)" ngbDropdownToggle>
										<i class="zmdi zmdi-more-vert"></i>
									</a>
									<ul class="dropdown-menu btn-primary dropdown-menu-right">
										<li>
											<a href="javascript:void(0)">Option One</a>
										</li>
										<li>
											<a href="javascript:void(0)">Option Two</a>
										</li>
										<li>
											<a href="javascript:void(0)">Option Three</a>
										</li>
									</ul>
								</li>
					</ul>
				</header>
				<div class="card-block">
					<p class="p-b-30">Color palette based on the material design base colors. This color palette comprises primary and accent colors that can be used for illustration or to develop your brand colors. They’ve been designed to work harmoniously with each other. The color
						palette starts with primary colors and fills in the spectrum to create a complete and usable palette for Android, Web, and iOS. Google suggests using the 500 colors as the primary colors in your app and the other colors as accents colors.</p>
					<div id="palette" class="section">
						<div class="row dynamic-color">
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 color-block">
								<div class="material-design-colors">
									<div class="color-example md-bg-red-50">
										<span class="color-black">.md-bg-red-50</span>
									</div>
									<div class="color-example md-bg-red-100">
										<span class="color-black">.md-bg-red-100</span>
									</div>
									<div class="color-example md-bg-red-200">
										<span class="color-black">.md-bg-red-200</span>
									</div>
									<div class="color-example md-bg-red-300">
										<span class="color-black">.md-bg-red-300</span>
									</div>
									<div class="color-example md-bg-red-400">
										<span class="color-black">.md-bg-red-400</span>
									</div>
									<div class="color-example md-bg-red-500">
										<span class="color-black">.md-bg-red-500</span>
									</div>
									<div class="color-example md-bg-red-600">
										<span class="color-black">.md-bg-red-600</span>
									</div>
									<div class="color-example md-bg-red-700">
										<span class="color-black">.md-bg-red-700</span>
									</div>
									<div class="color-example md-bg-red-800">
										<span class="color-black">.md-bg-red-800</span>
									</div>
									<div class="color-example md-bg-red-900">
										<span class="color-black">.md-bg-red-900</span>
									</div>
									<div class="color-example md-bg-red-A100">
										<span class="color-black">.md-bg-red-A100</span>
									</div>
									<div class="color-example md-bg-red-A200">
										<span class="color-black">.md-bg-red-A200</span>
									</div>
									<div class="color-example md-bg-red-A400">
										<span class="color-black">.md-bg-red-A400</span>
									</div>
									<div class="color-example md-bg-red-A700">
										<span class="color-black">.md-bg-red-A700</span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 color-block">
								<div class="material-design-colors">
									<div class="color-example md-bg-pink-50">
										<span class="color-black">.md-bg-pink-50</span>
									</div>
									<div class="color-example md-bg-pink-100">
										<span class="color-black">.md-bg-pink-100</span>
									</div>
									<div class="color-example md-bg-pink-200">
										<span class="color-black">.md-bg-pink-200</span>
									</div>
									<div class="color-example md-bg-pink-300">
										<span class="color-black">.md-bg-pink-300</span>
									</div>
									<div class="color-example md-bg-pink-400">
										<span class="color-black">.md-bg-pink-400</span>
									</div>
									<div class="color-example md-bg-pink-500">
										<span class="color-black">.md-bg-pink-500</span>
									</div>
									<div class="color-example md-bg-pink-600">
										<span class="color-black">.md-bg-pink-600</span>
									</div>
									<div class="color-example md-bg-pink-700">
										<span class="color-black">.md-bg-pink-700</span>
									</div>
									<div class="color-example md-bg-pink-800">
										<span class="color-black">.md-bg-pink-800</span>
									</div>
									<div class="color-example md-bg-pink-900">
										<span class="color-black">.md-bg-pink-900</span>
									</div>
									<div class="color-example md-bg-pink-A100">
										<span class="color-black">.md-bg-pink-A100</span>
									</div>
									<div class="color-example md-bg-pink-A200">
										<span class="color-black">.md-bg-pink-A200</span>
									</div>
									<div class="color-example md-bg-pink-A400">
										<span class="color-black">.md-bg-pink-A400</span>
									</div>
									<div class="color-example md-bg-pink-A700">
										<span class="color-black">.md-bg-pink-A700</span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 color-block">
								<div class="material-design-colors">
									<div class="color-example md-bg-purple-50">
										<span class="color-black">.md-bg-purple-50</span>
									</div>
									<div class="color-example md-bg-purple-100">
										<span class="color-black">.md-bg-purple-100</span>
									</div>
									<div class="color-example md-bg-purple-200">
										<span class="color-black">.md-bg-purple-200</span>
									</div>
									<div class="color-example md-bg-purple-300">
										<span class="color-black">.md-bg-purple-300</span>
									</div>
									<div class="color-example md-bg-purple-400">
										<span class="color-black">.md-bg-purple-400</span>
									</div>
									<div class="color-example md-bg-purple-500">
										<span class="color-black">.md-bg-purple-500</span>
									</div>
									<div class="color-example md-bg-purple-600">
										<span class="color-black">.md-bg-purple-600</span>
									</div>
									<div class="color-example md-bg-purple-700">
										<span class="color-black">.md-bg-purple-700</span>
									</div>
									<div class="color-example md-bg-purple-800">
										<span class="color-black">.md-bg-purple-800</span>
									</div>
									<div class="color-example md-bg-purple-900">
										<span class="color-black">.md-bg-purple-900</span>
									</div>
									<div class="color-example md-bg-purple-A100">
										<span class="color-black">.md-bg-purple-A100</span>
									</div>
									<div class="color-example md-bg-purple-A200">
										<span class="color-black">.md-bg-purple-A200</span>
									</div>
									<div class="color-example md-bg-purple-A400">
										<span class="color-black">.md-bg-purple-A400</span>
									</div>
									<div class="color-example md-bg-purple-A700">
										<span class="color-black">.md-bg-purple-A700</span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 color-block">
								<div class="material-design-colors">
									<div class="color-example md-bg-deep-purple-50">
										<span class="color-black">.md-bg-deep-purple-50</span>
									</div>
									<div class="color-example md-bg-deep-purple-100">
										<span class="color-black">.md-bg-deep-purple-100</span>
									</div>
									<div class="color-example md-bg-deep-purple-200">
										<span class="color-black">.md-bg-deep-purple-200</span>
									</div>
									<div class="color-example md-bg-deep-purple-300">
										<span class="color-black">.md-bg-deep-purple-300</span>
									</div>
									<div class="color-example md-bg-deep-purple-400">
										<span class="color-black">.md-bg-deep-purple-400</span>
									</div>
									<div class="color-example md-bg-deep-purple-500">
										<span class="color-black">.md-bg-deep-purple-500</span>
									</div>
									<div class="color-example md-bg-deep-purple-600">
										<span class="color-black">.md-bg-deep-purple-600</span>
									</div>
									<div class="color-example md-bg-deep-purple-700">
										<span class="color-black">.md-bg-deep-purple-700</span>
									</div>
									<div class="color-example md-bg-deep-purple-800">
										<span class="color-black">.md-bg-deep-purple-800</span>
									</div>
									<div class="color-example md-bg-deep-purple-900">
										<span class="color-black">.md-bg-deep-purple-900</span>
									</div>
									<div class="color-example md-bg-deep-purple-A100">
										<span class="color-black">.md-bg-deep-purple-A100</span>
									</div>
									<div class="color-example md-bg-deep-purple-A200">
										<span class="color-black">.md-bg-deep-purple-A200</span>
									</div>
									<div class="color-example md-bg-deep-purple-A400">
										<span class="color-black">.md-bg-deep-purple-A400</span>
									</div>
									<div class="color-example md-bg-deep-purple-A700">
										<span class="color-black">.md-bg-deep-purple-A700</span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 color-block">
								<div class="material-design-colors">
									<div class="color-example md-bg-indigo-50">
										<span class="color-black">.md-bg-indigo-50</span>
									</div>
									<div class="color-example md-bg-indigo-100">
										<span class="color-black">.md-bg-indigo-100</span>
									</div>
									<div class="color-example md-bg-indigo-200">
										<span class="color-black">.md-bg-indigo-200</span>
									</div>
									<div class="color-example md-bg-indigo-300">
										<span class="color-black">.md-bg-indigo-300</span>
									</div>
									<div class="color-example md-bg-indigo-400">
										<span class="color-black">.md-bg-indigo-400</span>
									</div>
									<div class="color-example md-bg-indigo-500">
										<span class="color-black">.md-bg-indigo-500</span>
									</div>
									<div class="color-example md-bg-indigo-600">
										<span class="color-black">.md-bg-indigo-600</span>
									</div>
									<div class="color-example md-bg-indigo-700">
										<span class="color-black">.md-bg-indigo-700</span>
									</div>
									<div class="color-example md-bg-indigo-800">
										<span class="color-black">.md-bg-indigo-800</span>
									</div>
									<div class="color-example md-bg-indigo-900">
										<span class="color-black">.md-bg-indigo-900</span>
									</div>
									<div class="color-example md-bg-indigo-A100">
										<span class="color-black">.md-bg-indigo-A100</span>
									</div>
									<div class="color-example md-bg-indigo-A200">
										<span class="color-black">.md-bg-indigo-A200</span>
									</div>
									<div class="color-example md-bg-indigo-A400">
										<span class="color-black">.md-bg-indigo-A400</span>
									</div>
									<div class="color-example md-bg-indigo-A700">
										<span class="color-black">.md-bg-indigo-A700</span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 color-block">
								<div class="material-design-colors">
									<div class="color-example md-bg-blue-50">
										<span class="color-black">.md-bg-blue-50</span>
									</div>
									<div class="color-example md-bg-blue-100">
										<span class="color-black">.md-bg-blue-100</span>
									</div>
									<div class="color-example md-bg-blue-200">
										<span class="color-black">.md-bg-blue-200</span>
									</div>
									<div class="color-example md-bg-blue-300">
										<span class="color-black">.md-bg-blue-300</span>
									</div>
									<div class="color-example md-bg-blue-400">
										<span class="color-black">.md-bg-blue-400</span>
									</div>
									<div class="color-example md-bg-blue-500">
										<span class="color-black">.md-bg-blue-500</span>
									</div>
									<div class="color-example md-bg-blue-600">
										<span class="color-black">.md-bg-blue-600</span>
									</div>
									<div class="color-example md-bg-blue-700">
										<span class="color-black">.md-bg-blue-700</span>
									</div>
									<div class="color-example md-bg-blue-800">
										<span class="color-black">.md-bg-blue-800</span>
									</div>
									<div class="color-example md-bg-blue-900">
										<span class="color-black">.md-bg-blue-900</span>
									</div>
									<div class="color-example md-bg-blue-A100">
										<span class="color-black">.md-bg-blue-A100</span>
									</div>
									<div class="color-example md-bg-blue-A200">
										<span class="color-black">.md-bg-blue-A200</span>
									</div>
									<div class="color-example md-bg-blue-A400">
										<span class="color-black">.md-bg-blue-A400</span>
									</div>
									<div class="color-example md-bg-blue-A700">
										<span class="color-black">.md-bg-blue-A700</span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 color-block">
								<div class="material-design-colors">
									<div class="color-example md-bg-light-blue-50">
										<span class="color-black">.md-bg-light-blue-50</span>
									</div>
									<div class="color-example md-bg-light-blue-100">
										<span class="color-black">.md-bg-light-blue-100</span>
									</div>
									<div class="color-example md-bg-light-blue-200">
										<span class="color-black">.md-bg-light-blue-200</span>
									</div>
									<div class="color-example md-bg-light-blue-300">
										<span class="color-black">.md-bg-light-blue-300</span>
									</div>
									<div class="color-example md-bg-light-blue-400">
										<span class="color-black">.md-bg-light-blue-400</span>
									</div>
									<div class="color-example md-bg-light-blue-500">
										<span class="color-black">.md-bg-light-blue-500</span>
									</div>
									<div class="color-example md-bg-light-blue-600">
										<span class="color-black">.md-bg-light-blue-600</span>
									</div>
									<div class="color-example md-bg-light-blue-700">
										<span class="color-black">.md-bg-light-blue-700</span>
									</div>
									<div class="color-example md-bg-light-blue-800">
										<span class="color-black">.md-bg-light-blue-800</span>
									</div>
									<div class="color-example md-bg-light-blue-900">
										<span class="color-black">.md-bg-light-blue-900</span>
									</div>
									<div class="color-example md-bg-light-blue-A100">
										<span class="color-black">.md-bg-light-blue-A100</span>
									</div>
									<div class="color-example md-bg-light-blue-A200">
										<span class="color-black">.md-bg-light-blue-A200</span>
									</div>
									<div class="color-example md-bg-light-blue-A400">
										<span class="color-black">.md-bg-light-blue-A400</span>
									</div>
									<div class="color-example md-bg-light-blue-A700">
										<span class="color-black">.md-bg-light-blue-A700</span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 color-block">
								<div class="material-design-colors">
									<div class="color-example md-bg-cyan-50">
										<span class="color-black">.md-bg-cyan-50</span>
									</div>
									<div class="color-example md-bg-cyan-100">
										<span class="color-black">.md-bg-cyan-100</span>
									</div>
									<div class="color-example md-bg-cyan-200">
										<span class="color-black">.md-bg-cyan-200</span>
									</div>
									<div class="color-example md-bg-cyan-300">
										<span class="color-black">.md-bg-cyan-300</span>
									</div>
									<div class="color-example md-bg-cyan-400">
										<span class="color-black">.md-bg-cyan-400</span>
									</div>
									<div class="color-example md-bg-cyan-500">
										<span class="color-black">.md-bg-cyan-500</span>
									</div>
									<div class="color-example md-bg-cyan-600">
										<span class="color-black">.md-bg-cyan-600</span>
									</div>
									<div class="color-example md-bg-cyan-700">
										<span class="color-black">.md-bg-cyan-700</span>
									</div>
									<div class="color-example md-bg-cyan-800">
										<span class="color-black">.md-bg-cyan-800</span>
									</div>
									<div class="color-example md-bg-cyan-900">
										<span class="color-black">.md-bg-cyan-900</span>
									</div>
									<div class="color-example md-bg-cyan-A100">
										<span class="color-black">.md-bg-cyan-A100</span>
									</div>
									<div class="color-example md-bg-cyan-A200">
										<span class="color-black">.md-bg-cyan-A200</span>
									</div>
									<div class="color-example md-bg-cyan-A400">
										<span class="color-black">.md-bg-cyan-A400</span>
									</div>
									<div class="color-example md-bg-cyan-A700">
										<span class="color-black">.md-bg-cyan-A700</span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 color-block">
								<div class="material-design-colors">
									<div class="color-example md-bg-teal-50">
										<span class="color-black">.md-bg-teal-50</span>
									</div>
									<div class="color-example md-bg-teal-100">
										<span class="color-black">.md-bg-teal-100</span>
									</div>
									<div class="color-example md-bg-teal-200">
										<span class="color-black">.md-bg-teal-200</span>
									</div>
									<div class="color-example md-bg-teal-300">
										<span class="color-black">.md-bg-teal-300</span>
									</div>
									<div class="color-example md-bg-teal-400">
										<span class="color-black">.md-bg-teal-400</span>
									</div>
									<div class="color-example md-bg-teal-500">
										<span class="color-black">.md-bg-teal-500</span>
									</div>
									<div class="color-example md-bg-teal-600">
										<span class="color-black">.md-bg-teal-600</span>
									</div>
									<div class="color-example md-bg-teal-700">
										<span class="color-black">.md-bg-teal-700</span>
									</div>
									<div class="color-example md-bg-teal-800">
										<span class="color-black">.md-bg-teal-800</span>
									</div>
									<div class="color-example md-bg-teal-900">
										<span class="color-black">.md-bg-teal-900</span>
									</div>
									<div class="color-example md-bg-teal-A100">
										<span class="color-black">.md-bg-teal-A100</span>
									</div>
									<div class="color-example md-bg-teal-A200">
										<span class="color-black">.md-bg-teal-A200</span>
									</div>
									<div class="color-example md-bg-teal-A400">
										<span class="color-black">.md-bg-teal-A400</span>
									</div>
									<div class="color-example md-bg-teal-A700">
										<span class="color-black">.md-bg-teal-A700</span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 color-block">
								<div class="material-design-colors">
									<div class="color-example md-bg-green-50">
										<span class="color-black">.md-bg-green-50</span>
									</div>
									<div class="color-example md-bg-green-100">
										<span class="color-black">.md-bg-green-100</span>
									</div>
									<div class="color-example md-bg-green-200">
										<span class="color-black">.md-bg-green-200</span>
									</div>
									<div class="color-example md-bg-green-300">
										<span class="color-black">.md-bg-green-300</span>
									</div>
									<div class="color-example md-bg-green-400">
										<span class="color-black">.md-bg-green-400</span>
									</div>
									<div class="color-example md-bg-green-500">
										<span class="color-black">.md-bg-green-500</span>
									</div>
									<div class="color-example md-bg-green-600">
										<span class="color-black">.md-bg-green-600</span>
									</div>
									<div class="color-example md-bg-green-700">
										<span class="color-black">.md-bg-green-700</span>
									</div>
									<div class="color-example md-bg-green-800">
										<span class="color-black">.md-bg-green-800</span>
									</div>
									<div class="color-example md-bg-green-900">
										<span class="color-black">.md-bg-green-900</span>
									</div>
									<div class="color-example md-bg-green-A100">
										<span class="color-black">.md-bg-green-A100</span>
									</div>
									<div class="color-example md-bg-green-A200">
										<span class="color-black">.md-bg-green-A200</span>
									</div>
									<div class="color-example md-bg-green-A400">
										<span class="color-black">.md-bg-green-A400</span>
									</div>
									<div class="color-example md-bg-green-A700">
										<span class="color-black">.md-bg-green-A700</span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 color-block">
								<div class="material-design-colors">
									<div class="color-example md-bg-light-green-50">
										<span class="color-black">.md-bg-light-green-50</span>
									</div>
									<div class="color-example md-bg-light-green-100">
										<span class="color-black">.md-bg-light-green-100</span>
									</div>
									<div class="color-example md-bg-light-green-200">
										<span class="color-black">.md-bg-light-green-200</span>
									</div>
									<div class="color-example md-bg-light-green-300">
										<span class="color-black">.md-bg-light-green-300</span>
									</div>
									<div class="color-example md-bg-light-green-400">
										<span class="color-black">.md-bg-light-green-400</span>
									</div>
									<div class="color-example md-bg-light-green-500">
										<span class="color-black">.md-bg-light-green-500</span>
									</div>
									<div class="color-example md-bg-light-green-600">
										<span class="color-black">.md-bg-light-green-600</span>
									</div>
									<div class="color-example md-bg-light-green-700">
										<span class="color-black">.md-bg-light-green-700</span>
									</div>
									<div class="color-example md-bg-light-green-800">
										<span class="color-black">.md-bg-light-green-800</span>
									</div>
									<div class="color-example md-bg-light-green-900">
										<span class="color-black">.md-bg-light-green-900</span>
									</div>
									<div class="color-example md-bg-light-green-A100">
										<span class="color-black">.md-bg-light-green-A100</span>
									</div>
									<div class="color-example md-bg-light-green-A200">
										<span class="color-black">.md-bg-light-green-A200</span>
									</div>
									<div class="color-example md-bg-light-green-A400">
										<span class="color-black">.md-bg-light-green-A400</span>
									</div>
									<div class="color-example md-bg-light-green-A700">
										<span class="color-black">.md-bg-light-green-A700</span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 color-block">
								<div class="material-design-colors">
									<div class="color-example md-bg-lime-50">
										<span class="color-black">.md-bg-lime-50</span>
									</div>
									<div class="color-example md-bg-lime-100">
										<span class="color-black">.md-bg-lime-100</span>
									</div>
									<div class="color-example md-bg-lime-200">
										<span class="color-black">.md-bg-lime-200</span>
									</div>
									<div class="color-example md-bg-lime-300">
										<span class="color-black">.md-bg-lime-300</span>
									</div>
									<div class="color-example md-bg-lime-400">
										<span class="color-black">.md-bg-lime-400</span>
									</div>
									<div class="color-example md-bg-lime-500">
										<span class="color-black">.md-bg-lime-500</span>
									</div>
									<div class="color-example md-bg-lime-600">
										<span class="color-black">.md-bg-lime-600</span>
									</div>
									<div class="color-example md-bg-lime-700">
										<span class="color-black">.md-bg-lime-700</span>
									</div>
									<div class="color-example md-bg-lime-800">
										<span class="color-black">.md-bg-lime-800</span>
									</div>
									<div class="color-example md-bg-lime-900">
										<span class="color-black">.md-bg-lime-900</span>
									</div>
									<div class="color-example md-bg-lime-A100">
										<span class="color-black">.md-bg-lime-A100</span>
									</div>
									<div class="color-example md-bg-lime-A200">
										<span class="color-black">.md-bg-lime-A200</span>
									</div>
									<div class="color-example md-bg-lime-A400">
										<span class="color-black">.md-bg-lime-A400</span>
									</div>
									<div class="color-example md-bg-lime-A700">
										<span class="color-black">.md-bg-lime-A700</span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 color-block">
								<div class="material-design-colors">
									<div class="color-example md-bg-yellow-50">
										<span class="color-black">.md-bg-yellow-50</span>
									</div>
									<div class="color-example md-bg-yellow-100">
										<span class="color-black">.md-bg-yellow-100</span>
									</div>
									<div class="color-example md-bg-yellow-200">
										<span class="color-black">.md-bg-yellow-200</span>
									</div>
									<div class="color-example md-bg-yellow-300">
										<span class="color-black">.md-bg-yellow-300</span>
									</div>
									<div class="color-example md-bg-yellow-400">
										<span class="color-black">.md-bg-yellow-400</span>
									</div>
									<div class="color-example md-bg-yellow-500">
										<span class="color-black">.md-bg-yellow-500</span>
									</div>
									<div class="color-example md-bg-yellow-600">
										<span class="color-black">.md-bg-yellow-600</span>
									</div>
									<div class="color-example md-bg-yellow-700">
										<span class="color-black">.md-bg-yellow-700</span>
									</div>
									<div class="color-example md-bg-yellow-800">
										<span class="color-black">.md-bg-yellow-800</span>
									</div>
									<div class="color-example md-bg-yellow-900">
										<span class="color-black">.md-bg-yellow-900</span>
									</div>
									<div class="color-example md-bg-yellow-A100">
										<span class="color-black">.md-bg-yellow-A100</span>
									</div>
									<div class="color-example md-bg-yellow-A200">
										<span class="color-black">.md-bg-yellow-A200</span>
									</div>
									<div class="color-example md-bg-yellow-A400">
										<span class="color-black">.md-bg-yellow-A400</span>
									</div>
									<div class="color-example md-bg-yellow-A700">
										<span class="color-black">.md-bg-yellow-A700</span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 color-block">
								<div class="material-design-colors">
									<div class="color-example md-bg-amber-50">
										<span class="color-black">.md-bg-amber-50</span>
									</div>
									<div class="color-example md-bg-amber-100">
										<span class="color-black">.md-bg-amber-100</span>
									</div>
									<div class="color-example md-bg-amber-200">
										<span class="color-black">.md-bg-amber-200</span>
									</div>
									<div class="color-example md-bg-amber-300">
										<span class="color-black">.md-bg-amber-300</span>
									</div>
									<div class="color-example md-bg-amber-400">
										<span class="color-black">.md-bg-amber-400</span>
									</div>
									<div class="color-example md-bg-amber-500">
										<span class="color-black">.md-bg-amber-500</span>
									</div>
									<div class="color-example md-bg-amber-600">
										<span class="color-black">.md-bg-amber-600</span>
									</div>
									<div class="color-example md-bg-amber-700">
										<span class="color-black">.md-bg-amber-700</span>
									</div>
									<div class="color-example md-bg-amber-800">
										<span class="color-black">.md-bg-amber-800</span>
									</div>
									<div class="color-example md-bg-amber-900">
										<span class="color-black">.md-bg-amber-900</span>
									</div>
									<div class="color-example md-bg-amber-A100">
										<span class="color-black">.md-bg-amber-A100</span>
									</div>
									<div class="color-example md-bg-amber-A200">
										<span class="color-black">.md-bg-amber-A200</span>
									</div>
									<div class="color-example md-bg-amber-A400">
										<span class="color-black">.md-bg-amber-A400</span>
									</div>
									<div class="color-example md-bg-amber-A700">
										<span class="color-black">.md-bg-amber-A700</span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 color-block">
								<div class="material-design-colors">
									<div class="color-example md-bg-orange-50">
										<span class="color-black">.md-bg-orange-50</span>
									</div>
									<div class="color-example md-bg-orange-100">
										<span class="color-black">.md-bg-orange-100</span>
									</div>
									<div class="color-example md-bg-orange-200">
										<span class="color-black">.md-bg-orange-200</span>
									</div>
									<div class="color-example md-bg-orange-300">
										<span class="color-black">.md-bg-orange-300</span>
									</div>
									<div class="color-example md-bg-orange-400">
										<span class="color-black">.md-bg-orange-400</span>
									</div>
									<div class="color-example md-bg-orange-500">
										<span class="color-black">.md-bg-orange-500</span>
									</div>
									<div class="color-example md-bg-orange-600">
										<span class="color-black">.md-bg-orange-600</span>
									</div>
									<div class="color-example md-bg-orange-700">
										<span class="color-black">.md-bg-orange-700</span>
									</div>
									<div class="color-example md-bg-orange-800">
										<span class="color-black">.md-bg-orange-800</span>
									</div>
									<div class="color-example md-bg-orange-900">
										<span class="color-black">.md-bg-orange-900</span>
									</div>
									<div class="color-example md-bg-orange-A100">
										<span class="color-black">.md-bg-orange-A100</span>
									</div>
									<div class="color-example md-bg-orange-A200">
										<span class="color-black">.md-bg-orange-A200</span>
									</div>
									<div class="color-example md-bg-orange-A400">
										<span class="color-black">.md-bg-orange-A400</span>
									</div>
									<div class="color-example md-bg-orange-A700">
										<span class="color-black">.md-bg-orange-A700</span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 color-block">
								<div class="material-design-colors">
									<div class="color-example md-bg-deep-orange-50">
										<span class="color-black">.md-bg-deep-orange-50</span>
									</div>
									<div class="color-example md-bg-deep-orange-100">
										<span class="color-black">.md-bg-deep-orange-100</span>
									</div>
									<div class="color-example md-bg-deep-orange-200">
										<span class="color-black">.md-bg-deep-orange-200</span>
									</div>
									<div class="color-example md-bg-deep-orange-300">
										<span class="color-black">.md-bg-deep-orange-300</span>
									</div>
									<div class="color-example md-bg-deep-orange-400">
										<span class="color-black">.md-bg-deep-orange-400</span>
									</div>
									<div class="color-example md-bg-deep-orange-500">
										<span class="color-black">.md-bg-deep-orange-500</span>
									</div>
									<div class="color-example md-bg-deep-orange-600">
										<span class="color-black">.md-bg-deep-orange-600</span>
									</div>
									<div class="color-example md-bg-deep-orange-700">
										<span class="color-black">.md-bg-deep-orange-700</span>
									</div>
									<div class="color-example md-bg-deep-orange-800">
										<span class="color-black">.md-bg-deep-orange-800</span>
									</div>
									<div class="color-example md-bg-deep-orange-900">
										<span class="color-black">.md-bg-deep-orange-900</span>
									</div>
									<div class="color-example md-bg-deep-orange-A100">
										<span class="color-black">.md-bg-deep-orange-A100</span>
									</div>
									<div class="color-example md-bg-deep-orange-A200">
										<span class="color-black">.md-bg-deep-orange-A200</span>
									</div>
									<div class="color-example md-bg-deep-orange-A400">
										<span class="color-black">.md-bg-deep-orange-A400</span>
									</div>
									<div class="color-example md-bg-deep-orange-A700">
										<span class="color-black">.md-bg-deep-orange-A700</span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 color-block">
								<div class="material-design-colors">
									<div class="color-example md-bg-brown-50">
										<span class="color-black">.md-bg-brown-50</span>
									</div>
									<div class="color-example md-bg-brown-100">
										<span class="color-black">.md-bg-brown-100</span>
									</div>
									<div class="color-example md-bg-brown-200">
										<span class="color-black">.md-bg-brown-200</span>
									</div>
									<div class="color-example md-bg-brown-300">
										<span class="color-black">.md-bg-brown-300</span>
									</div>
									<div class="color-example md-bg-brown-400">
										<span class="color-black">.md-bg-brown-400</span>
									</div>
									<div class="color-example md-bg-brown-500">
										<span class="color-black">.md-bg-brown-500</span>
									</div>
									<div class="color-example md-bg-brown-600">
										<span class="color-black">.md-bg-brown-600</span>
									</div>
									<div class="color-example md-bg-brown-700">
										<span class="color-black">.md-bg-brown-700</span>
									</div>
									<div class="color-example md-bg-brown-800">
										<span class="color-black">.md-bg-brown-800</span>
									</div>
									<div class="color-example md-bg-brown-900">
										<span class="color-black">.md-bg-brown-900</span>
									</div>
									<div class="color-example md-bg-brown-A100">
										<span class="color-black">.md-bg-brown-A100</span>
									</div>
									<div class="color-example md-bg-brown-A200">
										<span class="color-black">.md-bg-brown-A200</span>
									</div>
									<div class="color-example md-bg-brown-A400">
										<span class="color-black">.md-bg-brown-A400</span>
									</div>
									<div class="color-example md-bg-brown-A700">
										<span class="color-black">.md-bg-brown-A700</span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 color-block">
								<div class="material-design-colors">
									<div class="color-example md-bg-grey-50">
										<span class="color-black">.md-bg-grey-50</span>
									</div>
									<div class="color-example md-bg-grey-100">
										<span class="color-black">.md-bg-grey-100</span>
									</div>
									<div class="color-example md-bg-grey-200">
										<span class="color-black">.md-bg-grey-200</span>
									</div>
									<div class="color-example md-bg-grey-300">
										<span class="color-black">.md-bg-grey-300</span>
									</div>
									<div class="color-example md-bg-grey-400">
										<span class="color-white">.md-bg-grey-400</span>
									</div>
									<div class="color-example md-bg-grey-500">
										<span class="color-white">.md-bg-grey-500</span>
									</div>
									<div class="color-example md-bg-grey-600">
										<span class="color-white">.md-bg-grey-600</span>
									</div>
									<div class="color-example md-bg-grey-700">
										<span class="color-white">.md-bg-grey-700</span>
									</div>
									<div class="color-example md-bg-grey-800">
										<span class="color-white">.md-bg-grey-800</span>
									</div>
									<div class="color-example md-bg-grey-900">
										<span class="color-white">.md-bg-grey-900</span>
									</div>
									<div class="color-example md-bg-grey-1000">
										<span class="color-white">.md-bg-grey-1000</span>
									</div>
									<div class="color-example md-bg-grey-A100">
										<span class="color-black">.md-bg-grey-A100</span>
									</div>
									<div class="color-example md-bg-grey-A200">
										<span class="color-black">.md-bg-grey-A200</span>
									</div>
									<div class="color-example md-bg-grey-A400">
										<span class="color-white">.md-bg-grey-A400</span>
									</div>
									<div class="color-example md-bg-grey-A700">
										<span class="color-white">.md-bg-grey-A700</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row dynamic-color">
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 color-block">
								<div class="material-design-colors">
									<div class="color-example md-bg-blue-grey-50">
										<span class="color-black">.md-bg-blue-grey-50</span>
									</div>
									<div class="color-example md-bg-blue-grey-100">
										<span class="color-black">.md-bg-blue-grey-100</span>
									</div>
									<div class="color-example md-bg-blue-grey-200">
										<span class="color-black">.md-bg-blue-grey-200</span>
									</div>
									<div class="color-example md-bg-blue-grey-300">
										<span class="color-black">.md-bg-blue-grey-300</span>
									</div>
									<div class="color-example md-bg-blue-grey-400">
										<span class="color-black">.md-bg-blue-grey-400</span>
									</div>
									<div class="color-example md-bg-blue-grey-500">
										<span class="color-black">.md-bg-blue-grey-500</span>
									</div>
									<div class="color-example md-bg-blue-grey-600">
										<span class="color-black">.md-bg-blue-grey-600</span>
									</div>
									<div class="color-example md-bg-blue-grey-700">
										<span class="color-black">.md-bg-blue-grey-700</span>
									</div>
									<div class="color-example md-bg-blue-grey-800">
										<span class="color-black">.md-bg-blue-grey-800</span>
									</div>
									<div class="color-example md-bg-blue-grey-900">
										<span class="color-black">.md-bg-blue-grey-900</span>
									</div>
									<div class="color-example md-bg-blue-grey-A100">
										<span class="color-black">.md-bg-blue-grey-A100</span>
									</div>
									<div class="color-example md-bg-blue-grey-A200">
										<span class="color-black">.md-bg-blue-grey-A200</span>
									</div>
									<div class="color-example md-bg-blue-grey-A400">
										<span class="color-black">.md-bg-blue-grey-A400</span>
									</div>
									<div class="color-example md-bg-blue-grey-A700">
										<span class="color-black">.md-bg-blue-grey-A700</span>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 color-block">
								<div class="black" style="color: rgba(255, 255, 255, 0.901961);">#000000 black</div>
								<div class="white">#ffffff white</div>
								<div class="transparent">N/A transparent</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<footer id="footer_wrapper" class="footer_wrapper"></footer>
