<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">
                {{ 'home.title' | translate }}
              </h1>
              <p class="lead  text-white">Чатбот бол хэрэглэгчидтэй харилцах, маркетинг борлуулалтыг автоматжуулах
                шилдэг шийдэл юм.</p>
              <div class="btn-wrapper">
                <a [routerLink]="['/login']" class="btn btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="fa fa-code"></i></span>
                  <span class="btn-inner--text">Чатбот хөгжүүлэх</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">Автомат хариулагч</h6>
                  <p class="description mt-3">Чатбот нь хиймэл оюуны тусламжтайгаар 24 цагийн турш хэрэглэгчдээс ирсэн
                    асуултанд оновчтой хариулах боломжтой.</p>
                  <div>
                    <span class="badge badge-pill badge-primary">Чатбот</span>
                    <span class="badge badge-pill badge-primary">Хиймэл оюун</span>
                  </div>
                  <!-- <a href="javascript:void(0)" class="btn btn-primary mt-4">Дэлгэрэнгүй</a> -->
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <i class="fa fa-handshake-o"></i>
                  </div>
                  <h6 class="text-success text-uppercase">Захиалга, борлуулалт хийх</h6>
                  <p class="description mt-3">Чатбот нь бүх төрлийн бүтээгдэхүүн үйлчилгээний захиалга авах, цаг авах,
                    үнийн санал авхаас гадна төлбөр тооцоо хийх боломжтой чатбот.</p>
                  <div>
                    <span class="badge badge-pill badge-success">Захиалга</span>
                    <span class="badge badge-pill badge-success">Борлуулалт</span>
                    <span class="badge badge-pill badge-success">Чатбот</span>
                  </div>
                  <!-- <a href="javascript:void(0)" class="btn btn-success mt-4">Дэлгэрэнгүй</a> -->
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <i class="fa fa-bullhorn"></i>
                  </div>
                  <h6 class="text-warning text-uppercase">Мэдээлэл түгээх</h6>
                  <p class="description mt-3">Чатбот нь таны вэб хуудас дээр шинээр орсон мэдээлэл бүтээгдэхүүн
                    үйлчилгээг олон хэрэглэгчрүү зэрэг илгээх боломжтой.</p>
                  <div>
                    <span class="badge badge-pill badge-warning">Маркетинг</span>
                    <span class="badge badge-pill badge-warning">Сонордуулга</span>
                  </div>
                  <!-- <a href="javascript:void(0)" class="btn btn-warning mt-4">Learn more</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/img/theme/bot-dev.png" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <i class="ni ni-settings-gear-65"></i>
            </div>
            <h3>Chatbots.mn Studio</h3>
            <p>Та Chatbots.mn платформын тусламжтай та код бичих шаардлагагүйгээр бүх төрлийн чатбот бүтээх боломжтой.
            </p>
            <ul class="list-unstyled mt-3 mb-3">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="fa fa-code"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Програмчлалын мэдлэг шаардлагагүй</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="fa fa-rocket"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Хялбар чатбот хөгжүүлэх боломжтой</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="fa fa-bar-chart"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Чатботтой харилцсан хэрэглэгчийн датаг харах</h6>
                  </div>
                </div>
              </li>
            </ul>
            <a [routerLink]="['/login']" class="btn btn-white btn-icon mb-3 mb-sm-0">
              <span class="btn-inner--icon"><i class="fa fa-rocket"></i></span>
              <span class="btn-inner--text">Чатбот бүтээх</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="./assets/img/theme/programming.png" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">Чатбот хөгжүүлэх</h4>
              <p class="lead text-italic text-white">Intelligo Framework ашиглан хиймэл оюунтай чатбот хялбар хөгжүүлэх
                боломжтой.</p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
              <i class="fa fa-code"></i>
            </div>
            <h3>Intelligo Framework</h3>
            <p class="lead">Чатбот хялбар хөгжүүлэх</p>
            <p>Intelligo framework нь Typescript програмчлалын хэл дээр бичигдсэн бөгөөд Messenger, Slack чатбот
              хөгжүүлэх боломжтой нээлттэй framework юм.</p>
            <p>Intelligo framework нь 450000 гаруй таталт хийгдсэн бөгөөд машин сургалт хийх Neuro.js framework, чатботын
              код автоматаар үүсгэх intelligo generator гэх мэт маш олон нэмэлт сангуудтай.</p>
            <a href="https://github.com/intelligo-mn/intelligo" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0"
              target="_blank">
              <span class="btn-inner--icon"><i class="fa fa-github"></i></span>
              <span class="btn-inner--text">
                <span class="text-warning">Star us</span> on Github</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-integration-section></app-integration-section>
  <section class="section section-lg bg-gradient-default">
    <div class="container pt-lg pb-300">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">Чатбот хөгжүүлэлт хийлгэх</h2>
          <p class="lead text-white">Та өөрийн бүтээгдэхүүн үйлчилгээнд тохирсон бүх төрлийн үйлчилгээг автоматжуулах
            цаг авах, бүтээгдэхүүн үйлчилгээний үнийн санал авах, бараа ажил үйлчилгээ захиалах гэх мэт бизнесийн бүх
            салбарт ашиглах боломжтой чатбот хийлгэхийг хүсвэл бидэнтэй холбогдоорой.</p>
        </div>
      </div>
      <!-- <div class="row row-grid mt-5">
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-settings text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Building tools</h5>
          <p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-ruler-pencil text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Grow your market</h5>
          <p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-atom text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Launch time</h5>
          <p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        </div>
      </div>-->
    </div> 
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section section-lg pt-lg-0 section-contact-us">
    <div class="container">
      <div class="row justify-content-center mt--300">
        <div class="col-lg-8">
          <div class="card bg-gradient-secondary shadow">
            <div class="card-body p-lg-5">
              <h4 class="mb-1">Холбоо барих</h4>
              <!-- <p class="mt-0">Your project is very important to us.</p> -->
              <div class="form-group mt-5" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                  </div>
                  <input class="form-control" placeholder="Таны нэр" type="text" (focus)="focus=true"
                    (blur)="focus=false">
                </div>
              </div>
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Мэйл хаяг" type="email" (focus)="focus1=true"
                    (blur)="focus1=false">
                </div>
              </div>
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Утас" type="number" (focus)="focus1=true"
                    (blur)="focus1=false">
                </div>
              </div>
              <div class="form-group mb-4">
                <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80"
                  placeholder="Тайлбар..."></textarea>
              </div>
              <div>
                <button type="button" class="btn btn-default btn-round btn-block btn-lg">Илгээх</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
