    <script src="/dashboard/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="/dashboard/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="/dashboard/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="/dashboard/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="/dashboard/plugins/node-waves/waves.js"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="/dashboard/plugins/jquery-countto/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    <script src="/dashboard/plugins/raphael/raphael.min.js"></script>
    <script src="/dashboard/plugins/morrisjs/morris.js"></script>

    <!-- ChartJs -->
    <script src="/dashboard/plugins/chartjs/Chart.bundle.js"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="/dashboard/plugins/flot-charts/jquery.flot.js"></script>
    <script src="/dashboard/plugins/flot-charts/jquery.flot.resize.js"></script>
    <script src="/dashboard/plugins/flot-charts/jquery.flot.pie.js"></script>
    <script src="/dashboard/plugins/flot-charts/jquery.flot.categories.js"></script>
    <script src="/dashboard/plugins/flot-charts/jquery.flot.time.js"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="/dashboard/plugins/jquery-sparkline/jquery.sparkline.js"></script>

    <!-- Custom Js -->
    <script src="/dashboard/js/admin.js"></script>
    <script src="/dashboard/js/pages/index.js"></script>

    <script src="/dashboard/js/demo.js"></script>
    
    <script src="../../js/pages/examples/sign-in.js"></script>
</body>

</html>