<section id="screenshots" class="theme-bg screenshots">
   <div class="animation-circle">
      <i></i>
      <i></i>
      <i></i>
   </div>
   <div class="container">
      <div class="row">
         <div class="col-md-12 text-center">
            <div class="section-title">
               <h2 class="text-white">Chat Loop Screen Shot</h2>
               <img src="assets/images/white-line.png" alt="title-line" class="img-fluid">
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="swiper-screenshots-container-1 swiper-container">
               <div class="swiper-wrapper">
                  <div class="swiper-slide">
                     <img src="assets/images/ss/1.png" alt="1">
                  </div>
                  <div class="swiper-slide">
                     <img src="assets/images/ss/2.png" alt="2">
                  </div>
                  <div class="swiper-slide">
                     <img src="assets/images/ss/3.png" alt="3">
                  </div>
                  <div class="swiper-slide">
                     <img src="assets/images/ss/4.png" alt="4">
                  </div>
                  <div class="swiper-slide">
                     <img src="assets/images/ss/1.png" alt="5">
                  </div>
                  <div class="swiper-slide">
                     <img src="assets/images/ss/2.png" alt="5">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>