<footer class="footer"
  [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">
  <div class="container">
    <div class="row row-grid align-items-center"
      [ngClass]="{'my-md': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login', 'mb-5':getPath()==='/user-profile' || getPath()==='/register' || getPath()==='/login'}">
      <div class="col-lg-6">
        <h4 class="mb-0 font-weight-light">Бидэнтэй холдогдох боломжууд.</h4>
      </div>
      <div class="col-lg-6 text-lg-center btn-wrapper">
        <a target="_blank" href="https://www.facebook.com/chatbots.mn"
          class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="Like us Slack">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a target="_blank" href="https://medium.com/intelligo-systems"
          class="btn btn-neutral btn-icon-only btn-medium btn-round btn-lg" ngbTooltip="Follow us">
          <i class="fa fa-medium"></i>
        </a>
        <a target="_blank" href="https://linkedin.com/intelligo-systems"
        class="btn btn-primary btn-icon-only btn-linkedin btn-round btn-lg" ngbTooltip="Follow us">
        <i class="fa fa-linkedin"></i>
      </a>

        <a target="_blank" href="https://slack.intelligo.systems"
          class="btn btn-neutral btn-icon-only btn-slack btn-lg btn-round" ngbTooltip="Chat on">
          <i class="fa fa-slack"></i>
        </a>
        <a target="_blank" href="https://github.com/intelligo-systems"
          class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg" ngbTooltip="Star on Github">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{test | date: 'yyyy'}}
          <a href="https://www.intelligo.systems" target="_blank">Intelligo Systems</a>.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="https://www.intelligo.js.org" class="nav-link" target="_blank">Intelligo Framework</a>
          </li>
          <li class="nav-item">
            <a href="https://www.neuro.js.org" class="nav-link" target="_blank">Neuro.js</a>
          </li>
          <li class="nav-item">
            <a href="http://dev.mn" class="nav-link" target="_blank">Блог</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>