<!-- <nav role="navigation" class="navbar">
		<ul class="navbar-nav nav-logo">
			<li class="nav-item logo-wrapper">
				<a href="javascript:void(0)" [routerLink]="['/dashboards']">
					<div class="logo">
						<img src="assets/img/logo/favicon.png" alt="Logo">
					</div>
					<h1 class="brand-text">Analytics</h1>
				</a>
			</li>
			<li class="nav-item menu-icon">
				<a matRipple href="javascript:void(0)" style="float:left;" role="button" (click)="toggleMenuSideabar()" class="nav-link menu-trigger">
					<i class="mdi mdi-backburger"></i>
				</a>
		</li>
		</ul>
		<!-- <ul class="navbar-nav nav-left">
				<li class="nav-item menu-icon">
						<a matRipple href="javascript:void(0)" style="float:left;" role="button" (click)="toggleMenuSideabar()" class="nav-link menu-trigger">
							<i class="mdi mdi-backburger"></i>
						</a>
				</li>
		</ul> 
		</nav>
		<topbar-search #search></topbar-search> -->