<h2 matDialogTitle>{{ 'cloud-signup.title' | translate }}</h2>
<mat-dialog-content>
    <form #f="ngForm" (ngSubmit)="create()">
        <mat-form-field class="full-width">
            <input type="text" matInput name="name" [(ngModel)]="details.displayName"
                placeholder="{{ 'cloud-signup.display-name' | translate }}" required maxlength="30" />
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="email" matInput name="email" [(ngModel)]="details.email"
                pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$"
                placeholder="{{ 'cloud-signup.email' | translate }}" required #email="ngModel" />
            <mat-error align="start" *ngIf="email.invalid && (email.dirty || email.touched)">
                {{ 'cloud-signup.invalid-email' | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="text" matInput name="phone" [(ngModel)]="details.phone"
                placeholder="{{ 'cloud-signup.phone' | translate }}" required maxlength="16" pattern="^\+?\d{6,15}$"
                #phone="ngModel" />
            <mat-error align="start" *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                {{ 'cloud-signup.invalid-phone' | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="text" matInput name="companyName" [(ngModel)]="details.companyName"
                placeholder="{{ 'cloud-signup.company' | translate }}" required maxlength="50" />
        </mat-form-field>

        <mat-form-field class="full-width">
            <input type="password" matInput name="password" [(ngModel)]="details.password"
                placeholder="{{ 'cloud-signup.password' | translate }}" required pattern="^.{6,}$" maxlength="50"
                #pwd="ngModel" />
            <mat-error align="start" *ngIf="(pwd.invalid) && (pwd.dirty || pwd.touched)">
                {{ 'cloud-signup.invalid-password' | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="password" matInput name="confirmPassword" [(ngModel)]="details.confirmPassword"
                placeholder="{{ 'cloud-signup.confirm-password' | translate }}" [pattern]="'^'+pwd.value+'$'" required
                maxlength="50" #cpwd="ngModel" />
            <mat-error align="start" *ngIf="(cpwd.invalid) && (cpwd.dirty || cpwd.touched)">
                {{ 'cloud-signup.invalid-confirm-password' | translate }}
            </mat-error>
        </mat-form-field>
        <input type="submit" name="submit" style="display:none" />
    </form>
    <mat-chip-list *ngIf="false">
        <mat-chip selectable="false" class="danger-button">
            {{errorMessage}}
        </mat-chip>
    </mat-chip-list>
</mat-dialog-content>
<mat-dialog-actions class="actions">
    <button mat-raised-button (click)="create()" color="primary">{{ 'global.create' | translate }}</button>
    <button mat-raised-button matDialogClose>{{ 'global.dismiss' | translate }}</button>
</mat-dialog-actions>