#error_wrapper{
	background-image: url(/assets/img/backgrounds/bg-4.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	top: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	
	&:before {
		background-color: rgba(47,25,217,.4);
		content: ' ';
		width: 100%;
		height: 100%;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	   position: absolute;
	}
	
	#content {
		max-width: 50%;
		margin: 20% auto;
		z-index: 10;
		text-align: center;
		
		h1 {
			font-size: 15em;
			color: rgba(255,255,255,.5);
			font-family: "Source Sans Pro",sans-serif;
		}
		
		h2 {
			color: #fff;
	    font-size: 2rem;
	    line-height: 1.3;
			padding-top: 115px;
			span {
				font-size: 4rem;
			}
		}
	}
}
