<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Techstar AI Platform</title>
    <meta name="description" content="Techstar is a conversational AI platform powering virtual assistants and smart bots across mobile apps, web and messaging platforms.">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="application-name" content="Techstar AI Platform">
    <link rel="icon" type="image/png" href="/img/logo.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/logo.png" sizes="16x16">
    <meta name="theme-color" content="#ffffff">
    <meta itemprop="name" content="Techstar AI Platform">
    <meta itemprop="description" content="Techstar is a conversational AI platform powering virtual assistants and smart bots across mobile apps, web and messaging platforms.">
    <meta itemprop="image" content="http://www.techstar.cloud/img/techstar-platform.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Techstar AI Platform">
    <meta name="twitter:description" content="Techstar is a conversational AI platform powering virtual assistants and smart bots across mobile apps, web and messaging platforms.">
    <meta name="twitter:image" content="/img/techstar-platform.jpg">
    <meta property="og:title" content="Techstar AI Platform">
    <meta property="og:url" content="http://www.techstar.cloud">
    <meta property="og:site_name" content="Techstar AI Platform">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Techstar is a conversational AI platform powering virtual assistants and smart bots across mobile apps, web and messaging platforms.">
    <meta property="og:image" content="http://www.techstar.cloud/img/techstar-platform.jpg">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="/dashboard/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="/dashboard/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="/dashboard/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="/dashboard/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="/dashboard/css/themes/theme-white.css" rel="stylesheet" />
    
    <script>
        window['_fs_debug'] = false;
        window['_fs_host'] = 'fullstory.com';
        window['_fs_org'] = '70CEM';
        window['_fs_namespace'] = 'FS';
        (function(m,n,e,t,l,o,g,y){
            if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
            g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
            o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
            y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
            g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
            g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
            g.clearUserCookie=function(c,d,i){if(!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')){
            d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
            ';path=/;expires='+new Date(0).toUTCString();i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}};
        })(window,document,window['_fs_namespace'],'script','user');
    </script>
</head>
<body class="login-page">
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">Techstar <b>Bot</b></a>
            <small>Techstar, Inc</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_in" action="/signup" method="POST">
                    <% if (message.length > 0) { %>
                        <div class="msg"><%= message %></div>
                    <% } %>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="email" placeholder="Email" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="password" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 p-t-5">
                            <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                            <label for="rememberme">Remember Me</label>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-block bg-pink waves-effect" type="submit">SIGN UP</button>
                        </div>
                    </div>
                    <div class="row m-t-15 m-b--20">
                        <div class="col-xs-6">
                            <a href="/login">Login!</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/dashboard/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="/dashboard/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="/dashboard/plugins/node-waves/waves.js"></script>

    <!-- Custom Js -->
    <script src="/dashboard/js/admin.js"></script>
    <script src="/dashboard/js/pages/index.js"></script>

    <!-- Demo Js -->
    <script src="/dashboard/js/demo.js"></script>
    
    <script src="/dashboard/js/pages/examples/sign-in.js"></script>
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111622042-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    
        gtag('config', 'UA-111622042-1');
    </script>
    
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-111622042-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
