/*------------------------------------------------------------------------------
  Material Lab - Angular 4 Seed Project
------------------------------------------------------------------------------*/
//== Vendor
@import '../node_modules/multi-brand-colors/dist/scss/index.scss';
@import '../node_modules/mdi/css/materialdesignicons.css';
@import '../node_modules/material-design-iconic-font/dist/css/material-design-iconic-font.css';
//== App
@import "./app/shared/styles/app";


//Explicit
button, input[type=button], a {
	cursor: pointer;
}

input.mat-input-element {
	margin-top: 1px !important;
}

.yellow .mat-input-placeholder {
	color: #d6c416 !important;
}
