<div id="content_wrapper" class="fullWidth1-wrapper">
    <div class="content">
        <div class="header-wrapper header-sm">
            <header class="container-fluid">
                <div class="row">
                    <div class="col">
                           
                        <ul class="actions icons top-right">
                            <li>
                                <div class="row" style="padding-right:30px;">
                                    <div class="" style="padding-right:40px;">
                                            <mat-form-field>
                                                <input matInput [matDatepicker]="picker" [(ngModel)]="chosenStartDate" (focus)="picker.open()" readonly (change)="onClick($event)" placeholder="Start Date">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>  
                                        </div>
                                        <div class="" style="padding-right:40px">
                                                <mat-form-field>
                                                    <input matInput [matDatepicker]="picker1" [(ngModel)]="chosenEndDate" (focus)="picker1.open()" readonly (change)="onClick($event)" placeholder="End Date">
                                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker1></mat-datepicker>
                                                </mat-form-field>
                                        </div>
                                        <button mat-icon-button (click)="onClick($event)">
                                                <mat-icon>done</mat-icon>
                                            </button>
                                            <button mat-icon-button (click)="refresh()">
                                                <mat-icon *ngIf="loading" class="gear">autorenew</mat-icon>
                                                <mat-icon *ngIf="!loading">autorenew</mat-icon>
                                            </button>
                                    </div>
                               
                            </li>
                            <li>
                              
                            </li>
                        </ul>
                        <h1>Analytics</h1>
                    </div>
                </div>
            </header>
        </div>


        <div class="content-body">
            <div *ngIf="!errorMsg">
                <div class="card">
                    <h2 class="text-center" style="padding-top:15px;padding-bottom:15px;"> No data found</h2>
                </div>
            </div>
            <div *ngIf="errorMsg">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <header class="card-header ">
                                <h2 class="card-title">Users vs Views</h2>
                            </header>
                            <div class="card-block p-15">
                                <div>
                                    <ng2-charts-barline-analytics *ngIf="hideChart" [barChartData]="usersData" [barChartLabels]="trimNameUser"></ng2-charts-barline-analytics>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--_________________________________________________________________________________-->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <header class="card-header ">
                                <h2 class="card-title">Users vs Clicks</h2>
                            </header>
                            <div class="card-block p-15">
                                <ng2-charts-barline-analytics *ngIf="hideChart" [barChartData]="usersDataNew" [barChartLabels]="trimNameClick"></ng2-charts-barline-analytics>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer_wrapper" class="footer_wrapper"></footer>