<app-header-bar #appHeader [title]="'Chatbot.sh Studio'" [skipAuth]="true" [logoutNavigation]=""></app-header-bar>
<main>
  <div class="projects-header">
    <div class="welcome-wrapper">
      <div class="welcome-message">
        <h1>Chatbot.sh platform!</h1>
        <p class="welcome-subtitle">Build intelligent virtual assistants for your websites, facebook pages.</p>
      </div>
      <img src="../../../../assets/img/chatbots_studio_banner.svg" alt="Checklist" />
    </div>
  </div>
  <div class="projects-list-wrapper">
    <h5>Your Projects</h5>
    <mat-form-field>
      <input type="text" name="search" value="" matInput [(ngModel)]="search"
        placeholder="{{ 'home.search' | translate }}" />
    </mat-form-field>
    <div class="projects-grid">
      <mat-card matRipple (click)="addProject()" class="add-project-card">
        <mat-icon>add</mat-icon>
        {{ 'home.add' | translate }}
      </mat-card>
      <mat-card matRipple (click)="fileInput.click()" class="add-project-card">
        <mat-icon>cloud_upload</mat-icon>
        {{ 'home.import' | translate }}
      </mat-card>
      <mat-card (click)="openChatBotProject(projName)" *ngFor="let projName of searchedProjects(); let i = index">
        <div class="card-ripple" matRipple></div>
        <mat-card-content>
          <h2 class="project-name">{{ projName }}</h2>
        </mat-card-content>
        <mat-card-actions align="right">
          <button (click)="renameChatBotProject($event, projName)" (mousedown)="$event.stopPropagation()"
            mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="downloadChatBotProject($event, projName)" (mousedown)="$event.stopPropagation()"
            mat-icon-button>
            <mat-icon>cloud_download</mat-icon>
          </button>
          <button (click)="deleteChatBotProject($event, projName)" (mousedown)="$event.stopPropagation()"
            mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</main>
<input type="file" name="f" style="display:none" #fileInput (change)="fileInputChange()" />