<h2 matDialogTitle>{{ 'home.change-password' | translate }}</h2>
<mat-dialog-content>
    <div class="center-block center-content">
        <form (ngSubmit)="save()" class="form">
            <mat-form-field>
                <input type="password" placeholder="Current Password" name="password" matInput [(ngModel)]="password" required />
            </mat-form-field>
            <mat-form-field>
                <input type="password" placeholder="New Password" name="password" matInput [(ngModel)]="newPassword" required />
            </mat-form-field>
            <mat-form-field>
                <input type="password" placeholder="Confirm Password" name="confirmPassword" matInput [(ngModel)]="confirmPassword" required #pwd="ngModel" />
                <mat-hint align="start" *ngIf="(newPassword!=confirmPassword) && (pwd.dirty || pwd.touched)" style="color:red">
                    Passwords do not match
                </mat-hint>
            </mat-form-field>
            <input type="submit" name="submit" hidden />
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button matTooltip="Save" color="primary" mat-raised-button (click)="save()">Reset Password</button>
    <button mat-raised-button matDialogClose>Dismiss</button>
</mat-dialog-actions>