<div style="height:100%">
    <div id="content_wrapper" class="fullWidth1-wrapper">
        <div class="content">
            <div class="header-wrapper header-sm header-class">
                <header class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <ul class="actions icons top-right">
                                <li>
                                    <div class="row" style="">
                                        <div class="" style="padding-right:10px;">
                                            <mat-form-field>
                                                <mat-select placeholder="Edge Style" [ngModel]="Style" (ngModelChange)="setInterpolationType($event)">
                                                    <mat-option *ngFor="let type of interpolationTypes" style="color:black;background-color:white;" value="{{type}}">
                                                        {{type}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="" style="padding-right:10px;">
                                            <mat-form-field>
                                                <mat-select placeholder="Alignment" [ngModel]="orientationString" (ngModelChange)="setOrientation($event)">
                                                    <mat-option *ngFor="let align of orientations" style="color:black;background-color:white;" value="{{align}}">
                                                        {{align}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="" style="padding-right:10px;">
                                            <mat-form-field>
                                                <input matInput [matDatepicker]="picker" [(ngModel)]="chosenStartDate" (focus)="picker.open()" readonly placeholder="Start Date">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="" style="padding-right:10px">
                                            <mat-form-field>
                                                <input matInput [matDatepicker]="picker1" (focus)="picker1.open()" readonly [(ngModel)]="chosenEndDate" placeholder="End Date">
                                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <button mat-icon-button (click)="onClick($event)">
                                            <mat-icon>done</mat-icon>
                                        </button>
                                        <button mat-icon-button (click)="refresh()">
                                            <mat-icon *ngIf="loading" class="gear">autorenew</mat-icon>
                                            <mat-icon *ngIf="!loading">autorenew</mat-icon>
                                        </button>
                                    </div>

                                </li>
                                <li>
                                </li>
                            </ul>
                            <h1>Behaviour Flow</h1>
                        </div>
                    </div>
                </header>
            </div>
        </div>
        <main [class] *ngIf="errorMsg">
            <div class="col-lg-12 col-md-12 header-class">
                <div>
                    <div class="groupIdData-header text-center">

                        <span class="pull-left goalNode"></span>
                        <span class="pull-left legendText">Start Node</span>

                        <span class="pull-left startNode"></span>
                        <span class="pull-left legendText">Goal Node</span>


                        <span class="pull-left normalNode"></span>
                        <span class="pull-left legendText">Node</span>

                        <span class="pull-left apiCall"></span>
                        <span class="pull-left legendText">Api Call</span>

                    </div>
                </div>
            </div>
            <div class="chart-col">
                <ul class="actions icons bottom-right" style="padding-bottom:135px;">
                    <li>
                        <button mat-icon-button (click)="onZoom($event,'in')">
                            <mat-icon class="custom">zoom_in</mat-icon>
                        </button>
                    </li>
                </ul>
                <ul class="actions icons bottom-right" style="padding-bottom:90px;">
                    <li>
                        <button mat-icon-button (click)="onZoom($event,'out')">
                            <mat-icon class="custom">zoom_out</mat-icon>
                        </button>
                    </li>
                </ul>
                <ul class="actions icons bottom-right" style="padding-bottom:45px">
                    <li>
                        <button mat-icon-button (click)="fitToScreen($event)">
                            <mat-icon size="36" class="custom">fullscreen</mat-icon>
                        </button>
                    </li>
                </ul>
                <ul class="actions icons bottom-right">
                    <li>
                        <button mat-icon-button (click)="fitToNormal($event)">
                            <mat-icon class="custom_fit">zoom_out_map</mat-icon>
                        </button>
                    </li>
                </ul>

                <div class="sample" style="position: absolute; top: 130px; left: 80px; right: 50px; bottom: 50px;">

                    <ngx-graph *ngIf="!fitscreen" class="chart-container" [view]="view" [panOffsetX]="panX" [panOffsetY]="panY" [autoZoom]="autoZoom"
                        [legend]="showLegend" [zoomLevel]="zoomLevel" [links]="links" [zoomSpeed]="zoomSpeed" (legendLabelClick)="onLegendLabelClick($event)"
                        [nodes]="nodes" [scheme]="colorScheme" [orientation]="orientation" [curve]="curve" (select)="select($event)">

                        <ng-template #defsTemplate>
                            <svg:marker id="arrow" viewBox="0 -5 10 10" refX="10" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                                <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                            </svg:marker>
                        </ng-template>

                        <ng-template #nodeTemplate let-node>
                            <svg:g class="node" *ngIf="node.isStartNode">
                                <svg:rect *ngIf="node.label.length > 5" [attr.width]="node.width" [attr.height]="30" stroke="black" [attr.fill]="'#ffb900'"
                                />
                                <svg:text *ngIf="node.label.length > 5" alignment-baseline="central" [attr.x]="5" [attr.y]="15">
                                    <svg:tspan *ngIf="node.label.length > 5" text-anchor="middle" alignment-baseline="central" [attr.x]="node.width/2" [attr.y]="15">{{node.completeLabel}}</svg:tspan>
                                </svg:text>
                                <svg:rect *ngIf="node.label.length > 5" [attr.y]="30" [attr.width]="node.width" stroke="black" [attr.height]="30" [attr.fill]="'#fff'"
                                />
                                <svg:text *ngIf="node.label.length > 5" class="text" alignment-baseline="central" [attr.x]="5" [attr.y]="45">
                                    <svg:tspan *ngIf="node.label.length > 5" class="text" text-anchor="middle" alignment-baseline="central" [attr.x]="node.width/2"
                                        [attr.y]="45">Users:{{node.numberOfUsers}}</svg:tspan>
                                </svg:text>

                                <svg:rect *ngIf="node.label.length <= 5" [attr.width]="70" [attr.height]="30" stroke="black" [attr.fill]="'#ffb900'" />
                                <svg:text *ngIf="node.label.length <= 5" alignment-baseline="central" [attr.x]="5" [attr.y]="15">
                                    <svg:tspan *ngIf="node.label.length <= 5" text-anchor="middle" alignment-baseline="central" [attr.x]="35" [attr.y]="15">{{node.completeLabel}}</svg:tspan>
                                </svg:text>

                                <svg:rect *ngIf="node.label.length <= 5" [attr.y]="30" [attr.width]="70" stroke="black" [attr.height]="30" [attr.fill]="'#fff'"
                                />
                                <svg:text *ngIf="node.label.length <= 5" class="text" alignment-baseline="central" [attr.x]="5" [attr.y]="45">
                                    <svg:tspan *ngIf="node.label.length <= 5" class="text" text-anchor="middle" alignment-baseline="central" [attr.x]="35" [attr.y]="45">Users:{{node.numberOfUsers}}</svg:tspan>
                                </svg:text>
                            </svg:g>
                            <svg:g class="node" *ngIf="node.isGoalNode">
                                <svg:rect *ngIf="node.label.length > 5" [attr.width]="node.width" [attr.height]="30" stroke="black" [attr.fill]="'#8cc83c'"
                                />
                                <svg:text *ngIf="node.label.length > 5" alignment-baseline="central" [attr.x]="5" [attr.y]="15">
                                    <svg:tspan *ngIf="node.label.length > 5" text-anchor="middle" alignment-baseline="central" [attr.x]="node.width/2" [attr.y]="15">{{node.completeLabel}}</svg:tspan>
                                </svg:text>
                                <svg:rect *ngIf="node.label.length > 5" [attr.y]="30" [attr.y]="30" [attr.width]="node.width" stroke="black" [attr.height]="30"
                                    [attr.fill]="'#fff'" />
                                <svg:text *ngIf="node.label.length > 5" class="text" alignment-baseline="central" [attr.x]="5" [attr.y]="45">
                                    <svg:tspan *ngIf="node.label.length > 5" class="text" text-anchor="middle" alignment-baseline="central" [attr.x]="node.width/2"
                                        [attr.y]="45">Users:{{node.numberOfUsers}}</svg:tspan>
                                </svg:text>
                                <svg:rect *ngIf="node.label.length <= 5" [attr.width]="70" [attr.height]="30" stroke="black" [attr.fill]="'#8cc83c'" />
                                <svg:text *ngIf="node.label.length <= 5" alignment-baseline="central" [attr.x]="5" [attr.y]="15">
                                    <svg:tspan *ngIf="node.label.length <= 5" text-anchor="middle" alignment-baseline="central" [attr.x]="35" [attr.y]="15">{{node.completeLabel}}</svg:tspan>
                                </svg:text>

                                <svg:rect *ngIf="node.label.length <= 5" [attr.y]="30" [attr.width]="70" stroke="black" [attr.height]="30" [attr.fill]="'#fff'"
                                />
                                <svg:text *ngIf="node.label.length <= 5" class="text" alignment-baseline="central" [attr.x]="5" [attr.y]="45">
                                    <svg:tspan *ngIf="node.label.length <= 5" class="text" text-anchor="middle" alignment-baseline="central" [attr.x]="35" [attr.y]="45">Users:{{node.numberOfUsers}}</svg:tspan>
                                </svg:text>
                            </svg:g>


                            <svg:g class="node" *ngIf="!node.isStartNode && !node.isGoalNode">
                                <svg:rect *ngIf="node.label.length > 5 && node.nodeType != 'ApiCall'" [attr.width]="node.width" [attr.height]="30" stroke="black"
                                    [attr.fill]="'#666'" />
                                <svg:text *ngIf="node.label.length > 5 && node.nodeType != 'ApiCall' " alignment-baseline="central" [attr.x]="5" [attr.y]="15">
                                    <svg:tspan *ngIf="node.label.length > 5" text-anchor="middle" alignment-baseline="central" [attr.x]="node.width/2" [attr.y]="15">{{node.completeLabel}}</svg:tspan>
                                </svg:text>
                                <svg:rect *ngIf="node.label.length > 5 && node.nodeType === 'ApiCall'" [attr.width]="node.width" [attr.height]="30" stroke="black"
                                    [attr.fill]="'#fff'" />
                                <svg:text *ngIf="node.label.length > 5 && node.nodeType ==='ApiCall'" alignment-baseline="central" [attr.x]="5" [attr.y]="15">
                                    <svg:tspan *ngIf="node.label.length > 5" class="text" text-anchor="middle" alignment-baseline="central" [attr.x]="node.width/2"
                                        [attr.y]="15">{{node.completeLabel}}</svg:tspan>
                                </svg:text>
                                <svg:rect *ngIf="node.label.length > 5" [attr.y]="30" [attr.y]="30" [attr.width]="node.width" stroke="black" [attr.height]="30"
                                    [attr.fill]="'#fff'" />
                                <svg:text *ngIf="node.label.length > 5 && node.nodeType !='ApiCall'" class="text" alignment-baseline="central" [attr.x]="5"
                                    [attr.y]="45">
                                    <svg:tspan *ngIf="node.label.length > 5" class="text" text-anchor="middle" alignment-baseline="central" [attr.x]="node.width/2"
                                        [attr.y]="45">Users:{{node.numberOfUsers}}</svg:tspan>
                                </svg:text>
                                <svg:rect *ngIf="node.label.length <= 5 && node.nodeType != 'ApiCall'" [attr.width]="70" [attr.height]="30" stroke="black"
                                    [attr.fill]="'#666'" />
                                <svg:text *ngIf="node.label.length <= 5 && node.nodeType !='ApiCall'" alignment-baseline="central" [attr.x]="5" [attr.y]="15">
                                    <svg:tspan *ngIf="node.label.length <= 5" text-anchor="middle" alignment-baseline="central" [attr.x]="35" [attr.y]="15">{{node.completeLabel}}</svg:tspan>
                                </svg:text>
                                <svg:rect *ngIf="node.label.length <= 5 && node.nodeType === 'ApiCall'" [attr.width]="70" [attr.height]="30" stroke="black"
                                    [attr.fill]="'#fff'" />
                                <svg:text *ngIf="node.label.length <= 5 && node.nodeType === 'ApiCall'" alignment-baseline="central" [attr.x]="5" [attr.y]="15">
                                    <svg:tspan *ngIf="node.label.length <= 5" text-anchor="middle" class="text" alignment-baseline="central" [attr.x]="35" [attr.y]="15">{{node.completeLabel}}</svg:tspan>
                                </svg:text>
                                <svg:rect *ngIf="node.label.length <= 5" [attr.y]="30" [attr.width]="70" stroke="black" [attr.height]="30" [attr.fill]="'#fff'"
                                />
                                <svg:text *ngIf="node.label.length <= 5 && node.nodeType !='ApiCall'" class="text" alignment-baseline="central" [attr.x]="5"
                                    [attr.y]="45">
                                    <svg:tspan *ngIf="node.label.length <= 5" class="text" text-anchor="middle" alignment-baseline="central" [attr.x]="35" [attr.y]="45">Users:{{node.numberOfUsers}}</svg:tspan>
                                </svg:text>
                            </svg:g>
                        </ng-template>

                        <ng-template #linkTemplate let-link>
                            <svg:g class="edge">
                                <svg:path class="line" stroke-width="2" marker-end="url(#arrow)">
                                </svg:path>
                                <svg:text class="edge-label" text-anchor="middle">
                                    <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">
                                        {{link.label}}({{link.numberOfClicks}})
                                    </textPath>
                                </svg:text>
                            </svg:g>
                        </ng-template>

                    </ngx-graph>
                  
                    <ngx-graph *ngIf="fitscreen" class="chart-container" [view]="view" [panOffsetX]="panX" [panOffsetY]="panY" [autoZoom]="autoZoom"
                        [legend]="showLegend" [zoomLevel]="zoomLevel" [links]="links" [zoomSpeed]="zoomSpeed" (legendLabelClick)="onLegendLabelClick($event)"
                        [nodes]="nodes" [scheme]="colorScheme" [orientation]="orientation" [curve]="curve" (select)="select($event)">

                        <ng-template #defsTemplate>
                            <svg:marker id="arrow" viewBox="0 -5 10 10" refX="10" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                                <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                            </svg:marker>
                        </ng-template>

                        <ng-template #nodeTemplate let-node>
                            <svg:g class="node" *ngIf="node.isStartNode">
                                <svg:rect *ngIf="node.label.length > 5" [attr.width]="node.width" [attr.height]="30" stroke="black" [attr.fill]="'#ffb900'"
                                />
                                <svg:text *ngIf="node.label.length > 5" alignment-baseline="central" [attr.x]="5" [attr.y]="15">
                                    <svg:tspan *ngIf="node.label.length > 5" text-anchor="middle" alignment-baseline="central" [attr.x]="node.width/2" [attr.y]="15">{{node.completeLabel}}</svg:tspan>
                                </svg:text>
                                <svg:rect *ngIf="node.label.length > 5" [attr.y]="30" [attr.width]="node.width" stroke="black" [attr.height]="30" [attr.fill]="'#fff'"
                                />
                                <svg:text *ngIf="node.label.length > 5" class="text" alignment-baseline="central" [attr.x]="5" [attr.y]="45">
                                    <svg:tspan *ngIf="node.label.length > 5" class="text" text-anchor="middle" alignment-baseline="central" [attr.x]="node.width/2"
                                        [attr.y]="45">Users:{{node.numberOfUsers}}</svg:tspan>
                                </svg:text>

                                <svg:rect *ngIf="node.label.length <= 5" [attr.width]="70" [attr.height]="30" stroke="black" [attr.fill]="'#ffb900'" />
                                <svg:text *ngIf="node.label.length <= 5" alignment-baseline="central" [attr.x]="5" [attr.y]="15">
                                    <svg:tspan *ngIf="node.label.length <= 5" text-anchor="middle" alignment-baseline="central" [attr.x]="35" [attr.y]="15">{{node.completeLabel}}</svg:tspan>
                                </svg:text>

                                <svg:rect *ngIf="node.label.length <= 5" [attr.y]="30" [attr.width]="70" stroke="black" [attr.height]="30" [attr.fill]="'#fff'"
                                />
                                <svg:text *ngIf="node.label.length <= 5" class="text" alignment-baseline="central" [attr.x]="5" [attr.y]="45">
                                    <svg:tspan *ngIf="node.label.length <= 5" class="text" text-anchor="middle" alignment-baseline="central" [attr.x]="35" [attr.y]="45">Users:{{node.numberOfUsers}}</svg:tspan>
                                </svg:text>
                            </svg:g>
                            <svg:g class="node" *ngIf="node.isGoalNode">
                                <svg:rect *ngIf="node.label.length > 5" [attr.width]="node.width" [attr.height]="30" stroke="black" [attr.fill]="'#8cc83c'"
                                />
                                <svg:text *ngIf="node.label.length > 5" alignment-baseline="central" [attr.x]="5" [attr.y]="15">
                                    <svg:tspan *ngIf="node.label.length > 5" text-anchor="middle" alignment-baseline="central" [attr.x]="node.width/2" [attr.y]="15">{{node.completeLabel}}</svg:tspan>
                                </svg:text>
                                <svg:rect *ngIf="node.label.length > 5" [attr.y]="30" [attr.y]="30" [attr.width]="node.width" stroke="black" [attr.height]="30"
                                    [attr.fill]="'#fff'" />
                                <svg:text *ngIf="node.label.length > 5" class="text" alignment-baseline="central" [attr.x]="5" [attr.y]="45">
                                    <svg:tspan *ngIf="node.label.length > 5" class="text" text-anchor="middle" alignment-baseline="central" [attr.x]="node.width/2"
                                        [attr.y]="45">Users:{{node.numberOfUsers}}</svg:tspan>
                                </svg:text>
                                <svg:rect *ngIf="node.label.length <= 5" [attr.width]="70" [attr.height]="30" stroke="black" [attr.fill]="'#8cc83c'" />
                                <svg:text *ngIf="node.label.length <= 5" alignment-baseline="central" [attr.x]="5" [attr.y]="15">
                                    <svg:tspan *ngIf="node.label.length <= 5" text-anchor="middle" alignment-baseline="central" [attr.x]="35" [attr.y]="15">{{node.completeLabel}}</svg:tspan>
                                </svg:text>

                                <svg:rect *ngIf="node.label.length <= 5" [attr.y]="30" [attr.width]="70" stroke="black" [attr.height]="30" [attr.fill]="'#fff'"
                                />
                                <svg:text *ngIf="node.label.length <= 5" class="text" alignment-baseline="central" [attr.x]="5" [attr.y]="45">
                                    <svg:tspan *ngIf="node.label.length <= 5" class="text" text-anchor="middle" alignment-baseline="central" [attr.x]="35" [attr.y]="45">Users:{{node.numberOfUsers}}</svg:tspan>
                                </svg:text>
                            </svg:g>


                            <svg:g class="node" *ngIf="!node.isStartNode && !node.isGoalNode">
                                <svg:rect *ngIf="node.label.length > 5 && node.nodeType != 'ApiCall'" [attr.width]="node.width" [attr.height]="30" stroke="black"
                                    [attr.fill]="'#666'" />
                                <svg:text *ngIf="node.label.length > 5 && node.nodeType != 'ApiCall' " alignment-baseline="central" [attr.x]="5" [attr.y]="15">
                                    <svg:tspan *ngIf="node.label.length > 5" text-anchor="middle" alignment-baseline="central" [attr.x]="node.width/2" [attr.y]="15">{{node.completeLabel}}</svg:tspan>
                                </svg:text>
                                <svg:rect *ngIf="node.label.length > 5 && node.nodeType === 'ApiCall'" [attr.width]="node.width" [attr.height]="30" stroke="black"
                                    [attr.fill]="'#fff'" />
                                <svg:text *ngIf="node.label.length > 5 && node.nodeType ==='ApiCall'" alignment-baseline="central" [attr.x]="5" [attr.y]="15">
                                    <svg:tspan *ngIf="node.label.length > 5" class="text" text-anchor="middle" alignment-baseline="central" [attr.x]="node.width/2"
                                        [attr.y]="15">{{node.completeLabel}}</svg:tspan>
                                </svg:text>
                                <svg:rect *ngIf="node.label.length > 5" [attr.y]="30" [attr.y]="30" [attr.width]="node.width" stroke="black" [attr.height]="30"
                                    [attr.fill]="'#fff'" />
                                <svg:text *ngIf="node.label.length > 5 && node.nodeType !='ApiCall'" class="text" alignment-baseline="central" [attr.x]="5"
                                    [attr.y]="45">
                                    <svg:tspan *ngIf="node.label.length > 5" class="text" text-anchor="middle" alignment-baseline="central" [attr.x]="node.width/2"
                                        [attr.y]="45">Users:{{node.numberOfUsers}}</svg:tspan>
                                </svg:text>
                                <svg:rect *ngIf="node.label.length <= 5 && node.nodeType != 'ApiCall'" [attr.width]="70" [attr.height]="30" stroke="black"
                                    [attr.fill]="'#666'" />
                                <svg:text *ngIf="node.label.length <= 5 && node.nodeType !='ApiCall'" alignment-baseline="central" [attr.x]="5" [attr.y]="15">
                                    <svg:tspan *ngIf="node.label.length <= 5" text-anchor="middle" alignment-baseline="central" [attr.x]="35" [attr.y]="15">{{node.completeLabel}}</svg:tspan>
                                </svg:text>
                                <svg:rect *ngIf="node.label.length <= 5 && node.nodeType === 'ApiCall'" [attr.width]="70" [attr.height]="30" stroke="black"
                                    [attr.fill]="'#fff'" />
                                <svg:text *ngIf="node.label.length <= 5 && node.nodeType === 'ApiCall'" alignment-baseline="central" [attr.x]="5" [attr.y]="15">
                                    <svg:tspan *ngIf="node.label.length <= 5" text-anchor="middle" class="text" alignment-baseline="central" [attr.x]="35" [attr.y]="15">{{node.completeLabel}}</svg:tspan>
                                </svg:text>
                                <svg:rect *ngIf="node.label.length <= 5" [attr.y]="30" [attr.width]="70" stroke="black" [attr.height]="30" [attr.fill]="'#fff'"
                                />
                                <svg:text *ngIf="node.label.length <= 5 && node.nodeType !='ApiCall'" class="text" alignment-baseline="central" [attr.x]="5"
                                    [attr.y]="45">
                                    <svg:tspan *ngIf="node.label.length <= 5" class="text" text-anchor="middle" alignment-baseline="central" [attr.x]="35" [attr.y]="45">Users:{{node.numberOfUsers}}</svg:tspan>
                                </svg:text>
                            </svg:g>
                        </ng-template>

                        <ng-template #linkTemplate let-link>
                            <svg:g class="edge">
                                <svg:path class="line" stroke-width="2" marker-end="url(#arrow)">
                                </svg:path>
                                <svg:text class="edge-label" text-anchor="middle">
                                    <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">
                                        {{link.label}}({{link.numberOfClicks}})
                                    </textPath>
                                </svg:text>
                            </svg:g>
                        </ng-template>

                    </ngx-graph>

                </div>
            </div>
        </main>



    </div>
</div>