.Visitor {
    width: 49%;
    margin: 1px;
    float: left;
    border: 1px solid #ccc;
}
.Visitor-header {
    background-color: #f6f8fa;
    color: #123;
    display: flow-root;
    width: 100%;
    padding: 10px;
    border: 1px solid #dfe2e5;
}
.Visitor-header a {
    width: 100%;
    float: left;
    text-decoration: none;
    text-decoration-style: wavy;
}

.Visitor-header a:visited {
    color: pink;
}

.Visitor-header p {
    width: 100%;
    float: left;
    margin: 0;
    margin-top: 2px;
    padding: 0;
    font-size: 12px;
}

.Visitor-footer {
    display: flex;
    float: left;
    width: 100%;
}
.Visitor-footer-stat {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    border: 1px solid #dfe2e5;
    padding: 5px;
    font-size: 0.8em;
}
.Visitor-footer-stat-num {
    font-weight: 700;
}
