<div style="height:100%">
        <div id="content_wrapper" class="fullWidth1-wrapper">
            <div class="content">
                <div class="header-wrapper header-sm">
                    <header class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <h1>Support</h1>
                            </div>
                        </div>
                    </header>
                </div>
                <div class="content-body">
                    <div class="card text-center">
                        <h1> Coming soon</h1>
                    </div>
                  
                </div>
            </div>
        </div>
        <footer id="footer_wrapper" class="footer_wrapper"></footer>
    </div>