mat-form-field {
    width: 100%;
  }
  
  agm-map {
    height: 286px;
    width: 237px;
  }
  
  mat-list {
    max-height: 80vh;
    max-width: 90vh;
    min-width: 200px;
  }
  
  mat-list-item {
    margin: 10px -16px;
  }
  