<div>
    <h2 id="page-heading">
        <span>Sections</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-section" [routerLink]="['/section/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Section
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="sections?.length === 0">
        <span>No sections found</span>
    </div>
    <div class="table-responsive" *ngIf="sections?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Section Type</span></th>
            <th scope="col" ><span>Delay In Ms</span></th>
            <th scope="col" ><span>Hidden</span></th>
            <th scope="col" ><span>Content Id</span></th>
            <th scope="col" ><span>Content Emotion</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let section of sections ;trackBy: trackId">
                <td><a [routerLink]="['/section', section.id, 'view' ]">{{section.id}}</a></td>
                <td>{{section.sectionType}}</td>
                <td>{{section.delayInMs}}</td>
                <td>{{section.hidden}}</td>
                <td>{{section.contentId}}</td>
                <td>{{section.contentEmotion}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/section', section.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/section', section.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(section)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
