<!-- subscribe section -->
<section class="subscribe-bg">
   <div class="container">
      <div class="row">
         <div class="col-sm-12 col-lg-4">
            <div class="subscribe">
               <h3>Subscribe to Newsletter</h3>
            </div>
         </div>
         <div class="col-sm-12 col-lg-8">
            <div class="email-box">
               <form>
                  <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="Enter your email">
                  <button type="submit" class="btn btn-email">Subscribe</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- end subscribe section -->